body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  background-color: #2C5386;
}

body.fixed {
  overflow-y: hidden;
}
.app {
  position: relative;
  background-color: #F4F4F4;
  min-width: 1200px;
}
.app.app__nav--visible {
  min-width: 0;
  height: 100vh;
}
.app.app__nav--visible .app__nav__wrapper {
  left: 0;
  background-color: rgba(0,0,0,.6);
}
.app.app__nav--visible .app__container {
  left: 50%;
}

.notifications--visible .app__overlay,
.app.assistance--visible .app__overlay,
.app.overlay--visible .app__overlay,
.app.add-comment--visible .app__overlay {
  opacity: 1;
  pointer-events: auto;
}
.notifications--visible .notifications {
  right: 0;
}
.notifications--visible .app__container {
  left: -25%;
}


.app.document__comments--visible .document__comments {
  right: 0;
  box-shadow: 0 -10px 200px rgba(0,0,0,.3);
}
.app.document__comments--visible .document__info-data {
  margin-right: 320px;
  margin-right: 25%;
}
.app.document__comments--visible .document__info-data {
    width: 75%;
}

.app.document__info--visible .document__info {
  left: 0;
}
.app.document__info--visible .document__info-data {
    left: 25%;
    width: 75%;
}



.app.document__info--visible.document__comments--visible .document__info-data {
    width: 50%;
}






.app.document__info--visible .document__data {
  width: 100%;
  left: 0;
}




.add-comment--visible .document__comments .add-comment {
  z-index: 999;
  box-shadow: 0 0 100px rgba(0,0,0,.5);
}






.app__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 2;
  opacity: 0;
  pointer-events: none;

  transition: opacity .3s ease-in-out;
}

.app__nav__wrapper {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: all .3s ease-in-out;
  background-color: transparent;
  overflow-y: auto;

  color: #FFF;
}

.app__nav {
  width: 50%;
  min-height: 100%;
  z-index: 5;
  background-color: #2C5386;
}
.app__nav .tabs__panel {
  padding: 10px;
}
.app__nav .nav__search {
  position: relative;
}
.app__nav .nav__search .search__input {
  width: 100%;
  padding: 14px 10px 14px 40px;
  color: #FFF;
  transition: all .3s ease-in-out;
}
.app__nav .nav__search .search__input:focus {
  background-color: #1b4275;
}
.app__nav .nav__search .search__input::-webkit-input-placeholder {
  color: #ACB6C8;
  font-style: italic;
}
.app__nav .nav__search .search__submit-icon {
  position: absolute;
  top: 15px;
  left: 14px;
  color: #acb6c8;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.app__nav .nav__search .search__submit-icon:before {
  content: "\e036";
  font-family: 'pmx';
}
.app__nav .nav__search .search__input:focus + .search__submit-icon {
  color: #FFF;
}
.app__nav .nav__search .search__input:focus::-webkit-input-placeholder {
  opacity: 0;
}


.notifications {
  position: fixed;
  z-index: 2;
  width: 25%;
  height: 100vh;
  top: 0;
  right: -25%;
  transition: right .3s ease-in-out;
  background-color: #2C5386;
  color: #FFF;
}
.notifications__userInfo {
  position: relative;
  padding: 15px;
  background-color: #284b78;
}
.notifications__userInfoAvatar {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: top;
  margin: 0 8px 0 0;
}
.notifications__userInfoAvatar img {
  border-radius: 100%;
}
.notifications__userInfoName {
  position: relative;
  display: inline-block;
  width: 215px;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  vertical-align: middle;
  padding: 0;
}
.notifications__userInfoName span {
  display: block;
}

.notifications__actionsList {
  margin: 0 0 50px;
}
.notifications__actionsList li {
  transition: all .3s ease-in-out;
}
.notifications__actionsList li:hover {
  background-color: #1b3a66;
}
.notifications__actionsList li:hover:not(:last-child) a {
    border-bottom: 1px solid #1b3a66;
}
.notifications__actionsList li a {
  display: block;
  padding: 8px 2px;
  margin: 0 5px 0 15px;
  font-size: 16px;
  font-weight: 400;
}
.notifications__actionsList li a i {
  position: relative;
  top: 1px;
  margin: 0 8px 0 0;
}
.notifications__actionsList li a i:before {
  font-family: 'pmx';
}
.notifications__actionsList li a i.help::before {
  content: '\e127';
}
.notifications__actionsList li a i.settings::before {
  content: '\e023';
}
.notifications__actionsList li a i.logout::before {
  content: '\e128';
}
.notifications__actionsList li:not(:last-child) a {
  border-bottom: 1px solid #163A69;
}
.notifications__actionsList--account li a {
  font-size: 14px;
}

.app__container {
  position: relative;
  left: 0;
  background-color: #2C5386;
  transition: all .3s ease-in-out;
}

.app__header {
  position: relative;
  padding: 5px 20px;
}
.app__header:after {
  content: '';
  display: table;
  clear: both;
}






.top-bar {
  color: #FFF;
}
.top-bar__left {
  float: left;
  cursor: pointer;
}
.top-bar__right {
  float: right;
}
.top-bar__item {
  position: relative;
  display: inline-block;
  padding: 10px;
}
.top-bar__itemMenu {
  padding: 10px 0;
}
.top-bar__itemMenu .main-nav__toggle {
  position: relative;
  top: 3px;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  padding: 1px;
  line-height: 1;
}
.top-bar__itemMenu .main-nav__toggle:before {
    content: "\e120";
    font-family: 'pmx';
}

.top-bar__itemTitle h1 {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
}

.top-bar__itemSearch {

}
.top-bar__itemCreate {
  cursor: pointer;
}
.top-bar__itemAccount {
  cursor: pointer;
}
.top-bar__itemSearch .search-box {
  position: relative;
  width: 300px;
}
.top-bar__itemSearch .search-box .search-box__input {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #214676;
  border-radius: 15px;
  font-size: 18px;
  padding: 3px 12px 3px 38px;
  font-weight: 300;
}
.top-bar__itemSearch .search-box .search-box__input:focus + .search-box__submit {
  color: #FFF;
}
.top-bar__itemSearch .search-box .search-box__submit {
  position: absolute;
  top: 6px;
  left: 14px;
  color: #9191af;
  transition: all .3s ease-in-out;
}
.top-bar__itemSearch .search-box .search-box__submit:before {
  content: "\e036";
  font-family: 'pmx';
}
.top-bar__itemCreate .icon__create:before {
  content: '\e114';
  font-family: 'pmx';
}
.top-bar__itemAccount .icon__account:before {
  content: '\e074';
  font-family: 'pmx';
}





.app__header .breadcrumbs {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  clear: both;
  float: left;
  transition: all .3s ease-in-out;
    color: #8c8ba5;
}
.app__header .breadcrumbs:hover {
    color: #EEE;
}
.app__header .breadcrumbs .breadcrumb {
  position: relative;
  display: inline-block;
}
.app__header .breadcrumbs .breadcrumb:not(:first-child) {
  margin: 0 0 0 14px;
}
.app__header .breadcrumbs .breadcrumb.active {
  z-index: 99999999;
  color: #FFF;
  opacity: 1;
}
.app__header .breadcrumbs .breadcrumb.active::before {
    color: #8c8ba5;
}
.app__header .breadcrumbs .breadcrumb.active .breadcrumb__selector {
  opacity: 1;
  pointer-events: auto;
  top: 20px;
}

.app__header .breadcrumbs .breadcrumb .breadcrumb__selector {
  position: absolute;
  top: -10px;
  left: 7px;
  background-color: #FFF;
  z-index: 9999;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
  min-width: 250px;

  transition: all .3s ease-in-out;

  opacity: 0;
  pointer-events: none;
}
.app__header .breadcrumbs .breadcrumb .breadcrumb__selector input {
  width: 100%;
  padding: 10px 12px;
  box-shadow: 0 5px 50px rgba(0,0,0,.2);
  color: #000;
}
.app__header .breadcrumbs .breadcrumb .breadcrumb__selector ul {

}
.app__header .breadcrumbs .breadcrumb .breadcrumb__selector ul li {
    padding: 10px 12px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: all .2s ease-in-out;
    height: 40px;
}
.app__header .breadcrumbs .breadcrumb .breadcrumb__selector ul li:nth-of-type(odd) {
  background-color: #F2F2F2;
}
.app__header .breadcrumbs .breadcrumb .breadcrumb__selector ul li:hover {
  background-color: rgba(13, 74, 134, 1);
  color: #FFF;
}
.app__header .breadcrumbs .breadcrumb:not(:first-child):before {
    content: '/';
    position: absolute;
    top: -2px;
    left: -12px;
    line-height: 20px;
    font-size: 16px;
}
.app__header .breadcrumbs .breadcrumb .title {
    font-size: 14px;
    font-weight: 400;
}
.app__header .breadcrumbs .breadcrumb.active .title,
.app__header .breadcrumbs .breadcrumb .title:hover {
    opacity: 1;
}

.app__header .breadcrumbs .breadcrumb .title .link {
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    padding: 0px 6px;
    text-transform: uppercase;
    cursor: pointer;
    top: -3px;
    font-size: 10px;
}
.app__header .breadcrumbs .breadcrumb .title .link:hover {
    transition: all .3s ease-in-out;
    color: #FFF;
}
.app__header .breadcrumbs .breadcrumb .title .label {
    display: inline-block;
    white-space: nowrap;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
}









.app__document {
  position: relative;
  margin: 0 0 0 20px;
  background-color: #F2F2F2;
  min-height: 100vh;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
}

.app__document .document__visual-identifier {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.app__document--meeting .document__visual-identifier {
  border-top: 2px dashed #2C5386;
}
.app__document--meeting .document__visual-identifier span {
  position: relative;
  display: inline-block;
  background-color: #bf920b;
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 5px 1px 15px;
  margin: 10px 0 0;
}
.app__document--meeting .document__visual-identifier span:after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 7px solid #bf920b;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #bf920b;
}
.app__document--bug .document__visual-identifier span {
  position: relative;
  display: inline-block;
  background-color: #bf920b;
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 10px 1px 15px;
  border-radius: 0 10px 10px 0;
}
.app__document--bug .document__header {
  border-bottom: 2px dashed #2C5386;
}
.app__document--bug .document__header:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #2C5386;
}
.app__document--bug .document__header:after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #2c2c2c;
}
.app__document--story .document__visual-identifier span {
    position: relative;
    display: inline-block;
    background-color: #11cfff;
    color: #FFF;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding: 12px 5px 3px 7px;
    margin: 0 0 0 10px;
    letter-spacing: 1px;
}
.app__document--story .document__visual-identifier span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 5px solid #f2f2f2;
  border-bottom: 26px solid transparent;
}
.app__document--story .document__visual-identifier span:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  border-left: 5px solid #11cfff;
  border-bottom: 26px solid transparent;
}
.app__document--story .document__header {
  background: repeating-linear-gradient( -65deg, #f2f2f2, #f2f2f2 10px, #fff 10px, #fff 20px );
  border-bottom: 0;
}
.app__document--story .document__header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
}

.document__header {
  position: relative;
  padding: 26px 10px 10px 10px;
  border-bottom: 2px solid #F2F2F2;
}
.document__header h2 {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.document__header h2 .id {
    position: relative;
    display: inline-block;
    font-size: 10px;
    border-radius: 15px;
    top: -12px;
    left: 1px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}
.document__header .status {
    display: inline-block;
    float: right;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px 12px;
    margin: 0 10px;
    border-radius: 15px;
    letter-spacing: 1px;
    position: relative;
    line-height: 14px;
    font-size: 14px;
}
.document__header .actions {
  display: inline-block;
  float: right;
}
.document__header .actions i {
  position: relative;
  font-size: 18px;
  margin: 5px 12px;
  color: #969696;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.document__header .actions i:hover {
    color: #bf920b;
}
.document__header .actions .process--toggle {
    color: #bf920b;
}
.document__info--visible .document__header .actions .process--toggle {
    color: #969696;
}
.document__comments--visible .document__header .actions .media--toggle {
    color: #bf920b;
}
.document__info--visible .document__header .actions .process--toggle:hover,
.document__comments--visible .document__header .actions .media--toggle:hover {
    color: #bf920b;
}
.document__header .actions i:before {
  font-family: 'pmx';
}
.document__header .actions i.more:before {
  content: '\e129';
}
.document__header .actions i.delete:before {
  content: '\e109';
}
.document__header .actions i.mail:before {
  content: '\e002';
}
.document__header .actions i.print:before {
  content: '\e020';
}
.document__header .actions i.hourglass:before {
  content: '\e908';
}
.document__header .actions i.bookmark:before {
  content: '\e009';
}
.document__header .actions i.process:before {
  content: '\e004';
}
.document__header .actions i.media:before {
  content: '\e030';
}
.document__content {
  position: relative;
  font-size: 0;
}

.document__info-data {
    position: relative;
    margin-bottom: 50px;
    transition: margin .3s ease-in-out;
    width: 100%;
    left: 0;
    transition: all .3s ease-in-out;
}
.document__info {
  position: relative;
  display: inline-block;
  width: 25%;
  left: -25%;
  font-size: 14px;
  float: left;
  transition: width .3s ease-in-out, opacity .3s ease-in-out;
}





.document__steps {
  position: relative;
}
.document__steps:before {
  content: '';
  position: absolute;
  width: 2.5px;
  border-radius: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background: #29c5ff;
  background: -moz-linear-gradient(top, #29c5ff 19%, #c80000 29%);
  background: -webkit-linear-gradient(top, #29c5ff 19%,#c80000 29%);
  background: linear-gradient(to bottom, #29c5ff 19%,#c80000 29%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c5ff', endColorstr='#c80000',GradientType=0 );

  display: none;
}



.step {
    position: relative;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    padding: 12px 10px 8px 20px;
}
.step:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 30px;
    width: 2px;
    height: calc(100% - 13px);
    background-color: #29C5FF;
    border-radius: 30px;
}
.step--resolved::before {
}
.step.step--current::before {
    background: #29c5ff;
    background: -moz-linear-gradient(top, #29c5ff 0%, #c80000 100%);
    background: -webkit-linear-gradient(top, #29c5ff 0%,#c80000 100%);
    background: linear-gradient(to bottom, #29c5ff 0%,#c80000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c5ff', endColorstr='#c80000',GradientType=0 );
}
.step.step--unresolved::before {
    background-color: #c80000;
}

.step.step--resolved .step__label {
    cursor: pointer;
}
.step.step--unresolved .step__label {
    color: #CACACA;
    font-style: normal;
}
.step.step--current .step__label {
    border-bottom: 2px solid #000;
    padding: 0 0 3px 0;
    font-weight: 600;
    font-style: normal;
}


.step__symbol {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 3px;
    width: 6px;
    height: 6px;
    background-color: #29C5FF;
    border-radius: 100%;
}
.step--unresolved .step__symbol {
    background-color: #c80000;
}

.step__info {

}
.step__info p {
    font-size: 14px;
    margin: 0 0 15px 0;
    color: #CACACA;
}














.document__data {
    position: absolute;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    width: 100%;
    transition: width .3s ease-in-out, left .3s ease-in-out;
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
    border-radius: 5px;
}
.document__data .header {
    position: relative;
    padding: 15px 20px;
    overflow: hidden;
    background-color: #FFF;
}
.document__data .header .line {
    position: absolute;
    bottom: 6px;
    left: 0;
    white-space: nowrap;
    letter-spacing: 3px;
    color: #CCC;
    width: 100%;
    line-height: 0;
    font-size: 12px;
}
.document__data .header h3 {
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.document__data .header .actions {
    float: right;
}
.document__data .header .actions ul li {
    display: inline-block;
}
.document__data .header .actions ul li span {
    display: block;
    position: relative;
    background-color: #11ceff;
    background: linear-gradient(to right, rgba(3,163,221,1) 0%,rgba(33,194,249,1) 100%);
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2px 14px;
    margin: 0 0 0 5px;
    border-radius: 25px;
    cursor: pointer;
}
.document__data .header .actions ul li span.cancel {
    background-color: transparent;
    background: none;
    color: red;
}
.document__data .tabs .tabs__nav {
    padding: 0 10px;
}
.document__data .tabs .tabs__panels .tabs__panel {
  padding: 0;
}
.document__comments {
    position: absolute;
    top: 0;
    right: -25%;
    width: 25%;
    background-color: #FFF;
    border-radius: 5px 0 0 5px;
    color: #000;
    font-size: 16px;
    padding: 0;
    margin: 0 0 20px 0;
    transition: all .3s ease-in-out;
    box-shadow: none;
}
.document__comments .tabs .tabs__nav {
  width: 100%;
  margin: 0 0 20px 0;
}
.document__comments .tabs .tabs__nav li {
    width: 31.3333333%;
    margin: 0 1%;
}
.document__comments .tabs .tabs__nav .tab__link {
  padding: 20px;
  font-size: 16px;
  font-style: normal;
}
.document__comments .tabs .tabs__nav .tab__link.speech-bubble {
    font-family: 'pmx';
}
.document__comments .items .item {
  margin: 10px 0;
}
.document__comments .items .item .item__user {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.document__comments .items .item--self .item__user {
  text-align: right;
}
.document__comments .items .item .item__postdate {
  position: relative;
  font-size: 10px;
  font-weight: 400;
  color: #616161;
  margin: 0 12px;
  text-align: right;
  opacity: 0;
  transition: all .5s ease-in-out;
  top: -16px;
  z-index: 0;
}
.document__comments .items .item .item__postdate > span {
  color: #393939;
  font-weight: 700;
  font-size: 9px;
}
.document__comments .items .item:hover .item__postdate {
  opacity: 1;
  top: 0;
}
.document__comments .items .item .item__inner {
  position: relative;
  z-index: 1;
  background-color: #00aeef;
  color: #FFF;
  border-radius: 0 10px 10px 10px;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
}
.document__comments .items .item--self .item__inner {
  background-color: #F1F1F1;
  color: #000;
  border-radius: 10px 0 10px 10px;
}
.document__comments .items .item .item__inner .tag__user {
  font-style: italic;
  opacity: .92;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}
.document__comments .items .item .item__inner .tag__user:hover {
  opacity: 1;
}
.document__comments .items .item .item__inner p {
  margin: 12px 0;
  line-height: 20px;
}
.document__comments .items .item .item__inner p:first-child {
  margin-top: 0;
}
.document__comments .items .item .item__inner p:last-child {
  margin-bottom: 0;
}
.document__comments .items .item--attachment .item__inner {
  min-height: 100px;
  overflow: hidden;
  cursor: pointer;
  background-color: #F4F4F4;
  color: #FFF;
}
.document__comments .items .item--attachment .item__inner .cover {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.document__comments .items .item--attachment .item__inner:hover .cover {
  transform: scale(1);
}
.document__comments .items .item--attachment .item__inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
    border-radius: 0 10px 10px 10px;
    transition: all .3s ease-in-out;
    z-index: 0;
}
.document__comments .items .item--attachment .item__inner .caption {
    position: absolute;
    bottom: 6px;
    transition: all .5s ease-in-out;
    z-index: 1;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.document__comments .items .item--attachment .item__inner:hover:after,
.document__comments .items .item--attachment .item__inner:hover .caption {
  opacity: 0;
}

.document__comments .add-comment {
  position: relative;
  background-color: #FFF;
  border-bottom: 1px dotted #CCC;
  font-size: 0;
  border-radius: 5px 0 0 0;
}
.document__comments .add-comment .add-comment__input {
  width: 100%;
  padding: 12px 80px 12px 12px;
  height: 48px;
  font-size: 16px;
  transition: all .3s ease-in-out;
}
.document__comments .add-comment .add-comment__actions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  text-align: right;
  font-size: 16px;
  padding: 0 4px;
}
.document__comments .add-comment .add-comment__actions i {
  display: inline-block;
  padding: 13px 6px 13px 6px;
  color: #bf920b;
  cursor: pointer;
}
.document__comments .add-comment .add-comment__input::-webkit-input-placeholder {
  font-style: italic;
  opacity: .7;
}






.sliders {
    position: relative;
}
.slider {
    position: relative;
    margin: 15px 20px;
}
.slider__header {
    position: relative;
    overflow: hidden;
}
.slider__header .line {
    position: absolute;
    white-space: nowrap;
    letter-spacing: 6px;
    font-size: 16px;
    line-height: 12px;
    color: #6e6e6e;
    top: 0;
}
.slider__header .label {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px 0 0;
    background-color: #FFF;
}
.slider__header .toggle {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFF;
    letter-spacing: .5px;
    padding: 0 16px 0 10px;
}
.slider__header .toggle::after {
    content: '\e003';
    font-family: 'pmx';
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 1px;
}
.slider__header .toggle.active::after {
    transform: rotate(180deg);
}
.slider__header .toggle.toggle--addNew {
}
.slider__header .toggle.toggle--addNew::after {
    content: '\e114';
}
.slider__header .toggle.toggle--link::after {
    content: '\e005';
}
.slider__body {
    overflow: hidden;

    display: none;
}

.slider__body.active {
    display: block;
}



/* Counters */

.counter {
  position: absolute;
  border-radius: 15px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(255, 0, 0);
  font-size: 22px;
  line-height: 0;
}
.counter:before {
  content: '\2022';
  font-family: 'Source Sans Pro';
}
.counter:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255, 0, 0, .7);
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s 1;
}




/* TEMP */

.fa {
  cursor: pointer;
}

@keyframes sonar {
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}
@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4); }
  50% {transform: scale(.9);}
  80% {transform: scale(1.2);}
  100% {transform: scale(1);}
}















.cni {
    padding: 0 20px;
}















.table {
    color: #000;
}
table {
  width: 100%;
  table-layout: auto;
}
table thead {
  background-color: #666;
}
table thead tr {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #D9D9D9;
    background: -moz-linear-gradient(top, #F2F2F2 0%, #D9D9D9 100%);
    background: -webkit-linear-gradient(top, #F2F2F2 0%, #D9D9D9 100%);
    background: linear-gradient(to bottom, #F2F2F2 0%, #D9D9D9 100%);
}
table thead tr th {
    font-weight: 400;
    border-bottom: 2px solid #006699;
    border-top: 2px solid transparent;
    font-size: 16px;
    outline: 0;
    padding: 15px;
    color: #999;
}
table thead tr th:first-child {
}
table thead tr th:last-child {
}
table tr {
  background-color: #FFF;
}
table tr:nth-of-type(odd) {
  background-color: #F2F2F2;
}
table tr td {
    padding: 13px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
