---
---

body {
  font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "tenforce", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'tenforce', 'Source Sans Pro', Arial, sans-serif;
  font-family: 'Source Sans Pro', 'tenforce', Arial, sans-serif;
  font-kerning: normal;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "kern" 1,"liga" 0;
  font-feature-settings: "kern" 1,"liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: #4692C3;

  &.fixed {
    overflow-y: hidden;
  }
  &.page-Selectors {
    background-color: #FFF;
    margin: 50px 25%;
  }
  &.page-Itembox {
    background-color: #FFF;
    margin: 50px 15%;
  }
  &.page-Font {
    background-color: #FFF;
  }
}

.app {
  position: relative;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 9000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }

  &__container {
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;
  }
}

.app.overlay--visible .app__overlay,
.app.add-comment--visible .app__overlay {
  opacity: 1;
  pointer-events: auto;
}

.add-comment--visible .document__comments .add-comment {
  z-index: 999;
  box-shadow: 0 0 100px rgba(0,0,0,.5);
}


input,
textarea {
  &::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: #C1C1C1;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    font-size: 16px;
  }
}
