---
---

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'tenforce', sans-serif;

  overflow-x: hidden;
  background-color: #2C5386;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &.fixed {
    overflow-y: hidden;
  }
}
body.page-Components,
body.page-Itembox,
body.page-Tag-picker,
body.page-Popups {
  background-color: #FFF;
  padding: 50px;
}
body.page-Popups .multiSelector {
  margin: 100px 0;
}



.app {
  position: relative;
  background-color: #F4F4F4;
}


.app.overlay--visible .app__overlay,
.app.add-comment--visible .app__overlay {
  opacity: 1;
  pointer-events: auto;
}



.add-comment--visible .document__comments .add-comment {
  z-index: 999;
  box-shadow: 0 0 100px rgba(0,0,0,.5);
}











.app__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}






.app__container {
  position: relative;
  left: 0;
  background-color: #2C5386;
  transition: all .3s ease-in-out;
  min-height: 100vh;

  overflow-x: hidden;
}








.app__document {
  position: relative;
  margin: 0 0 0 20px;
  background-color: #F2F2F2;
  box-shadow: 0 0 100px rgba(0,0,0,.2);

  min-height: 500px;
}

.app__document .document__visual-identifier {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.app__document--meeting .document__visual-identifier {
  border-top: 2px dashed #2C5386;
}
.app__document--meeting .document__visual-identifier span {
  position: relative;
  display: inline-block;
  background-color: #bf920b;
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 5px 1px 15px;
  margin: 10px 0 0;
}
.app__document--meeting .document__visual-identifier span:after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 7px solid #bf920b;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #bf920b;
}
.app__document--bug .document__visual-identifier span {
  position: relative;
  display: inline-block;
  background-color: #bf920b;
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 10px 1px 15px;
  border-radius: 0 10px 10px 0;
}
.app__document--bug .document__header {
  border-bottom: 2px dashed #2C5386;
}
.app__document--bug .document__header:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #2C5386;
}
.app__document--bug .document__header:after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #2c2c2c;
}
.app__document--story .document__visual-identifier span {
    position: relative;
    display: inline-block;
    background-color: #11cfff;
    color: #FFF;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding: 12px 5px 3px 7px;
    margin: 0 0 0 10px;
    letter-spacing: 1px;
}
.app__document--story .document__visual-identifier span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 5px solid #f2f2f2;
  border-bottom: 26px solid transparent;
  box-shadow: 2px 0 0 0 #11cfff;
}
.app__document--story .document__visual-identifier span:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  border-left: 5px solid #11cfff;
  border-bottom: 26px solid transparent;
  box-shadow: -2px 0 0 0 #11cfff;
}
.app__document--story .document__header {
  background: repeating-linear-gradient( -65deg, #f2f2f2, #f2f2f2 10px, #fff 10px, #fff 20px );
  border-bottom: 0;
}
.app__document--story .document__header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
}








.sticky-wrapper {
  height: 67px;
}
.sticky__header__wrapper {
  width: 100%;
  border-bottom: #CCC dashed 1px;
}

.is-sticky .sticky__header__wrapper {
  border-bottom: #CCC solid 1px;
}






.document__header {
  position: relative;
  padding: 26px 10px 10px 10px;
  border-bottom: 2px solid #F2F2F2;
}
.document__header h2 {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.document__header h2 .id {
    position: relative;
    display: inline-block;
    font-size: 10px;
    border-radius: 15px;
    top: -12px;
    left: 1px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}
.document__header .status {
    display: inline-block;
    float: right;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px 12px;
    margin: 0 10px;
    border-radius: 15px;
    letter-spacing: 1px;
    position: relative;
    line-height: 14px;
    font-size: 14px;
}
.document__header .actions {
  display: inline-block;
  float: right;
}
.document__header .actions i {
  position: relative;
  font-size: 18px;
  margin: 5px 12px;
  color: #969696;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.document__header .actions i:hover {
    color: #bf920b;
}
.document__header .actions .process--toggle {
    color: #bf920b;
}
.document__info--visible .document__header .actions .process--toggle {
    color: #969696;
}
.document__comments--visible .document__header .actions .media--toggle {
    color: #bf920b;
}
.document__info--visible .document__header .actions .process--toggle:hover,
.document__comments--visible .document__header .actions .media--toggle:hover {
    color: #bf920b;
}
.document__content {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 100%;
}





.panel__left {
  float: left;
  width: 25%;

}
.panel__center {
  float: left;
  width: 50%;
}




.document__info-data {
    margin-bottom: 50px;
}
.document__info {
  font-size: 14px;
}






.document__data {
    position: relative;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    transition: all .3s ease-in-out;
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
    padding-bottom: 10px;
}
.document__data .header {
    position: relative;
    padding: 15px 20px;
    overflow: hidden;
    background-color: #FFF;
}
.document__data .header .line {
    position: absolute;
    bottom: 6px;
    left: 0;
    white-space: nowrap;
    letter-spacing: 3px;
    color: #CCC;
    width: 100%;
    line-height: 0;
    font-size: 12px;
}

.document__data .is-sticky-docheader .header  {
  border-bottom: #CCC solid 1px;
}

.is-sticky-docheader .line {
  display: none;
}

.document__data .header h3 {
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.document__data .header .actions {
    float: right;
}
.document__data .header .actions ul li {
    display: inline-block;
}
.document__data .header .actions ul li span {
    display: block;
    position: relative;
    background-color: #11ceff;
    background: linear-gradient(to right, rgba(3,163,221,1) 0%,rgba(33,194,249,1) 100%);
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2px 14px;
    margin: 0 0 0 5px;
    border-radius: 25px;
    cursor: pointer;
}
.document__data .header .actions ul li span.cancel {
    background-color: transparent;
    background: none;
    color: red;
}
.document__data .tabs .tabs__nav {
    padding: 0 10px;
}
.document__data .tabs .tabs__panels .tabs__panel {
  padding: 0;
}
