---
---

@font-face {
  font-family: 'pmx';
  src: url('../assets/fonts/pmx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tenforce';
  src: url('../assets/fonts/tenforce.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@import "variables.css";

body {
  font-family: 'Source Sans Pro', 'tenforce', Arial, sans-serif;
  font-kerning: normal;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "kern" 1,"liga" 0;
  font-feature-settings: "kern" 1,"liga" 0;
  text-rendering: optimizeLegibility;
  background-color: #2C5386;

  &.fixed {
    overflow-y: hidden;
  }
  &.page-Drag {
    background-color: #FFF;
    margin: 50px 5%;
  }
  &.page-Itembox {
    background-color: #FFF;
    margin: 50px 5%;
  }
  &.page-Font {
    background-color: #FFF;
  }
}

.container-master {
  position: relative;
  left: 0;
  transition: all .3s ease-in-out;
  max-width: 100vw;
  width: 100%;
}



/* Applicable sliders */

.appl-sliders {
  position: relative;
}
.appl-slider {
  position: relative;
  margin: 15px 20px;

  &__header {
    position: relative;
    overflow: hidden;

    &Line {
      position: absolute;
      white-space: nowrap;
      letter-spacing: 6px;
      font-size: 16px;
      line-height: 12px;
      color: #6e6e6e;
      top: 0;
    }

    &Label {
      position: relative;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      padding: 0 10px 0 0;
      background-color: #FFF;
    }

    &Toggle {
      position: absolute;
      top: 4px;
      right: 0;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #FFF;
      letter-spacing: .5px;
      padding: 0 0 0 10px;
      text-decoration: none;
      color: #000;


      &::after {
        content: '܊';
        padding: 0 0 0 5px;
      }

      &--active::after {
        content: '܋';
      }

      &--addNew::after {
        content: '\e114';
      }

      &--link::after {
        content: '\e005';
      }
    }
  }
  &__body {
    overflow: hidden;
    display: none;
  }
}
