---
---

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/* Fonts */

.fnt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;
    color: #000;
  }

  &--placeholder {

  }

  &--label {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808080;
  }

  &--action {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    color: #C79D54;
  }
}


h2 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
}

.font--sm {
  color: #808080;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font--label {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #B1B1B1;
}

.font--placeholder {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.4);
}
