---
---

/* Flex */

.flex {
  &-grow {
    &-0 {
      flex-grow: 0;
    }
    &-1 {
      flex-grow: 1;
    }
    &-2 {
      flex-grow: 2;
    }
    &-3 {
      flex-grow: 3;
    }
    &-4 {
      flex-grow: 4;
    }
    &-5 {
      flex-grow: 5;
    }
    &-6 {
      flex-grow: 6;
    }
  }
}

/* Text */

h2,
.h2 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

h6,
.h6 {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #808080;
}

.text-base {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

.text-xs {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-placeholder {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  text-transform: none;
  opacity: .4;
}


/*
  Extend with custom framework classes
*/

/* Colors */

.primary {
  color: var(--color-gold);
}
.secondary {
  color: var(--color-red);
}

/* Links */

.link {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
  transition: all .3s ease-in-out;

  &--primary {
    color: var(--color-blue);

    &:hover {
      color: #047CB6;
    }
  }

  &:active {
    opacity: .5;
    transform: translateY(1px);
  }
}


/* Action */

.action {
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: translate(0, 0);

  &:hover {
    transform: translate(0, -2px);
  }
}

.inline-action {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: translate(0, 0);

  &:hover {
    transform: translate(0, -2px);
  }
}

.block-action {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
  padding: 5px;
  cursor: pointer;
  line-height: 30px;
  font-size: 16px;
  color: var(--color-gold);
  text-align: center;
  transition: all .3s ease-in-out;
  transform: translate(0, 0);
  backface-visibility: hidden;

  &:hover {
    transform: translate(0, -2px);
  }
}

/* States */

.disabled {
  filter: saturate(.7);
  opacity: .5;
  pointer-events: none;
  cursor: default;
}

.readonly {
  &:hover {
    transform: none;
  }
}
