---
---

/* Fonts */

.fnt {
  font-family: 'tenforce', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;
    color: #000;
  }

  &--placeholder {

  }

  &--label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808080;
  }

  &--action {
    font-family: 'tenforce', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    color: #C79D54;
  }
}
