---
---

.mobile {

  // background: repeating-linear-gradient(-45deg, #e1e1e1, #e1e1e1 1px, #f2f2f2 1px, #f2f2f2 10px);
  background-color: #F2F2F2;

  &__container {

    .panel__center {
      position: relative;
    }
    .panel__right {
      padding: 1px 10px 0 10px;
    }

    &.mobile_panel {
      &--right {
        .panel__right {
          right: 0%;
          width: 50%;
        }
        .panel__center {
            width: 50%;
        }
      }

      &--left {
        .panel__left {
            width: 25%;
            left: 0;
        }
        .panel__center {
            width: 75%;
            left: 25%;
        }
      }
    }
  }

  &__content {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 100%;

    .panel__left {
      top: 15px;
    }
    .panel__center {
      margin-top: 15px;

      header {
        border-bottom: 1px dashed #ccc;
      }
    }

    .panel__right {
      top: 15px;
      right: -25%;

      .document__comments {
        position: absolute;
        right: unset;
        bottom: unset;
        width: 100%;
        transition: right .3s ease-in-out;
        background-color: #FFF;
        color: #000;
        font-size: 16px;
        padding: 0;
      }
    }

  }

  &__header {
    background: #222;

    .app-navigator {
      padding: 0 1%;

      &__left {
        width: unset;
      }

      &__center {
        display: inline-block;
        width: calc(100% - 81px);
        text-align: center;
      }

      &__item {
        &--white a {
          color: white;
        }

        &--blue a {
          color: deepskyblue;
        }
      }
    }
  }

  &__document {
    margin: 0;

    .document {
      &__identifier {
        padding: 0 1% 0 1%;
        width: fit-content;
        border-radius: 0 500px 500px 0;
        background-color: orange;
        font-weight: 600;
        letter-spacing: 1px;

        span {
          text-transform: uppercase;
          color: black;
          font-size: 12px;
          vertical-align: middle;
        }
      }

      &__header {
        text-transform: uppercase;
        font-weight: 600;
        padding: 0.5%;
        border-bottom: 2px dashed black;

        .status {
          text-transform: uppercase;
          color: black;
          border-color: transparent;
          background: lightgray;
          padding: 5px 12px;
        }

        .view-selector {
          display: inline-block;
          float: right;
          font-weight: normal;

          .pmx-selector__value {
            &:hover, &--selected {
              .pmx-selector__label {
                color: #bf920b;
              }
            }
          }
        }

        .actions {
          li {
            display: inline-block;
            color: #bf920b;
            font-weight: normal;
            font-size: 20px;
            padding: 0 5px;
          }
        }
      }

      &__content {
        height: 100%;
      }
    }
  }
}
