---
---

*::before,
*::after {
  font-family: 'pmx';
}

body {
  font-size: 14px;
}

.tabline {
  background-color: #2C5386;

  .tab-scroller {
    ul {
      &.tabs {
        li {
          &.tab {
            background-color: #224066;

            &::before {
              border-top: 15px solid #2C5386;
            }

            &.tab-fixed {
              border-top: 2px dotted #224066;
            }

            &.tab-selected {
              background-color: #4692C3;
            }
          }
        }
      }
    }
  }
}



.old-multiselect-popup,
.old-multiselect-tab {
  display: block !important;
}
.old-multiselect-popup--hidden, .old-multiselect-tab--hidden {
  display: none !important;
}
.JS_old-multiselect-tab-negative span.checked:before,
.JS_old-multiselect-tab-negative span.checked:hover:before {
  color: red;
}




.selected sup {
  display: none;
}



.databox.itembox {
  * {
    box-sizing: border-box;
  }

  ul {
    &.itembox li {
      background-color: inherit;
    }
  }

  li {
    ul {
      &.columns {
        li {
          height: 29px;

          &.action {
            padding: 6px 0;
          }
        }
      }
    }

    .inlinefilter {
      tr {
        background-color: #E6E6E6;

        td {
          &.titlefilter {
            input,
            .solidinput.haspicker {
              height: 16px;
            }
          }
        }
      }
    }
  }
}



#picker.solidinput .newpicker {
  &.bottom .newpickercontent-wrapper {
    top: 14px;
  }

  #tabs {
    margin: -10px;
    margin-bottom: unset;
    padding: 10px;
    text-align: center;
  }

  .newpickercontent {
    .inlinesearch {
      &::before {
        padding: 11px 5px;
      }

      input.text.empty {
        width: 100%;
        height: auto;
      }
    }
  }
}


.footer {
  padding: 0 20px 20px;
}





.item-detail .tid-content h3, .item-detail .tid-content .newgrid h3 {
  color: #285C9E;
  font-size: 18px;
  margin: 0;
  padding: 0 0 20px;
  border: 0;
}
.item-detail #item_upload_wrapper {
  border: 0;
}

.newgrid dl {
  width: auto;
}

.radio {
  height: 20px;
}


.item-detail #item_upload_wrapper.newgrid dl dt.label,
.item-detail #item_upload_wrapper.newgrid dl dt.largelabel,
.item-detail #item_upload_wrapper.newgrid dl dd.largevalue,
.item-detail #item_upload_wrapper.newgrid dl dd.value {
  width: 100%;
  margin: 0;
}
.item-detail #item_upload_wrapper.newgrid dl dd.value input.text.wide,
.item-detail #item_upload_wrapper.newgrid dl dd.valuetextarea.wide,
.item-detail #item_upload_wrapper.newgrid dl dd.value select.wide {
  width: 100%;
}
.item-detail #item_upload_wrapper dl dt.label {
  color: #666;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 5px;
}

.item-detail #item_upload_wrapper.newgrid dl dd.value .addcontent.fixed {
  border: 0;
  color: #b0b0b0;
  font-style: italic;
  display: block;
  font-weight: normal;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #AAA;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-detail #item_upload_wrapper.newgrid dl dd.value textarea.full {
  border-bottom: 1px solid #AAA;
}

li.attachment .filename, li.attachment .meta .filename {
  width: auto;
}
li.attachment:hover .inner .filename {
  padding: 15px 0;
  left: -15px;
  width: calc(100% + 30px);
}
li.attachment .meta {
  padding: 0 0 15px;
  left: 0;
  width: 100%;
}
