---
---

:focus {
  outline: 0;
}

input, textarea, button:focus {
  outline: 0;
}

input, textarea {
  &::-webkit-input-placeholder {
    font-style: italic;
    color: rgba(0,0,0,.75);
  }

  &::placeholder {
    font-style: italic;
    color: rgba(0,0,0,.75);
    transition: color .3s ease-in-out;
  }

  &:hover {
    &::-webkit-input-placeholder,
    &::placeholder {
      color: rgba(0,0,0,.9);
    }
  }
}

html {
  line-height: normal;
}

@import "tailwind/animations.css";
@import "tailwind/backgrounds.css";
@import "tailwind/filters.css";
@import "tailwind/flexbox.css";
@import "tailwind/layout.css";
@import "tailwind/sizing.css";
@import "tailwind/spacing.css";
@import "tailwind/transforms.css";
@import "tailwind/transitions.css";
@import "tailwind/typography.css";

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Lists */

.list-reset li::before {
  display: none;
}

.list-blue li a {
  color: #01ADFF;
}
