---
---

/* Text */

.text-base {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

.text-xs {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-placeholder {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  text-transform: none;
  opacity: .4;
}

/* Links */

.link {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
  transition: all .3s ease-in-out;

  &--primary {
    color: var(--color-blue);

    &:hover {
      color: #047CB6;
    }
  }

  &:active {
    opacity: .5;
    transform: translateY(1px);
  }
}

/* Actions */

.action {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: translate(0, 0);

  &:hover {
    transform: translate(0, -2px);
  }
}

.inline-action {
  text-decoration: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: translate(0, 0);
  color: var(--color-gold);

  &:hover {
    transform: translate(0, -2px);
  }
}

.block-action {
  text-decoration: none;
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
  padding: 5px;
  cursor: pointer;
  line-height: 30px;
  font-size: 16px;
  color: var(--color-gold);
  text-align: center;
  transition: all .3s ease-in-out;
  transform: translate(0, 0);
  backface-visibility: hidden;

  &.text-white {
    color: white;
  }

  &:hover {
    transform: translate(0, -2px);
  }
}

/* Globals */

.bg-blue-dark {
  background-color: #2C5386;
}

.primary {
  color: var(--color-gold);
}
.secondary {
  color: var(--color-red);
}

.disabled {
  filter: saturate(.7);
  opacity: .5;
  pointer-events: none;
  cursor: default;
}
.readonly {
  &:hover {
    transform: none;
  }
}

.overlay-body {
  background-color: rgba(0,0,0,.25);

  &--text {
    background-color: rgba(0,0,0,.1);
  }
}
