<div class="px-4">
  <div class="field field--not-empty">
    <div class="field__label">Background</div>
    <div class="field__data">
      <div class="field__value">
        <div class="selector selector--singleselect selector--expanded selector--required JS_selector ">
          <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem" tabindex='0'>
            <div class="selector__block">
              <div class="selector__blockPart selector__blockPart--field JS_background_light">Light</div>
            </div>
          </div>
          <div class="selector__itemSeperator"></div>
          <div class="selector__item JS_selectorItem" tabindex='0'>
            <div class="selector__block">
              <div class="selector__blockPart selector__blockPart--prefix JS_background_dark">Dark</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_background_light').on('click', function() {
    $('body').css('background-color', 'white');
  });
  $('.JS_background_dark').on('click', function() {
    $('body').css('background-color', '#343434');
  });
</script>
