<div class="px-4">
  <div class="toolbox-field toolbox-field--not-empty">
    <div class="toolbox-field__label">Background</div>
    <div class="toolbox-field__data">
      <div class="toolbox-field__value">
        <div class="toolbox-selector toolbox-selector--singleselect toolbox-selector--expanded toolbox-selector--required JS_toolbox-selector JS_extra">
          <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected JS_toolbox-selectorItem" tabindex='0'>
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_background_light">Light</div>
            </div>
          </div>
          <div class="toolbox-selector__itemSeparator"></div>
          <div class="toolbox-selector__item JS_toolbox-selectorItem" tabindex='0'>
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix JS_background_dark">Dark</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_background_light').on('click', function() {
    $('body').css('background-color', 'white');
  });
  $('.JS_background_dark').on('click', function() {
    $('body').css('background-color', '#343434');
  });
</script>
