<div class="px-4">
  <div class="toolbox-field toolbox-field--not-empty">
    <div class="toolbox-field__label">Theme</div>
    <div class="toolbox-field__data">
      <div class="toolbox-field__value">
        <div class="toolbox-selector toolbox-selector--singleselect toolbox-selector--expanded toolbox-selector--required JS_toolbox-selector JS_extra">
          <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected JS_toolbox-selectorItem" tabindex='0'>
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_theme_normal">Normal</div>
            </div>
          </div>
          <div class="toolbox-selector__itemSeparator"></div>
          <div class="toolbox-selector__item JS_toolbox-selectorItem" tabindex='0'>
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix JS_theme_invert">Invert</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_theme_normal').on('click', function() {
    $('.toolbox-tabs').removeClass('toolbox-tabs--invert');
    $('.toolbox-selector, .toolbox-push, .toolbox-button').removeClass('filter-invert');
  });
  $('.JS_theme_invert').on('click', function() {
    $('.toolbox-tabs').addClass('toolbox-tabs--invert');
    $('.toolbox-selector, .toolbox-push, .toolbox-button').addClass('filter-invert');
    $('.JS_extra').removeClass('filter-invert');
  });
</script>
