<div class="toolbox-table JS_toolbox-table--children">
  <header class="header header--table">
    <div class="header__title">
      <h2>Integrated Release Management</h2>
    </div>
    <div class="header__actions">
      <button class="block-action disabled"></button>
      <button class="block-action">Print</button>
      <button class="block-action"></button>
      <button class="block-action JS_has-popup" data-popid="#toolbox-modal-columnpicker"></button>
    </div>
  </header>
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--thead">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner">
          <button class="toolbox-table__action"></button>
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Nr</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Title</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Assigned to</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-3">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Reported by customer</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,32072" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Add indicators in import/export</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Jonathan Langens" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-3">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData="blue,,,281;green,,,282;salmon,,,283" multiselect="true" selectedIndexes="1,2,3" %}
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,32750" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Source files of project in sub-folders of install folder</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Koen" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-3">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData="gray,,,275;black,,,scripting:common" multiselect="true" selectedIndexes="1,2" %}
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,32454" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Publish the "binary" and "selenium" (zip) packages as NuGet packages</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,_Not Assigned" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-3">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData="gray,,,275;yellow,,,276" multiselect="true" selectedIndexes="1,2" %}
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--tfoot">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
