<header class="header header--table">
  <div class="header__title">
    <h2>table section header above toolbox-table</h2>
  </div>
  {% comment %} header actions {% endcomment %}
  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>
{% comment %} toolbox-table Div {% endcomment %}
<div class="toolbox-table">
  {% comment %} group for row and possible children {% endcomment %}
  <div class="toolbox-table__row">
    {% comment %} row itself {% endcomment %}
    {% comment %} this is a thead row {% endcomment %}
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--thead">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}
      {% comment %} every header has the title as placeholder and can be used as filter {% endcomment %}

      {% comment %} expands and collapses current toolbox-table's children {% endcomment %}
      {% comment %} if nothing is expanded -> expand all children {% endcomment %}
      {% comment %} otherwise collapse all children {% endcomment %}
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_expand_header">
        <div class="toolbox-table__cellInner">
          <button class="toolbox-table__action"></button>
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">header cell 1</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">header cell 2 with flex-grow-2</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  {% comment %} group for row and possible children {% endcomment %}
  <div class="toolbox-table__row">
    {% comment %} item row itself, this is an itemrow, a simple row{% endcomment %}
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Permalink cell</div>
      </li>
    </ul>
  </div>

  {% comment %} item row {% endcomment %}
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}

      {% comment %} expands and collapses current row's children {% endcomment %}
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_expand">
        <div class="toolbox-table__cellInner">
          <button class="toolbox-table__action"></button>
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% comment %} a cell can contain any kind of data {% endcomment %}
          readonly cell with any kind of data in it
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Permalink cell</div>
      </li>
    </ul>

    {% comment %} if you want to add children, just include a new toolbox-table{% endcomment %}
    {% comment %} children are toolbox-table inside toolbox-table with transparent background{% endcomment %}

    {% comment %} special type of children is a sublist (belongs to a cell of the row not to the full row){% endcomment %}
    {% comment %} that has a gray background, see columnpicker options, child table, |||| action{% endcomment %}
    {% comment %} there the cell, what the sublist belongs to, gets an underline{% endcomment %}
    {% include blocks/toolbox-table/toolbox-table-inner.html %}
  </div>

  {% comment %} load more row if needed with smart text in it {% endcomment %}
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item toolbox-table__rowInner--action JS_loadMoreButton">
      <li class="toolbox-table__cell toolbox-table__cell--action">
        <div class="toolbox-table__cellInner">
          <button class="toolbox-table__action">Load <span>25</span> more out of 75</button>
        </div>
      </li>
    </ul>
  </div>

  {% comment %} itemrow tfoot {% endcomment %}
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--tfoot">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
</div>
