<header class="header header--section">
  <div class="header__title">
    <h3 class="truncate">table section header above toolbox-table</h3>
  </div>
  {% comment %} header actions {% endcomment %}
  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>
{% comment %} toolbox-table Div {% endcomment %}
<div class="toolbox-table">
  {% comment %} group for row and possible children {% endcomment %}
  <div class="toolbox-table__row">
    {% comment %} row itself {% endcomment %} {% comment %} this is a thead row {% endcomment %}
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--thead">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %} {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %} {% comment %} if there is an action in it, then it contans a button, otherwise
      only cellInner {% endcomment %} {% comment %} every header has the title as placeholder and can be used as filter {% endcomment %}

      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">header cell 1</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">header cell 2 with flex-grow-2</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  {% comment %} group for row and possible children {% endcomment %}
  <div class="toolbox-table__row">
    {% comment %} item row itself, this is an itemrow, a simple row{% endcomment %}
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <input class="toolbox-field__input" type="text" value="Example data">
        </div>
      </li>
    </ul>
  </div>

  {% comment %} itemrow tfoot {% endcomment %}
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--tfoot">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
</div>
