<header class="header header--section">
  <div class="header__title">
    <h3 class="truncate">Bugs<sup>76</sup></h3>
  </div>

  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>

<div class="toolbox-table">
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--thead">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_expand_header">
        <div class="toolbox-table__cellInner">
          <button class="toolbox-table__action"></button>
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Nr</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Title</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Assigned to</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-3">
        <div class="toolbox-table__cellInner">
          <div class="toolbox-field">
            <div class="toolbox-field__label">Reported by customer</div>
            <div class="toolbox-field__data">
              <div class="toolbox-field__value">
                <input class="toolbox-field__input" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Permalink cell</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Vasya Aksyonov" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Permalink cell</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Vasya Aksyonov" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_expand">
        <div class="toolbox-table__cellInner">
          <button class="toolbox-table__action"></button>
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Integrated Release Management</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,_Not Assigned" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
    </ul>
    {% include blocks/toolbox-table/toolbox-table-inner.html %}
    {% comment %} /.toolbox-table {% endcomment %}
  </div>

  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,31795" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Opening person detail page is slow (> 30 sec)</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Andriy Lisoyov" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,161531" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Backup Report [Failed] > backup.admin@tenforce.com > Belgacom-App > Job 2013-06-</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Manuel" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action">
        <div class="toolbox-table__cellInner"></div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,283377" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell flex-grow-2 toolbox-table__cell--permalink" tabindex="0">
        <div class="toolbox-table__cellInner">Kallo: statistiek geen tekst FW: stats</div>
      </li>
      <li class="toolbox-table__cell flex-grow-2">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Elton" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  {% include blocks/popup/ms-row-load-more.html %}

  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--tfoot">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
{% comment %} /.toolbox-table {% endcomment %}
