<div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPrefix" style="color: green;">܌</span>
      <span class="pmx-selector__blockField">dev-team</span>
    </div>
  </div>
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPrefix" style="color: green;">܌</span>
      <span class="pmx-selector__blockField">back-end</span>
    </div>
  </div>
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPrefix" style="color: green;">܌</span>
      <span class="pmx-selector__blockField">critical</span>
    </div>
  </div>
</div>
