<div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockField">Squad A</span>
    </div>
  </div>
  <div class="pmx-selector__value">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockField">Squad B</span>
    </div>
  </div>
  <div class="pmx-selector__value">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockField">Squad C</span>
    </div>
  </div>
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockField">Squad X</span>
    </div>
  </div>
</div>
