<div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
  <div class="pmx-selector__item pmx-selector__item--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Squad A</span>
    </div>
  </div>
  <div class="pmx-selector__item">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Squad B</span>
    </div>
  </div>
  <div class="pmx-selector__item">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Squad C</span>
    </div>
  </div>
  <div class="pmx-selector__item pmx-selector__item--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Squad X</span>
    </div>
  </div>
</div>
