<div class="item item--bug mx-4">
  <div class="sticky-header">
    {% include blocks/item-header/item-header.html %}
  </div>
</div>

<div id="ctl00_pagebody_container" class="mx-4">
    <div class="pagebody">
        <div id="itemdetailpage" class="item-detail ">
            <div id="ctl00_PageContentPlaceHolder_ctl00_ItemDetailContent">
                {% include blocks/old-pmx/old-pmx-item-detail-panel.html %}
                {% include blocks/old-pmx/old-pmx-comments-attachements-panel.html %}
            </div>
        </div><!-- /.item-detail -->
    </div><!-- /.pagebody -->
</div><!-- /.pagebody-container -->
