<!-- The list of days should look something like this: 1,2,3,4,5,6,7 -->
<!-- or: Mon,Tue,Wed,Thu,Fri,Sat,Sun -->
<!-- or: Mon,Tue,Wed,Thu,Fri,Sat,Sun -->

<!-- we make an array of it -->
{% assign splittedDays = {include.days} | split: "," %}

<ul class="itemBox__row itemBox__row--item">

<!-- and loop through the array -->
{% for splittedDay in splittedDays %}
  <!-- if the element contains a suffix '-' -->
  <!-- then it is from another month -->
  <!-- like -prev or -next -->
  <!-- make the day simply the part before the '-' -->
  <!-- and the second part into the class -->
  <!-- otherwise class is empty, and day is untouched -->
  {% assign day = {splittedDay} %}
  {% assign dayClass = "" %}

  {% if splittedDay contains "-" %}
    {% assign splittedDayArray = {splittedDay} | split: "-" %}
    {% assign day = {splittedDayArray.first} %}
    {% assign dayClass = {splittedDayArray.last} | prepend: "selector_date--" %}
  {% endif %}

  <li class="itemBox__cell">
    <div class="itemBox__cellInner">

      <div class="selector selector--expanded {{ dayClass }}">
        <div class="selector__item selector__item--selected">
          <div class="selector__block ">
            <div class="selector__blockPart selector__blockPart--field ">{{ day }}</div>
          </div>
        </div>
      </div>

    </div>
  </li>
{% endfor %}
</ul>
