{% comment %} The list of days should look something like this: 1,2,3,4,5,6,7 {% endcomment %}
{% comment %} or: Mon,Tue,Wed,Thu,Fri,Sat,Sun {% endcomment %}
{% comment %} or: Mon,Tue,Wed,Thu,Fri,Sat,Sun {% endcomment %}

{% comment %} we make an array of it {% endcomment %}
{% assign splittedDays = {include.days} | split: "," %}
<div class="toolbox-table__row">
  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">

  {% comment %} and loop through the array {% endcomment %}
  {% for splittedDay in splittedDays %}
    {% comment %} if the element contains a suffix '-' {% endcomment %}
    {% comment %} then it is from another month {% endcomment %}
    {% comment %} like -prev or -next {% endcomment %}
    {% comment %} make the day simply the part before the '-' {% endcomment %}
    {% comment %} and the second part into the class {% endcomment %}
    {% comment %} otherwise class is empty, and day is untouched {% endcomment %}
    {% assign day = {splittedDay} %}
    {% assign dayClass = "" %}

    {% if splittedDay contains "-" %}
      {% assign splittedDayArray = {splittedDay} | split: "-" %}
      {% assign day = {splittedDayArray.first} %}
      {% assign dayClass = {splittedDayArray.last} | prepend: "toolbox-selector_date--" %}
    {% endif %}

    <li class="toolbox-table__cell">
      <div class="toolbox-table__cellInner {{ dayClass }}">
        {{day}}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
