<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.5.3/tailwind.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/sass/tailwind-extend.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/tailwind-custom.css">


{% comment %} CDN OR USED PLUGINS NOT MADE BY US {% endcomment %}
{% comment %} cdn for animations {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2/velocity.ui.min.js"></script>

{% comment %} Plugins {% endcomment %}
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/clipboard.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/copy-clipboard.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/expand-collapse.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/init-expand-collapse.js"></script>

{% comment %} Components {% endcomment %}
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/field.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toolbox-overlay.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toolbox-selector.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/singleselect.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toolbox-tabs.js"></script>

{% comment %} toolbox-modal main{% endcomment %}
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/popup.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/reset.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/toolbox-modal.js"></script>

{% comment %} toolbox-modal plugins{% endcomment %}
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/animation.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/ms-calendar.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/ms-colorselector.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/ms-columnpicker-options.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/filter.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/incl-excl-filter.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/reset-to-default.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/sortable.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/toolbox-modal/sublist-closer.js"></script>
