  <div class="app cf item-progress--visible">

      <div class="toolbox-overlay"></div>

      <div class="app-navigator">
        {% include blocks/app-nav/app-nav.html %}
      </div>

      <div class="user-menu">
        {% include blocks/user-menu.html %}
      </div>

      <main class="container-master">
        <header class="app-header cf">
          {% include blocks/app-header/app-header.html %}
        </header>

          <div class="app__document app__document--story">
              <div class="sticky__header__wrapper">
                <div class="document__visual-identifier">
                  <span>Project</span>
                </div>
                <header class="document__header">
                  <h2>Open UX improvments <span class="id">3452</span></h2>

                  <div class="actions">
                    <i class="process process--toggle"></i>
                    <i class="media media--toggle"></i>
                  </div>

                {% comment %}
                  <div class="actions">
                    <i class="more"><span class="counter"></span></i>
                    <i class="delete"></i>
                    <i class="mail"><span class="counter"></span></i>
                    <i class="print"></i>
                    <i class="hourglass"></i>
                    <i class="bookmark"></i>
                    <i class="process process--toggle"></i>
                    <i class="media media--toggle"></i>
                  </div>
                {% endcomment %}

                  <div class="status">
                      <span>On schedule</span>
                  </div>
                </header>
              </div>

              <div class="document__content">

                <div class="panel__left">
                  {% include blocks/item-steps.html %}
                </div>

                <div class="panel__center">
                  <div class="document__info-data cf">
                    {% include blocks/document-data.html %}
                  </div>{% comment %} /.document__info-data {% endcomment %}
                </div>

                <div class="panel__right">
                  {% include blocks/item-comments/item-comments.html %}
                </div>

              </div>{% comment %} /.document__content {% endcomment %}
          </div>{% comment %} /.app__document {% endcomment %}
      </main>{% comment %} //container-master {% endcomment %}

  </div>{% comment %} /.app {% endcomment %}
