<div class="multiSelector"  id="multiSelector-0">

    <div class="multiSelector__box">

      <div class="multiSelector__search">
        <input type="search" class="multiSelector__searchInput" placeholder="filter through columns">
      </div>

    </div><!-- /.multiSelector__box -->

    <div class="multiSelector__box multiSelector__box--selection">

        <div class="itemBox">
          <div class="itemBoxTable">
            <div class="itemBoxBody">
              <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--selectedText">
                      <i>ऄ Selected</i>
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--remove itemBoxTable__action--removeAll itemBoxTable__action--removeAllSelected">ޅ</i>
                    </div>
                  </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody itemBoxBody--sortable">
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Assigned to</div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                          </div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Description</div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                          </div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Closed On</div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                          </div>
                        </li>
                    </ul>
                  </div>
                </div>
              </div><!-- /.itemBox -->
            </div>
          </div>
        </div><!-- /.itemBox -->

    </div><!-- /.multiSelector__box -->

    <div class="multiSelector__box multiSelector__box--options">

        <div class="itemBox">
          <div class="itemBoxTable">
            <div class="itemBoxBody">
              <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">
                      <i>ऄ All</i>
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--removeAll itemBoxTable__action--remove">ޅ</i>
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--add itemBoxTable__action--addAll">ބ</i>
                    </div>
                  </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody">
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner ">
                            <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Main attributes</div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--remove itemBoxTable__action--removeAll">ޅ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--add itemBoxTable__action--addAll">ބ</i>
                          </div>
                        </li>
                    </ul>
                    <div class="itemBox itemBox--children">
                      <div class="itemBoxTable">
                        <div class="itemBoxBody">
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Assigned to</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Attachements</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Description</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Due date</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Status</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                        </div>
                      </div>
                    </div><!-- /.itemBox -->
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner ">
                            <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Tracking and tracing</div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--remove itemBoxTable__action--removeAll">ޅ</i>
                          </div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner">
                            <i class="itemBoxTable__action itemBoxTable__action--add itemBoxTable__action--addAll">ބ</i>
                          </div>
                        </li>
                    </ul>
                    <div class="itemBox itemBox--children">
                      <div class="itemBoxTable">
                        <div class="itemBoxBody">
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Actual due date</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Actual start</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Closed On</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Created On</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                          <ul class="itemBoxTable__bodyRow">
                              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                                <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--text">Last update</div>
                              </li>
                              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                                <div class="itemBoxTable__bodyCellInner">
                                  <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                                </div>
                              </li>
                          </ul>
                        </div>
                      </div>
                    </div><!-- /.itemBox -->
                  </div>
                </div>
              </div><!-- /.itemBox -->
            </div>
          </div>
        </div><!-- /.itemBox -->

    </div><!-- /.multiSelector__box -->

</div><!-- /.multiSelector -->
