---
---

.breadcrumbs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--color-grey);
  white-space: nowrap;
  overflow: hidden;

  &--overflow {
    justify-content: flex-end;

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      bottom: 0;
      left: -10px;
      right: -10px;
      box-shadow: inset 0 0 20px rgba(0,0,0,.3);
      z-index: 3;
      pointer-events: none;
    }

    .breadcrumbs__item {
      &:first-child {
        position: absolute;
        top: 0;
        left: -1px;
        z-index: 2;
        opacity: 1;
        padding: 5px 10px;
        background-color: var(--color-grey);

        &::after {
          top: 12px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: -100px;
          width: 100px;
          pointer-events: none;
          background: linear-gradient(to right, rgba(192,192,192,1) 0%,rgba(255,255,255,0) 100%);
        }
      }
    }
  }

	&:hover {
    .breadcrumbs__item {
      > * {
	      opacity: 1;
      }
    }
	}

	&__item {
    display: flex;
    align-items: center;

    > * {
      transition: all .3s ease-in-out;
      opacity: .8;
    }

		&--active {
		  z-index: 99999999;
		  color: #FFF;
		  opacity: 1;

			.breadcrumbs__selector {
			  opacity: 1;
			  pointer-events: auto;
        top: -2px;
        left: 0px;
			}
		}
	}

  &__link {
    max-width: 300px;
    color: inherit;
    text-decoration: underline;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 0 3px;
  }

  &__separator {
    font-size: 16px;
    padding: 0 3px;
  }
}
