---
---

.breadcrumbs {
  position: relative;
  padding: 0 10px;
  margin: 0 20px;
  background: rgb(193,193,193);
  background: linear-gradient(0deg, rgba(193,193,193,1) 0%, rgba(211,211,211,1) 20%, rgba(217,217,217,1) 100%);

	&:hover {
    .breadcrumbs__item {
	    opacity: 1;
    }
	}

	&__item {
	  position: relative;
	  display: inline-block;
    line-height: 35px;
    margin: 0 20px 0 0;
    transition: all .3s ease-in-out;
    opacity: .5;

    &::after {
      content: '/';
      font-size: 22px;
      position: absolute;
      top: 0;
      right: -13px;
    }

		&--active {
		  z-index: 99999999;
		  color: #FFF;
		  opacity: 1;

			.breadcrumbs__selector {
			  opacity: 1;
			  pointer-events: auto;
        top: -2px;
        left: 0px;
			}
		}
	}

  .pmx-link {
    transition: all .3s ease-in-out;
    font-size: 16px;

    a {
      display: inline-block;
      max-width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
    }
  }


	&__selector {
	  position: absolute;
	  top: -10px;
	  left: 0;
	  background-color: #FFF;
	  z-index: 9999;
	  box-shadow: 0 0 100px rgba(0,0,0,.2);
	  min-width: 250px;
	  transition: all .3s ease-in-out;
	  opacity: 0;
	  pointer-events: none;

		input {
		  width: 100%;
		  padding: 10px 12px;
		  box-shadow: 0 5px 50px rgba(0,0,0,.2);
		  color: #000;
		}

		ul {
			li {
		    padding: 10px 12px;
		    font-size: 16px;
		    color: #000;
		    cursor: pointer;
		    transition: all .2s ease-in-out;
		    height: 40px;

				&:nth-of-type(odd) {
				  background-color: #F2F2F2;
				}

				&:hover {
				  background-color: rgba(13, 74, 134, 1);
				  color: #FFF;
				}
			}
		}
	}
}
