---
---

.push,
.btn {
  outline: 0;
  border: 0;
  overflow: visible;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 5px 18px;
  border-radius: 15px;
  text-align: center;
  transition: all .3s ease-in-out;
  font-size: 16px;
  background-color: var(--color-platinum);
  color: #000;
  box-shadow: 0 2px 0 #BFBFBF;
  backface-visibility: hidden;

  &:hover {
    transform: translatey(1px);
    box-shadow: 0 1px 0 #8E8E8E;
  }

  &--go {
    background-color: var(--color-blue);
    box-shadow: 0 2px 0 #0574A9;

    &:hover {
      box-shadow: 0 1px 0 #055074;
    }
  }

  &--drop {
    background-color: var(--color-red);
    box-shadow: 0 2px 0 #660202;

    &:hover {
      box-shadow: 0 1px 0 #660202;
    }
  }

  &--naked {
    background-color: transparent;
    text-decoration: underline;
    padding: 5px 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}
