---
---

.field {
  position: relative;
  margin: 18px 10px 30px 10px;
  padding: 12px 0 0;
  transition: all .3s ease-in-out;

  &--tooltip {
    .field {
      &__label {
        cursor: pointer;
      }
    }
  }

  &--error {
    .field {
      &__label {
        color: var(--color-red);
      }
    }
  }

  &--focus {
    .field__label {
      top: -1px;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #808080;
      opacity: 1;
    }

    .field__value {
      background-color: #FFF;
      box-shadow: 0 0 200px rgba(0, 0, 0, 0.4);
      z-index: 3;
    }
  }

  &__label {
    position: absolute;
    top: -1px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease-in-out;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808080;

    &--placeholder {
      top: 10px;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: normal;
      text-transform: none;
      opacity: .4;
    }
  }

  &__value {
    position: relative;
    min-height: 40px;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    background-color: transparent;
    transition: all .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      color: rgba(255, 255, 255, 0.95);
      box-shadow: inset -10px 0 20px 0;
      pointer-events: none;
      z-index: 2;
    }

    input {
      outline: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      background-color: transparent;
    }
  }

  &__error {
    font-size: 12px;
    padding: 0 5px;
    color: var(--color-red);
  }
}
