---
---

.field {
  position: relative;
  min-height: 80px;
  padding: 15px 10px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;

  &--error {
    .field {
      &__label {
        color: var(--color-secondary);
      }
    }
  }

  &--focus {
    border: 1px solid #F7F7F7;
    border-radius: 3px;
    box-shadow: 0 0 200px rgba(0,0,0,.1);

    .field__label {
      top: 5px;

      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #808080;
      opacity: 1;
    }

    .field__input {
    }
  }

  &__label {
    position: relative;
    top: 5px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease-in-out;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808080;

    &--placeholder {
      top: 14px;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: normal;
      text-transform: none;
      opacity: .4;
    }
  }

  &__value {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      color: rgba(255, 255, 255, 0.95);
      box-shadow: inset -10px 0 20px 0;
      pointer-events: none;
      z-index: 2;
    }

    input {
      width: 100%;
    }
  }

  &__error {
    font-size: 12px;
    padding: 0 5px;
    color: var(--color-secondary);
  }
}
