---
---

.header {
  position: relative;
  background-color: #FFF;
  padding: 15px;
  border-radius: 5px 5px 0 0;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    border-top: 2px dashed #E6E6E6;
    width: 100%;
    z-index: 3;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    border-bottom: 2px dashed #E6E6E6;
    width: 100%;
    z-index: 3;
  }

  &__inputTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 15px 0;
    padding: 0 15px;
    z-index: 1;
    opacity: 0;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:focus {
      height: 100%;
      margin: 0;
      padding: 40px 15px 15px;
      opacity: 1;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);

      ~ .header__title .header__type, ~ .header__actions {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__type {
    display: inline-block;
    margin: 0 0 0 -15px;
    opacity: 1;
    transition: all .15s ease-in-out;
  }

  &__label {
    display: inline-block;
    background-color: #E6E6E6;
    padding: 7px 10px 7px 15px;
    line-height: 1;
    border-radius: 0 15px 15px 0;
  }

  &__id {
    margin: 0 5px;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    height: 100%;
    background-color: #FFF;
    z-index: 2;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity .15s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 50px;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
      z-index: 1;
      pointer-events: none;
    }
  }

  &--item {
    &::before {
      border-top-color: transparent;
    }
  }

  &--section {

  }

  &--table {
    &::after {
      display: none;
    }
  }
}
