---
---

.header {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;

  &__inner {
    position: relative;
    background-color: #FFF;
    padding: 15px;
  }

  &__inputTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 15px 0;
    padding: 0 15px;
    z-index: 1;
    opacity: 0;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      cursor: pointer;

      &:focus {
        cursor: text;
      }
    }

    &:focus {
      margin: 0;
      padding: 15px;
      opacity: 1;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
      cursor: text;

      ~ .header__title .header__type, ~ .header__actions {
        opacity: 0;
        pointer-events: none;
      }
    }

    &--focused {
      z-index: 50;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all .15s ease-in-out;
  }

  &__label {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      top: 8px;
      left: -15px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      top: 8px;
      right: -10px;
    }

    &--bug {
      &::before {
        background-color: var(--color-red);
      }

      &::after {
        background-color: var(--color-red);
        border-radius: 0 9999px 9999px 0;
      }
    }
  }

  &__id {
    margin: 0 0 0 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    height: 100%;
    padding: 0 10px 0 0;
    background-color: #FFF;
    z-index: 2;
    opacity: 1;
    transition: opacity .15s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 50px;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
      z-index: 1;
      pointer-events: none;
    }
  }

  &--item {
    padding: 0;
    border-radius: 0;
    background-color: #FFF;

    .header__inner {
      &::before {
        border-top-color: transparent;
      }
    }
  }

  &--smartlist {
    padding-top: 10px;
    padding-bottom: 2px;

    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 13px;
      right: 13px;
      height: 100%;
      background-color: #BE8446;
      border-radius: 10px 10px 0 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: -30%;
      bottom: -30px;
      width: 160%;
      height: 60px;
      z-index: 99;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
      pointer-events: none;
    }

    .header__inner {
      box-shadow: -5px 0 #E6E6E6, -10px 5px #CCC, -15px 10px #B3B3B3, 5px 0 #E6E6E6, 10px 5px #CCC, 15px 10px #B3B3B3;

      &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        z-index: 3;
        height: 5px;
        background-color: #FFF;
        border-radius: 99999px 99999px 0 0;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 3;
        height: 2px;
        background: linear-gradient(to right, transparent 50%, #D7D7D7 50%), linear-gradient(to right, #FFF, #FFF);
        background-size: 16px 2px, 100% 2px;
      }
    }
  }

  &--section {

  }

  &--table {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    &::after {
      display: none;
    }
  }
}
