---
---

.itemBox {
  padding-bottom: 10px;

  font-size: 16px;

  .itemBox {
    padding: 5px 0 5px 15px;
  }

  &__row {
    position: relative;
    display: flex;
    background-color: #FFF;
    height: 40px;

    &--h1 {
      background-color: #FFF;
      border-bottom: 2px dashed #BFBFBF;
      height: 60px;

      .itemBox {
        &__cell {
          min-width: 60px;

          &--action {
            .itemBox {
              &__action {
                font-size: 24px;
              }
            }
          }

          &Inner {
            line-height: 50px;
          }
        }
      }
    }

    &--h2 {
      background: #DEDEDE;
      background: linear-gradient(to bottom, #F2F2F2 0%, #CCC 100%);
      height: 50px;

      .itemBox {
        &__cell {
          min-width: 40px;

          &Inner {
            line-height: 40px;
          }
        }
      }
    }

    &--h3 {
      .itemBox {
        &__cell {
          border-bottom: 3px solid #FFEF99;

          &Inner {
            position: relative;
            display: inline-block;
            line-height: 40px;
            width: auto;
            height: 40px;
            overflow: visible;
            padding: 0 0 0 15px;
            background-color: #FFEF99;
            color: #857209;

            &::after {
              content: '';
              border-left: 60px solid #FFEF99;
              border-top: 40px solid transparent;
              position: absolute;
              right: -60px;
              top: 0;
              margin-top: 0;
            }
          }
        }
      }
    }

    &--item {
      &:hover {
        .itemBox {
          &__cell {
            &::before {
              height: 2px;
              opacity: 1;
            }
          }
        }
      }

      &:nth-of-type(odd) {
        background-color: #FFFFFF;
      }

      &:nth-of-type(even) {
        background-color: #F2F2F2;
      }

      .itemBox {
        &__cell {
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            display: block;
            background-color: #A9A9A9;
            z-index: 2;
            pointer-events: none;
            opacity: 0;
            transition: all .3s ease-in-out;
          }

          &:not(.itemBox__cell--flex0) {
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 10px;
              height: 100%;
              z-index: 1;
              pointer-events: none;
            }
          }

          &--permalink {
            cursor: pointer;

            * {
              cursor: pointer;
            }

            &::before {
              background: #B2B2B2;
              background: linear-gradient(to right, #b2b2b2 0%, #00baff 20%, #00baff 50%, #00baff 80%, #b2b2b2 100%);
            }
          }
        }
      }

      &:nth-of-type(odd) {
        .itemBox {
          &__cell:not(.itemBox__cell--flex0) {
            &::after {
              background: linear-gradient(to right, rgba(255,255,255,0) 0%, #FFFFFF 90%, #FFFFFF 100%);
            }
          }
        }
      }

      &:nth-of-type(even) {
        .itemBox {
          &__cell:not(.itemBox__cell--flex0) {
            &::after {
              background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #F2F2F2 90%, #F2F2F2 100%);
            }
          }
        }
      }

      &:hover {
        .itemBox {
          &__action {
            &--hidden {
              opacity: 1;
            }
          }
        }
      }
    }

    &--action {
      &:hover {
        .itemBox__cellInner {
          .itemBox__value,
          .itemBox__action:not(.itemBox__action--hidden) {
            transform: translateY(-2px);
          }
        }
      }
    }

    &--custom {
      height: auto;

      .itemBox__cellInner {
        position: relative;
        line-height: normal;
        height: auto;
        width: auto;
        white-space: normal;
        padding: 0;
      }
    }

    &--foot {
      overflow: hidden;
      height: 22px;
      background: linear-gradient(to bottom, rgba(208,208,208,1) 0%,rgba(242,242,242,1) 50%,rgba(242,242,242,1) 100%);

      .itemBox {
        &__cell {
          &Inner {
            line-height: 12px;
            color: #808080;
            text-align: right;
          }
        }
      }
    }
  }

  &__cell {
    position: relative;
    flex-grow: 1;
    min-width: 40px;
    white-space: nowrap;

    &--flex0 {
      flex-grow: 0;
      text-align: center;

      .itemBox__cellInner {
        padding: 5px;
      }
    }
    &--flex1 { flex-grow: 1; }
    &--flex2 { flex-grow: 2; }
    &--flex3 { flex-grow: 3; }
    &--flex4 { flex-grow: 4; }
    &--flex5 { flex-grow: 5; }
    &--flex6 { flex-grow: 6; }

    &--action {
      color: #CCAF75;

      &:first-child {
        + .itemBox__cell {
          .itemBox__cellInner {
            padding-left: 0;
          }
        }
      }
    }

    &--focus {
      background-color: #FFF;
      box-shadow: 0 0 50px rgba(24, 74, 103, 0.4);
      z-index: 1;
    }
  }

  &__cellInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__input {
    &--fluid {
      width: 100%;
      height: 100%;
    }
  }

  &__value {
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  &__action {
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: #CCAF75;

    &:hover {
      transform: translateY(-2px);
    }

    &--disabled {
      opacity: .3;
      cursor: default;
      pointer-events: none;
    }

    &--hidden {
      opacity: 0;
    }

    &--secondary {
      color: #E61616;
    }
  }
}
