---
---

.itemBox {
  color: #000;
  font-size: 16px;
  padding-bottom: 20px;

  &--children {
    padding: 5px 0 5px 15px;
    opacity: 0;
    animation: fadeIn .3s linear forwards;
  }

  &Header {
    position: relative;
    background-color: #FFF;
    border-bottom: 2px dashed #BFBFBF;

    &__row {
      display: flex;
    }

    &__cell {
      position: relative;
      height: 60px;
      min-width: 60px;
      white-space: nowrap;

      &Inner {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        line-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;

        .itemBoxTable__action {
          font-size: 24px;
        }
      }
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &Table {
    position: relative;
    overflow: hidden;

    &__field {
      &Label {
        line-height: initial;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #B1B1B1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &Value {
        position: relative;

        input {
          width: 100%;
        }
      }

      &--focus {
        .itemBoxTable__fieldLabel {
          position: absolute;
          top: 3px;
        }
      }

      &--placeholder {
        .itemBoxTable__fieldLabel {
          font-size: 16px;
          font-weight: normal;
          font-style: italic;
          text-transform: none;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.4);
          line-height: 50px;
        }
        .itemBoxTable__fieldValue {
          display: none;
        }
      }

      &--value {
        .itemBoxTable__fieldLabel {
          display: none;
        }
      }
    }

    &__head {
      position: relative;
      background: #DEDEDE;
      background: linear-gradient(to bottom, #FFF 0%, #CCC 100%);

      &Row {
        display: flex;
      }

      &Cell {
        position: relative;
        height: 50px;
        min-width: 40px;
        white-space: nowrap;

        &--focus {
          background-color: #FFF;
          box-shadow: 0 0 50px rgba(24,74,103,.4);
          z-index: 9;
        }

        &Inner {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0 15px;
          line-height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &__body {
      position: relative;

      &Row {
        position: relative;
        display: flex;

        &:nth-of-type(odd) {
          background: #FFF;
        }
        &:nth-of-type(even) {
          background-color: #F2F2F2;
        }

        &:hover {
          .itemBoxTable__bodyCell {
            &::after {
              height: 2px;
            }

            &--goto {
              &::after {
                height: 2px;
              }
            }
            &--focus {
              &::after {
                height: 0;
              }
            }

            &--draggable {
              .itemBoxTable__bodyCellInner {
                opacity: 1;
              }
            }
          }
        }

        &--action {
          cursor: pointer;

          .pmx-selector--readonly .pmx-selector__item {
            cursor: pointer;
          }

          .itemBoxTable__action {
            top: 45%;
          }
        }

        &--loadMore {
          cursor: pointer;

          .itemBoxTable__bodyCell {
            &Inner {
              color: #C79D54;
              text-align: left;
              font-size: 18px;
              font-style: italic;
            }
          }
        }

        &--grouped {
          .itemBoxTable__bodyCell {
            &::after {
              height: 2px;
              background: #FFEF99;
            }

            &Inner {
              padding: 0;

              div {
                position: relative;
                display: inline-block;
                padding: 0 0 0 15px;
                background-color: #FFEF99;

                &::after {
                  content: '';
                  border-left: 60px solid #FFEF99;
                  border-top: 40px solid transparent;
                  position: absolute;
                  right: -60px;
                  top: 0;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }

      &Cell {
        position: relative;
        height: 40px;
        min-width: 40px;
        white-space: nowrap;
        list-style: none;

        flex-grow: 1;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background: #B2B2B2;
          pointer-events: none;
          transition: all .2s ease-in-out;
        }

        &--flex {
          &0 {
            flex-grow: 0;

            .itemBoxTable__bodyCellInner {
              padding: 0;
              text-align: center;
            }
          }
          &1 {
            flex-grow: 1;
          }
          &2 {
            flex-grow: 2;
          }
          &3 {
            flex-grow: 3;
          }
          &4 {
            flex-grow: 4;
          }
          &5 {
            flex-grow: 5;
          }
        }




        &--align-right {
          text-align: right;
        }

        &--active {
          &::after {
            height: 2px;
          }
        }

        &--focus {
          background-color: #FFF;
          box-shadow: 0 0 50px rgba(24,74,103,.4);
          z-index: 9;
        }

        &--goto {
          cursor: pointer;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -10%;
            width: 120%;
            height: 0;
            background: #B2B2B2;
            background: linear-gradient(to right, rgba(178,178,178,1) 0%,rgba(0,186,255,1) 20%,rgba(0,186,255,1) 50%,rgba(0,186,255,1) 80%,rgba(178,178,178,1) 100%);
            pointer-events: none;
            transition:
              all .2s ease-in-out
            ;
            z-index: 1;
          }
        }

        &--toggle {
          cursor: pointer;

          .itemBoxTable__bodyCellInner {
            color: #C79D54;
          }
        }

        &--draggable {
          .itemBoxTable__bodyCellInner {
            color: #C79D54;
            opacity: 0;
            transition: all .3s ease-in-out;
          }

          &Placeholder {
            position: relative;
            width: 100%;
            height: 40px;
            background-color: #ffffff;
            box-shadow: inset 0 0 50px rgba(0,0,0,.3);
          }
        }

        &Inner {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0 15px;
          line-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #000;

          &--excluded {
            text-decoration: line-through;
            text-decoration-color: red;
          }

          input[type="text"],
          input[type="search"] {
            width: 100%;
            height: 100%;
          }

          i {
            font-family: 'tenforce', sans-serif;
          }

          .pmx-selector {
            margin: 5px 2px;
          }
        }
      }
    }

    &__foot {
      &Loadedall {
        position: relative;
        overflow: hidden;
        padding: 5px 20px;
        text-transform: uppercase;
        background-color: #FFF;
        color: #808080;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: right;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -15%;
          width: 130%;
          height: 130%;
          box-shadow: inset 0px 5px 22px 0px rgba(0,0,0,.2);
          pointer-events: none;
        }
      }
    }

    &__action {
      cursor: pointer;
      transition: all .3s ease-in-out;
      font-family: 'tenforce', sans-serif;
      color: #C79D54;

      &:hover {
      }

      &--secondary {
        color: #A8A8A8;
      }

      &--disabled {
        opacity: .3;
        cursor: default;
      }





      // normal --add will be goldenrod, as the actions
      // excluded --add will be red
      .JS_exclude &--add {
        color: red;
      }
      // --remove will be barely visible gray
      &--remove {
        color: darkgray;
      }
    }
  }
}
