---
---

.modal {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: -1;

  /* Modiefiers */

  &--colorPicker {
    position: absolute;
    min-width: auto;
    width: auto;
  }

  &--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
  }
}
