---
---

.multiSelector {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  box-shadow: 0 0 200px 60px rgba(0,0,0,0.2);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: -1;

  .itemBox {
    background-color: rgba(0, 0, 0, 0.17);

    &--sublist {
      padding: 5px 0 5px 5px;
      background-color: #A9A9A9;
      margin: 0 0 5px 0;
    }

    .itemBox,
    .itemBox .itemBox,
    .itemBox .itemBox .itemBox {
      background-color: transparent;

      &--sublist {
        padding: 5px 0 5px 5px;
        background-color: #A9A9A9;
        margin: 0 0 5px 0;
      }
    }
  }

  /* Modiefiers */

  &--colorPicker {
    position: absolute;
    min-width: auto;
    width: auto;
  }

  &--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
  }
}
