---
---

.multiSelector {
  min-width: 300px;
  width: 50%;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all .3s ease-in-out;

  &--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
  }

  &--semsearch {
    position: absolute;
    top: 0;
    right: 0;

    .itemBoxFilter {
      box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.7);
    }

    .itemBoxTable {
      box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.7);
    }
  }

  &__box {
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }
  }
}


.pmx-selector + .multiSelector {
  position: absolute;
  top: -6px;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity .3s ease-in-out;
}

.pmx-selector.pmx-selector--clicked + .multiSelector {
  z-index: 99999999;
  pointer-events: auto;
  opacity: 1;
}


@media (max-width: 900px) {
  .multiSelector {
    width: 100%;
  }
}


#multiSelector-1,
#multiSelector-2,
#multiSelector-3 {
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity .3s ease-in-out;
}
