---
---

.multiSelector {
  &--visible {
    opacity: 1 !important;
    pointer-events: auto !important;
    z-index: 9999 !important;
  }

  &--popup {
    opacity: 0;
    pointer-events: none;
    z-index: 0;

    position: absolute;
    top: 0;
    left: 0;

    min-width: 300px;
    width: 100%;

    box-shadow: 0 0 200px 60px rgba(0,0,0,0.2);
    transition: opacity .3s ease-in-out;

    &#multiSelector-columnpicker {
      left: auto;
      right: 0;
      margin-top: -50px;
      width: auto;
    }

    &-semsearch {
      top: 0;
      left: inherit;
      right: 0;
      width: 50vw;
    }

    &-breadcrumb {
      width: 50vw;
    }

    .itemBox {
      color: #000;
      background-color: rgba(0, 0, 0, 0.17);

      .itemBox--children {
        background-color: transparent;

        &-sublist {
          padding: 10px 0 10px 10px;
          background-color: #B2B2B2;
        }
      }
    }
  }

  &--colorPicker {
    position: absolute;
    min-width: auto;
    width: auto;

    .itemBoxTable__bodyRow {
      &::after {
        height: 0px;
      }
    }

    .itemBoxTable__bodyCell {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #B2B2B2;
        pointer-events: none;
        transition:
          all .2s ease-in-out
        ;
      }

      &:hover {
        &::after {
          height: 2px;
        }
      }
    }
  }

  .pmx-selector__item {
    &:hover, &--selected {
      &.JS_pmx-selector__item--include {
        .pmx-selector__block {
          color: #C79D54 !important;
        }
      }
      &.JS_pmx-selector__item--exclude {
        .pmx-selector__block {
          color: red !important;
        }
      }
    }
  }
}


.pmx-selector + .multiSelector {
  position: absolute;
  top: -6px;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity .3s ease-in-out;
}

.pmx-selector.pmx-selector--clicked + .multiSelector {
  z-index: 99999999;
  pointer-events: auto;
  opacity: 1;
}


@media (max-width: 900px) {
  .multiSelector--popup {
    width: 100%;
  }
}
