---
---

.note {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  background-color: #F8FAFC;
  border-radius: 3px;

  &--tooltip {
    background-color: #E0F0FF;
  }

  &--error {
    background-color: #FFDFDF;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
