---
---

.note {
  position: relative;
  display: inline-block;
  padding: 17px;
  background-color: #F9F9F9;
  border-radius: 3px;

  &--tooltip {
  }

  &--error {
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
