---
---

.note {
  position: relative;
  display: inline-block;
  padding: 17px;
  background-color: #F9F9F9;
  border-radius: 3px;

  &--tooltip {
    background-color: #E0F0FF;
  }

  &--error {
    background-color: #febaba;
    color: #3b0303;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
