---
---

.selector {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  white-space: nowrap;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 0;
  color: #000;

  &--expanded {
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;

    .selector__item {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      
      &Seperator {
        background-color: transparent;
      }
    }
  }

  &--readonly {
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;

    .selector {
      &__item {
        &Seperator {
          border-radius: 15px;
        }
      }
    }

    .selector__item,
    .selector__item:hover {
      cursor: text;
      -webkit-filter: saturate(1);
      filter: saturate(1);
      opacity: 1;
    }
  }

  &--singleselect {
    .selector__item {
      &:hover {
        transform: translateY(1px);
        opacity: .7;

        &:active {
          opacity: .45;
        }
      }

      &--selected {
        &:hover {
          transform: none;
          opacity: 1;

          &:active {
            opacity: 1;
          }
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }

  &--multiselect {
    .selector__item {
      overflow: visible;
      border-radius: 4px;

      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &:hover {
        transform: translateY(1px);
        opacity: .7;

        &:active {
          opacity: .45;
        }
      }

      &--selected {
        &:hover {
          opacity: .85;
        }
      }
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    background-color: #FFF;
    transition: all .3s ease-in-out;
    -webkit-filter: saturate(.4);
    filter: saturate(.4);
    opacity: .4;
    cursor: pointer;

    &--selected {
      box-shadow: 0 2px 8px -2px rgba(0,0,0,.7);
      -webkit-filter: saturate(1);
      filter: saturate(1);
      opacity: 1;
    }

    &:first-child {
      .selector__block  {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        &Part {
          &:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
    }

    &:last-child {
      .selector__block  {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        &Part {
          &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }

    &Seperator {
      z-index: 0;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
      line-height: 28px;
      min-width: 10px;
      margin: 0 -4px;
      border-radius: 3px;
      background-color: #D7D7D7;

      &--hasLabel {
        margin: 0;
        padding: 0 10px;
      }
    }
  }

  &__block {
    z-index: 1;
    position: relative;
    display: inline-block;
    height: 26px;
    font-size: 0;

    &Seperator {
      z-index: 2;
      position: relative;
      display: inline-block;
      height: 12px;
      margin: 7px -3px;
      border-right: 1px dotted #D7D7D7;
    }

    &Part {
      z-index: 1;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
      line-height: 26px;
      max-width: 300px;
      padding: 0 10px;
      border-radius: 3px;
      background-color: #FFF;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;

      &--prefix {
        text-align: center;
      }

      &--label  {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #808080;
        line-height: 28px;
      }
    }
  }
}
