---
---

.selector {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  white-space: nowrap;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 0;
  color: #000;
  z-index: 1;

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transform: translate(0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /* Causes unsmooth animation on hover on FireFox
    -webkit-filter: saturate(.4);
    filter: saturate(.4);
    */
    opacity: .4;
    cursor: text;

    &--selected {
      /*
      -webkit-filter: saturate(1);
      filter: saturate(1);
      */
      opacity: 1;
    }

    &:first-child {
      .selector__block  {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        &Part {
          &:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
    }

    &:last-child {
      .selector__block  {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        &Part {
          &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }

    &Seperator {
      z-index: 0;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
      line-height: 28px;
      min-width: 10px;
      margin: 0 -4px;
      border-radius: 3px;
      background-color: #D7D7D7;

      &--hasLabel {
        margin: 0;
        padding: 0 10px;
      }
    }
  }

  &__block {
    z-index: 1;
    position: relative;
    display: inline-block;
    height: 26px;
    font-size: 0;

    &Seperator {
      z-index: 2;
      position: relative;
      display: inline-block;
      height: 12px;
      margin: 7px -1px;
      border-right: 1px dotted #D7D7D7;
    }

    &Part {
      z-index: 1;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
      line-height: 26px;
      max-width: 300px;
      padding: 0 10px;
      border-radius: 3px;
      background-color: #FFF;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;

      &--prefix {
        text-align: center;
      }

      &--label  {
        max-width: 200px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #808080;
        line-height: 28px;
      }

      &--small-caps {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
      }
    }
  }

  /* Modifiers */

  &--expanded {
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;

    .selector__item {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &Seperator {
        background-color: transparent;
      }
    }
  }

  &--singleselect {
    .selector__item {
      cursor: pointer;

      &:hover {
        transform: translate(0, 1px);
        opacity: .7;

        &:active {
          opacity: .45;
        }
      }

      &--selected {
        box-shadow: 0 2px 8px -2px rgba(0,0,0,.7);
      }
    }
  }

  &--multiselect {
    .selector__item {
      overflow: visible;
      border-radius: 4px;
      cursor: pointer;
      transform: translate(0);

      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &:hover {
        transform: translate(0, 1px);
        opacity: .7;

        &:active {
          opacity: .45;
        }
      }

      &--selected {
        box-shadow: 0 2px 8px -2px rgba(0,0,0,.7);

        &:hover {
          opacity: .85;
        }
      }
    }
  }

  &--readonly {
    .selector__item {
      box-shadow: none;
      pointer-events: none;
      cursor: default;
    }

    .selector__itemSeperator {
      background-color: transparent;
    }
  }
}
