---
---

.field-container {
  margin: 20px 0;
}
.field {
  position: relative;

  &--focus {
    .field__label {
      position: absolute;
      top: 3px;
    }
  }

  &--placeholder {
    .field__label {
      font-size: 16px;
      font-weight: normal;
      font-style: italic;
      text-transform: none;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.4);
      line-height: 50px;
    }
    .field__value {
      display: none;
    }
  }

  &--value {
    .field__label {
      display: none;
    }
  }

  &__label {
    line-height: initial;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #B1B1B1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__value {
    position: relative;

    input {
      width: 100%;
    }
  }
}


.pmx-selector {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 2px;
  background-color: #D7D7D7;
  border-radius: 30px;
  white-space: nowrap;
  font-size: 0;
  max-width: 100%;
  line-height: initial;

  &__item {
    position: relative;
    display: inline-block;
    height: 26px;
    min-width: 26px;
    max-width: 100%;
    padding: 2px 4px;
    border-radius: 30px;
    overflow: hidden;
    font-size: 16px;
    color: #808080;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:not(.pmx-selector__item--selected):hover {
      background-color: rgba(255, 255, 255, .6);
      color: rgba(0, 0, 0, .7);
    }

    &--selected {
      background-color: #FFF;
      box-shadow: 0 3px 10px rgba(0,0,0,.2);

      .pmx-selector__blockPart--field {
        color: #000;
      }
    }
  }

  &__block {
    position: relative;
    height: 22px;
    padding: 2px 4px;
    display: flex;
    align-items: center;

    &Part {
      position: relative;
      display: inline-block;
      padding: 0 0;
      margin: 0 14px 0 0;
      width: 100%;
      text-align: center;

      &:last-child {
        margin: 0;
      }

      &--label,
      &--prefix {
        + .pmx-selector__blockPart--label,
        + .pmx-selector__blockPart--field {
          &:before {
            content: '•';
            font-size: 12px;
            color: #808080;
            line-height: initial;
            letter-spacing: normal;
            font-weight: 400;
            text-transform: none;
            margin: 0 6px 0 0;
            position: absolute;
            left: -9px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -1px;
          }
        }
      }

      &--label  {
        text-transform: uppercase;
        color: #808080;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: .7px;
      }

      &--field {

      }
    }
  }

  &--readonly {
    .pmx-selector__item {
      background-color: #FFF;

      &--selected {
        box-shadow: none;
      }

      .pmx-selector__blockPart--field {
        color: #000;
      }
    }
  }

  &--toggleSelect {
  }

  &--multiSelect {
    .pmx-selector__item {
      border-radius: 0;

      &:first-child {
        border-radius: 30px 0 0 30px;
      }

      &:last-child {
        border-radius: 0 30px 30px 0;
      }

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        border-right: 1px dashed #808080;
      }
    }
  }

  &--collapsed {
  }

  &--expanded {
  }
}
