---
---

.pmx-field {
  position: relative;
  padding: 10px;
  border: 1px solid transparent;

  transition: all .3s ease-in-out;

  &--empty {
    .pmx-field__label {
      top: 25px;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      text-transform: none;
    }
  }

  &--focus {
    border: 1px solid #F7F7F7;
    border-radius: 3px;
    box-shadow: 0 0 200px rgba(0,0,0,.1);

    .pmx-field__label {
      top: 0;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__inner {
    position: relative;
    padding: 5px;
  }

  &__label {
    position: relative;
    top: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808080;

    transition: all .15s ease-in-out;
  }

  &__value {
    position: relative;
    font-size: 16px;
    line-height: 40px;
    margin: -5px -1px;
    white-space: nowrap;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      right: 0;
      width: 30px;
      height: 38px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .6) 60%, rgba(255, 255, 255, 1) 100%);
      pointer-events: none;
      z-index: 1;
    }

    .pmx-selector {
      margin: 5px 1px;
    }

    input {
      width: 100%;
    }
  }

  &__input {
    height: 35px;

    &--hidden {
      font-size: 0;
      height: 0;
      position: absolute;
      left: -1000px;
    }

    &El {

    }
  }

  &__handlers {
    position: absolute;
    bottom: 100%;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px dashed #CCCC;
    box-shadow: 0 0 200px 60px rgba(0, 0, 0, 0.2);
  }

  &__handler {
    padding: 10px 15px;

    &--error {
      background-color: #ffdfdf;
    }

    &--action {
      background-color: #e0f0ff;
    }

    &--tooltip {
      background-color: #efefef;
    }
  }

  &__note {
    display: inline-block;
    margin: 10px 0 0;
    padding: 2px 8px;
    background-color: #F7F7F7;
    border: 2px solid #FFF;
    border-radius: 3px;

    p {
      font-size: 14px;
      margin: 5px 0;
      color: #666;

      a {
        color: #01ADFF;
        text-decoration: underline;
        transition: all .3s ease-in-out;

        &:focus {
          box-shadow: 0 0 30px -5px rgba(36, 104, 182, .5);
        }
      }
    }
  }
}

.pmx-selector {
  position: relative;
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  font-size: 0;
  max-width: 100%;
  line-height: initial;
  white-space: nowrap;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid transparent;

  &--expanded {
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;

    .pmx-selector__item {
      &Seperator {
        background-color: transparent;
      }
    }
  }

  &--readonly {
    overflow: hidden;

    .pmx-selector__item,
    .pmx-selector__item:hover {
      cursor: text;
      filter: saturate(1) opacity(1);
    }
  }

  &--multiselect {
    .pmx-selector__item {
      overflow: visible;
      border-radius: 3px;

      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }

  &--toggleselect {
    .pmx-selector__blockPart {
      border-radius: 15px;
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 26px;
    min-width: 26px;
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    vertical-align: top;
    background-color: #FFF;
    filter: saturate(0.4) opacity(0.4);

    &:hover {
      filter: saturate(0.7) opacity(0.7);
    }

    &--selected,
    &--selected:hover {
      box-shadow: 0 2px 8px -2px rgba(0,0,0,0.7);
      filter: saturate(1) opacity(1);
    }

    &:first-child {
      .pmx-selector__block  {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        &Part {
          &:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
    }

    &:last-child {
      .pmx-selector__block  {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        &Part {
          &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }

    &Seperator {
      position: relative;
      z-index: 0;
      display: inline-block;
      height: 26px;
      min-width: 8px;
      border-radius: 3px;
      margin: 0 -3px;

      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 28px;
      text-transform: uppercase;
      color: #808080;

      background-color: #D7D7D7;

      &--hasLabel {
        margin: 0;
        padding: 0 8px;
      }
    }
  }

  &__block {
    position: relative;
    display: flex;
    height: 26px;
    line-height: 28px;
    border-radius: 3px;
    font-family: 'tenforce', sans-serif;

    &Part {
      position: relative;
      z-index: 1;
      display: inline-block;
      max-width: 300px;
      height: 26px;
      padding: 0 10px;
      border-radius: 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: #FFF;
      color: #000;

      &--prefix {
        text-align: center;
      }

      &--label  {
        text-transform: uppercase;
        color: #808080;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;

        + .pmx-selector__blockSeperator {
          position: relative;
          z-index: 2;
          margin: 7px -3px;
          height: 12px;
          border-right: 1px dotted #D7D7D7;
        }
      }
    }
  }
}
