---
---

.toolbox-table {
  font-size: 16px;

  .toolbox-table {
    padding: 5px 0 5px 15px;
  }

  + .toolbox-table {
    padding-top: 10px;
  }

  &--sublist {
    padding: 5px 0 5px 5px;
    background-color: #929292;
  }

  &--gdpr {
    .toolbox-table {
      padding: 20px;
    }
  }

  &__row {

    &--placeholder {
      position: relative;
      display: flex;
      background-color: #FFF;
      height: 40px;
      line-height: 30px;
      list-style: none;
      padding: 0;
    }

    &:nth-of-type(odd) {
      &.toolbox-table__row--placeholder {
        background-color: var(--color-grey-lightest);
      }

      >.toolbox-table__rowInner--item {
        background-color: var(--color-grey-lightest);

        .toolbox-table__cell:not(.flex-grow-0)::after {
          background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(242,242,242,.5) 50%, var(--color-grey-lightest) 80%, var(--color-grey-lightest) 100%);
        }
      }
    }

    &:nth-of-type(even) {
      >.toolbox-table__rowInner--item {
        .toolbox-table__cell:not(.flex-grow-0)::after {
          background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 50%, #FFF 80%, #FFF 100%);
        }
      }
    }
  }

  &__rowInner {
    position: relative;
    display: flex;
    background-color: #FFF;
    height: 40px;
    line-height: 30px;
    list-style: none;
    padding: 0;

    &--thead {
      background: #D9D9D9;
      color: #808080;
      height: 65px;
      line-height: 60px;
      border-radius: 5px 5px 0 0;
      font-style: italic;

      .toolbox-table__cell {
        min-width: 40px;

        &Inner {
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .toolbox-field {
          .toolbox-field__label {
            line-height: normal;
          }
        }
      }
    }

    &--tfoot {
      height: 22px;
      line-height: 12px;
      background: #d9d9d9;
      border-radius: 0 0 5px 5px;

      .toolbox-table__cellInner {
        color: #808080;
        text-align: right;
      }
    }

    &--item {
      .toolbox-table {
        &__cell {
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            display: block;
            background-color: #CACACA;
            z-index: 2;
            pointer-events: none;
            opacity: 0;
            transition: all .3s ease-in-out;
          }

          &:not(.flex-grow-0)::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 100%;
            z-index: 1;
            pointer-events: none;
          }

          &--active {
            &::before {
              height: 2px;
              opacity: 1;
            }
          }

          &--permalink {
            cursor: pointer;

            * {
              cursor: pointer;
            }

            &::before {
              background-color: var(--color-blue);
            }
          }
        }
      }

      &:hover, &:focus, &:focus-within {
        .toolbox-table__cell {
          &::before {
            height: 2px;
            opacity: 1;
          }

          &--permalink {
            &::before {
              opacity: .5;
            }

            &:hover, &:focus {
              &::before {
                opacity: 1;
              }
            }
          }
        }

        .toolbox-table__action {
          &--hidden {
            opacity: 1;
          }
        }
      }
    }

    &--action {
      .toolbox-table__cell {
        &::before {
          background-color: var(--color-gold);
        }
      }
    }

    &--custom {
      height: auto;

      .toolbox-table__cellInner {
        position: relative;
        line-height: normal;
        height: auto;
        width: auto;
        white-space: normal;
        padding: 0;
      }
    }

    &--permalink {
      &:hover, &:focus {
        .toolbox-table__cell {
          &--permalink {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__cell {
    position: relative;
    flex-grow: 1;
    min-width: 40px;
    white-space: nowrap;

    &.flex-grow-0 {
      flex-grow: 0;
      text-align: center;

      &:first-child {
        + .toolbox-table__cell {
          .toolbox-table__cellInner {
            padding-left: 0;
          }
        }
      }

      .toolbox-table__cellInner {
        padding: 5px;

        .inline {
          vertical-align: top;
        }
      }
    }

    &--action {
      color: var(--color-gold);
    }
  }

  &__cellInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus-within {
      z-index: 50;
    }

    input, .toolbox-field__input {
      width: 100%;
    }

    .toolbox-selector {
      vertical-align: top;
    }

    .toolbox-note {
      border-radius: 0;
      width: 100%;
    }
  }

  &__input {
    &--fluid {
      width: 100%;
      height: 100%;
    }
  }

  &__value {
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  &__action {
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 16px;
    font-style: normal;
    color: var(--color-gold);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;


    &--inline {
      display: inline-block;
      min-width: 30px;
      text-align: center;
    }

    &--disabled {
      opacity: .3;
      cursor: default;
      pointer-events: none;
    }

    &--hidden {
      opacity: 0;
    }

    &--secondary {
      color: #E61616;
    }
  }
}
