---
---

.toolbox-field {
  position: relative;
  margin: 5px 0 17px 0;
  padding: 12px 0 0;
  transition: all .3s ease-in-out;

  &:hover {
    .toolbox-field__label {
      opacity: 85;
    }
  }

  &__label {
    position: absolute;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease-in-out, left .3s ease-in-out;
    color: #808080;
    z-index: 2;
    pointer-events: none;
    top: 22px;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    text-transform: none;
    opacity: .7;
  }

  &__data {
    position: relative;

    min-height: 40px;
    white-space: nowrap;
    transition: all .3s ease-in-out;
    cursor: text;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__error {
    width: 0;
    opacity: 0;
    color: var(--color-red);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__value {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    /*
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 5px;
      width: 40px;
      height: 100%;
      pointer-events: none;
      z-index: 1;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    }
    */
    .toolbox-selector {
      margin: 0 3px 0 0;
    }

    .toolbox-selector ~ .toolbox-field__input {
      position: absolute;
      left: 0;
      top: -5px;
      min-height: 40px;
      z-index: -1;
      height: 100%;
      user-select: none;
      font-size: 0;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: none;
    border: 0;
    margin: 0 -5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:focus {
      background-color: #FFF;
      z-index: 50;
    }
  }

  &--tooltip {
    .toolbox-field__label {
      cursor: pointer;
    }
  }

  &--error {
    .toolbox-field__error {
      width: 26px;
      opacity: 1;
    }
    .toolbox-field__label {
      left: 36px;
    }
    .toolbox-field__value {
      left: 15px;
    }
  }

  &--not-empty,
  &--focus {
    .toolbox-field__label {
      pointer-events: auto;
      top: -1px;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 1;
    }

    .toolbox-field__input {
      cursor: auto;
    }

    &:hover {
      &--not-empty,
      &--focus {
        opacity: 1;
      }
    }
  }

  &--focus {
    .toolbox-field__value {
      z-index: 50;
    }
  }
}
