---
---

.toolbox-selector {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  white-space: nowrap;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 0;
  color: #000;
  z-index: 1;

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    height: 26px;
    line-height: 26px;
    min-width: 26px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transform: translate(0);
    -webkit-transition: all .3s ease-in-out, transform .5s ease;
    transition: all .3s ease-in-out, transform .5s ease;
    cursor: pointer;
    /* Causes unsmooth animation on hover on FireFox
    -webkit-filter: saturate(.4);
    filter: saturate(.4);
    */
    opacity: .4;

    &:focus {
      transform: translate(0);
      animation: focus-up-down 0.3s ease forwards;
    }

    &:hover {
      transform: translate(0, 1px);
      opacity: .7;

      &:focus {
        animation: hover-down 0.5s ease forwards;
      }
    }

    &:active {
      opacity: .45;
    }

    &--selected {
      opacity: 1;
      box-shadow: 0 2px 8px -2px rgba(0,0,0,.7);
    }

    &:first-child {
      .toolbox-selector__block  {
        &:first-child {
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;

          .toolbox-selector__blockPart {
            &:first-child {
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
            }
          }
        }
      }
    }

    &:last-child {
      .toolbox-selector__block  {
        &:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;

          .toolbox-selector__blockPart {
            &:last-child {
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
            }
          }
        }
      }
    }

    &Separator {
      z-index: 0;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
      line-height: 28px;
      min-width: 10px;
      margin: 0 -4px;
      border-radius: 3px;
      background-color: #D7D7D7;

      &--hasLabel {
        margin: 0;
        padding: 0 10px;
      }
    }
  }

  &__block {
    z-index: 1;
    position: relative;
    display: inline-block;
    height: 26px;
    font-size: 0;

    &Separator {
      z-index: 2;
      position: relative;
      display: inline-block;
      height: 12px;
      margin: 7px -1px;
      border-right: 1px dotted #D7D7D7;
    }

    &Part {
      z-index: 1;
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
      line-height: 26px;
      max-width: 300px;
      padding: 0 10px;
      border-radius: 3px;
      background-color: #FFF;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;

      &--prefix {
        text-align: center;
      }

      &--label  {
        max-width: 200px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #808080;
        line-height: 28px;
      }

      &--small-caps {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
      }
    }
  }

  /* Modifiers */

  &--expanded {
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;

    .toolbox-selector__item {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &Separator {
        background-color: transparent;
      }
    }
  }

  &--multiselect {
    .toolbox-selector__item {
      overflow: visible;
      border-radius: 4px;
      transform: translate(0);

      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        .toolbox-selector__block:first-child {
          .toolbox-selector__blockPart:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        .toolbox-selector__block:last-child {
          .toolbox-selector__blockPart:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }

      &--selected {
        &:hover, &:focus {
          opacity: .85;
        }
      }
    }
  }

  &--required {

    &.toolbox-selector--singleselect .toolbox-selector__item--selected,
    &.toolbox-selector--multiselect .toolbox-selector__item--required {
      cursor: default;
      pointer-events: none;
      transform: translate(0);
      opacity: 1;

      &:not(.toolbox-selector__item--required) {
        animation: hover-up 0.5s ease forwards;
      }

      &:focus, &:hover {
        transform: translate(0);
        animation: hover-up 0.5s ease forwards;
      }
      &:active {
        transform: translate(0);
      }
    }
  }

  &--readonly {
    .toolbox-selector__item {
      box-shadow: none;
      pointer-events: none;
      cursor: default;
    }

    .toolbox-selector__itemSeparator {
      background-color: transparent;
    }
  }

  &:not(.toolbox-selector--expanded) {
    .toolbox-selector__itemSeparator {
      background-color: transparent;
    }
  }
}
