<div class="multiSelector">

  <div class="itemBox">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <input type="search" class="JS_appNav__filterInput" placeholder="filter through items">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="itemBox JS_appNavBox">
    <div class="itemBoxTable">
      <div class="itemBoxTable__body">
        {% for group in site.data.app-nav-tab1.groups %}
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                <i class="JS_text">{{group.name}}</i>
              </div>
            </li>
          </ul>
          <div class="itemBox itemBox--children">
            <div class="itemBoxTable">
              <div class="itemBoxTable__body">
                {% for item in group.items %}
                  <ul class="itemBoxTable__bodyRow JS_filterableCell">
                    <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner ">
                        <div class="pmx-selector pmx-selector--readonly">
                          <div class="pmx-selector__item">
                            <div class="pmx-selector__block">
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">{{item}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
        <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore">
          <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">Load <span>18</span> more</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.itemBox -->

</div>
