<div class="multiSelector">

  <div class="itemBox">
    <ul class="itemBox__row">
      <li class="itemBox__cell">
          <div class= "itemBox__cellInner JS_text">
            <input type="search" class="itemBox__input itemBox__input--fluid JS_appNav__filterInput" placeholder="filter through smarlist items">
          </div>
      </li>
    </ul>
  </div><!-- /.itemBox -->

  <div class="itemBox JS_appNavBox">
    {% for group in site.data.app-nav-tab2.groups %}
      <ul class="itemBox__row itemBox__row--item">
        <li class="itemBox__cell itemBox__cell--action JS_toggle">
          <div class="itemBox__cellInner">
            <div class="itemBox__action">{{group.name}}{% if group.loadmore == "true"%}<sup>{{group.counter}}</sup>{% endif %}</div>
          </div>
        </li>
      </ul>
      <div class="itemBox JS_itemBox--children itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            {% for item in group.items %}
            <ul class="itemBox__row itemBox__row--item JS_filterableCell">
              <li class="itemBox__cell itemBox__cell--permalink">
                <div class="itemBox__cellInner JS_text">

                  <div class="selector selector--readonly">
                    <div class="selector__item">
                      <div class="selector__block">
                        <div class="selector__blockPart selector__blockPart--label">{{item.label}}</div>
                        <div class="selector__blockSeperator"></div>
                        <div class="selector__blockPart selector__blockPart--field">{{item.name}}</div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
            {% endfor %}

            {% if group.loadmore == "true"%}
              {% include blocks/popup/ms-load-more.html %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div><!-- /.itemBox -->

</div><!-- /.multiSelector -->
