<div class="itemBox">
  <div class="itemBoxFilter">
    <div class="itemBoxFilter__input">
      <input type="text" placeholder="filter through items">

    </div>
  </div>

  <div class="itemBoxTable">
    <div class="itemBoxTable__body">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">.TenForceWiki</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Approve</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">CPBW</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">CPBW Actions</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Process Documentation</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Task</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">Marketing &amp; Design</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Bugs</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Tasks</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">Operations</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Equipment assigment</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Hosted Virtual</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">IT Meetings</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">IT Projects</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">IT Requests</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">IT Tasks</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Logistics</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Maintanance Tasks</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Move to production</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Virtual Machines</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">WIKI</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">pmX Projects and Support</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Addins - Presets</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Code Reviews</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Coding Standards</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Customer</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Financial milestones</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Holidays</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Knowledge Base</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Meetings</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">On demand</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Project Deliverables</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Projects</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Review Tasks</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Service Requests</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Tasks</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Tickets</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Trainings</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">WIKI</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">Product Development</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Actions</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Bugs</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Epics</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Installation notes</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Meetings</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Product sprints</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Release</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">SRB Meetings (new)</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">SRB Topics</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Stabilize test</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Stories</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Strategic Goals</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Technical topics</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Translations</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">Prof. Serv.</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Actions</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Contacts</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Financial milestones</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Meetings</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Tickets</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Work Orders</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">Semantic Technology</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Actions</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Innovation</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Meetings</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">SemTech Backlog</div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">Wiki</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner">Load <span>18</span> more</div>
        </li>
      </ul>
    </div>
  </div>
</div> <!-- /.itemBox -->
