<div class="app__nav">
  <div class="tabs tabs--light">
    <div class="tabs__nav">
      <div class="tab__less hide">
        <span class="tab__shadow"></span>
        <span class="tab__arrow">←</span>
        <span class="tab__counter">1</span>
      </div>
      <ul>
        <span class="tab__active-link-bar"></span>
        <li><a href="#" class="tab__link active" tabindex="1"><span>Structure</span></a></li>
        <li><a href="#" class="tab__link" tabindex="2"><span>My smartlists</span></a></li>
        <li><a href="#" class="tab__link" tabindex="3"><span>Shared by me</span></a></li>
        <li><a href="#" class="tab__link" tabindex="4"><span>Favorites</span></a></li>
        <li><a href="#" class="tab__link" tabindex="5"><span>Recently used</span></a></li>
      </ul>
      <div class="tab__more">
        <span class="tab__shadow"></span>
        <span class="tab__arrow">⇾</span>
        <span class="tab__counter">9</span>
      </div>
    </div>
    <!-- /.tabs__nav -->

    <div class="tabs__panels">
      <div class="tabs__panel" tabindex="1">
        <!-- tab contents -->

        <div class="itemBox">
          <div class="itemBoxFilter">
            <div class="itemBoxFilter__input">
              <input type="text" placeholder="filter through items">

            </div>
          </div>

          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--goto" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner">Assigned to</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action">अ</i>
                    </div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Attachments</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Child items</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Comments</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Description</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Due date</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action">ऄ</i>
                    </div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Assigned to</div>
                </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxTable__body">
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner">Nick De Jaeger</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner">Konstantiv Kharlov</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner">Jetro Wils</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner">Nora Szepes</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                          <div class="itemBoxTable__bodyCellInner">Ward Delabastita</div>
                        </li>
                    </ul>
                  </div>
                  <div class="itemBoxTable__foot">
                    <div class="itemBoxTable__footLoadedall">All <span>4</span> items loaded</div>
                  </div>
                </div>
              </div>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Child items</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner ">Comments</div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner">Load <span>18</span> more</div>
                </li>
              </ul>
            </div>
            <div class="itemBoxTable__foot">
              <div class="itemBoxTable__footLoadedall"><span>9</span> items loaded</div>
            </div>
          </div>
        </div><!-- /.itemBox -->


      </div><!-- /.tabs__panel -->
      <div class="tabs__panel" tabindex="2">
        <!-- tab contents -->

      </div><!-- /.tabs__panel -->
      <div class="tabs__panel" tabindex="3">
        <!-- tab contents -->

      </div><!-- /.tabs__panel -->
      <div class="tabs__panel" tabindex="4">
        <!-- tab contents -->

      </div><!-- /.tabs__panel -->
      <div class="tabs__panel" tabindex="5">
        <!-- tab contents -->

      </div><!-- /.tabs__panel -->
    </div><!-- /.tabs__panels -->
  </div>
</div>
