<div class="itemBox">
  <div class="itemBoxFilter">
    <div class="itemBoxFilter__input">
      <input type="text" placeholder="filter through items">

    </div>
  </div>

  <div class="itemBoxTable">
    <div class="itemBoxTable__body">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">My private smartlists</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item">
                      <div class="pmx-selector__block">
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Workspace</span>
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--field">My private smartlists</span>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.itemBox--children -->
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">My shared smartlists</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item">
                      <div class="pmx-selector__block">
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Workspace</span>
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Financial_milestones PMX (smartlist)</span>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.itemBox--children -->
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action">ऄ</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
          <div class="itemBoxTable__bodyCellInner ">Smartlists shared with me</div>
        </li>
      </ul>
      <div class="itemBox itemBox--children">
        <div class="itemBoxTable">
          <div class="itemBoxTable__body">
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item">
                      <div class="pmx-selector__block">
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Workspace</span>
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Milestone Born - MAINT - Year 3</span>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                <div class="itemBoxTable__bodyCellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item">
                      <div class="pmx-selector__block">
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Workspace</span>
                        <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Milestone Gerkesklooster - LIC - Year 2</span>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.itemBox--children -->
    </div>
  </div>
</div><!-- /.itemBox -->
