<div class="app-navigator cf">
  <div class="app-navigator__left">
    <div class="app-navigator__item">
      <h1>
        <a href="#"  data-action="open-left-panel">छ</a>
        <a href="#">Dashboard</a>
      </h1>
    </div>
  </div>
  <div class="app-navigator__right">
    <div class="app-navigator__item" data-action="open-semsearch">
      <a href="#">ञ</a>
      {% include popups/semsearch.html %}
    </div>
    <div class="app-navigator__item" data-action="open-right-panel">
      <a href="#">ज</a>
    </div>
  </div>
</div>

<div class="breadcrumbs">
  <div class="breadcrumbs__item">
    <div class="breadcrumbs__link"><span class="breadcrumbs__type">Bril</span> <span class="breadcrumbs__label">Jaarplan 2016 - Staf</span></div>
    <div class="breadcrumbs__selector">
      <input type="input" placeholder="filter">
      <ul>
        <li>Dashboard</li>
        <li>Finace &amp; Admin</li>
        <li>Marketing &amp; Design</li>
        <li>pmx Engineering</li>
        <li>Professional Services</li>
        <li>Wiki</li>
      </ul>
    </div>
  </div>
  <div class="breadcrumbs__item">
    <div class="breadcrumbs__link"><span class="breadcrumbs__type">Doelstelling</span> <span class="breadcrumbs__label">De aanbevelingen van Audit Vlaanderen m.b.t. organisatiebeheersing uitvoeren</span></div>
    <div class="breadcrumbs__selector">
      <input type="input" placeholder="filter">
      <ul>
        <li>Dashboard</li>
        <li>Finace &amp; Admin</li>
        <li>Marketing &amp; Design</li>
        <li>pmx Engineering</li>
        <li>Professional Services</li>
        <li>Wiki</li>
      </ul>
    </div>
  </div>
  <div class="breadcrumbs__item">
    <div class="breadcrumbs__link"><span class="breadcrumbs__type">Project</span> <span class="breadcrumbs__label">D06.0/P03 - Een monitoringsysteem uitbouwen voor de opvolging en bijsturing van</span></div>
    <div class="breadcrumbs__selector">
      <input type="input" placeholder="filter">
      <ul>
        <li>Dashboard</li>
        <li>Finace &amp; Admin</li>
        <li>Marketing &amp; Design</li>
        <li>pmx Engineering</li>
        <li>Professional Services</li>
        <li>Wiki</li>
      </ul>
    </div>
  </div>
  <div class="breadcrumbs__item">
    <div class="breadcrumbs__link"><span class="breadcrumbs__type">Mijlpaal</span> <span class="breadcrumbs__label">M01 - Processen varend erfgoed</span></div>
    <div class="breadcrumbs__selector">
      <input type="input" placeholder="filter">
      <ul>
        <li>Dashboard</li>
        <li>Finace &amp; Admin</li>
        <li>Marketing &amp; Design</li>
        <li>pmx Engineering</li>
        <li>Professional Services</li>
        <li>Wiki</li>
      </ul>
    </div>
  </div>
</div>
