<div class="app-navigator cf">
  <div class="app-navigator__left">
    <div class="app-navigator__item" data-action="open-left-panel">
      <h1><a href="#">छ</a></h1>
    </div>
    <div class="app-navigator__item" data-action="open-dashboard">
      <h1><a href="#">Dashboard</a></h1>
    </div>
  </div>
  <div class="app-navigator__right">
    <div class="app-navigator__item" data-action="open-semsearch">
      <a href="#">ञ</a>
      {% include popups/semsearch.html %}
    </div>
    <div class="app-navigator__item" data-action="open-right-panel">
      <a href="#">ज</a>
    </div>
  </div>
</div>
