<div class="multiSelector">

  <div class="itemBox">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <input type="search" class="JS_appNav__filterInput" placeholder="filter through items">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="itemBox JS_appNavBox">
    <div class="itemBoxTable">
      <div class="itemBoxTable__body">
        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ .TenForceWiki</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Approve</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">CPBW</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">CPBW Actions</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Process Documentation</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Task</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ Marketing &amp; Design</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Bugs</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Tasks</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ Operations</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Equipment assigment</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Hosted Virtual</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">IT Meetings</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">IT Projects</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">IT Requests</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">IT Tasks</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Logistics</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Maintanance Tasks</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Move to production</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Virtual Machines</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">WIKI</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ pmX Projects and Support</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Addins - Presets</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Code Reviews</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Coding Standards</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Financial milestones</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Holidays</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Knowledge Base</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Meetings</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">On demand</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Project Deliverables</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Projects</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Review Tasks</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Service Requests</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Tasks</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Tickets</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Trainings</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">WIKI</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ Product Development</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Actions</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Bugs</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Epics</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Installation notes</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Meetings</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Product sprints</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Release</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">SRB Meetings (new)</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">SRB Topics</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Stabilize test</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Stories</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Strategic Goals</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Technical topics</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Translations</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ Prof. Serv.</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Actions</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Contacts</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Financial milestones</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Meetings</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Tickets</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Work Orders</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="JS_itemBoxTable__bodyCellInner--text">अ Semantic Technology</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxTable">
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Actions</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Innovation</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Meetings</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">SemTech Backlog</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner ">
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Wiki</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore">
          <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">Load <span>18</span> more</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.itemBox -->

</div>
