<div class="app-header-inner cf">
  <div class="app-header-inner__left">
    <div class="app-header-inner__item">
      <a href="#" class="JS_toggle-app-navigator">छ</a>
    </div>
    <div class="app-header-inner__item">
      <a href="#">ढ</a>
    </div>
  </div>
  <div class="app-header-inner__right">
    <div class="app-header-inner__item JS_toggle-semsearch-1">
      <a href="#">ञ</a>
      {% include popups/semsearch.html %}
    </div>
    <div class="app-header-inner__item JS_toggle-user-menu">
      <a href="#">ज</a>
    </div>
  </div>
</div>
