<div class="app__nav">

  <div class="tabs tabs--light">
    <div class="tabs-nav">
      <div class="tabs-nav__slide tabs-nav__slide--left tabs-nav__slide--hidden">
        <span class="tabs-nav__slideShadow"></span>
        <span class="tabs-nav__slideArrow">←</span>
        <span class="tabs-nav__slideCounter">1</span>
      </div>
      <ul>
        <span class="tabs-nav__linkBar"></span>
        <li><a href="#" class="tabs-nav__link tabs-nav__link--active" tabindex="1"><span>Structure</span></a></li>
        <li><a href="#" class="tabs-nav__link" tabindex="2"><span>Smartlists</span></a></li>
        <li><a href="#" class="tabs-nav__link" tabindex="3"><span>Recently used</span></a></li>
        <li><a href="#" class="tabs-nav__link" tabindex="4"><span>Favorites</span></a></li>
      </ul>
      <div class="tabs-nav__slide tabs-nav__slide--right">
        <span class="tabs-nav__slideShadow"></span>
        <span class="tabs-nav__slideArrow">→</span>
        <span class="tabs-nav__slideCounter">9</span>
      </div>
    </div>
    <!-- /.tabs__nav -->

    <div class="tabs-panels">
      <div class="tabs-panels__panel" tabindex="1">
        <!-- tab contents -->
        {% include blocks/app-nav-tab1.html %}
      </div><!-- /.tabs__panel -->
      <div class="tabs-panels__panel" tabindex="2">
        <!-- tab contents -->
        {% include blocks/app-nav-tab2.html %}
      </div><!-- /.tabs__panel -->
      <div class="tabs-panels__panel" tabindex="3">
        <!-- tab contents -->

      </div><!-- /.tabs__panel -->
      <div class="tabs-panels__panel" tabindex="4">
        <!-- tab contents -->

      </div><!-- /.tabs__panel -->
    </div><!-- /.tabs__panels -->
  </div>

</div>
