<div class="app-navigator cf">
  <div class="app-navigator__left">
    <div class="app-navigator__item">
      <h1>
        <a href="#"  data-action="open-left-panel">छ</a>
        <a href="#">Dashboard</a>
      </h1>
    </div>
  </div>
  <div class="app-navigator__right">
    <div class="app-navigator__item" data-action="open-semsearch">
      <a href="#">ञ</a>
      {% include popups/semsearch.html %}
    </div>
    <div class="app-navigator__item" data-action="open-right-panel">
      <a href="#">ज</a>
    </div>
  </div>
</div>
