<div class="breadcrumbs breadcrumbs--overflow">
  {% for item in site.data.breadcrumbs.items %}
    <div class="breadcrumbs__item JS_breadcrumbs__item">

      <div class="selector">
        <div class="selector__item JS_selectorItem--active selector__item--selected">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--label JS_has-popup JS_breadcrumbPopup" data-popid="#multiSelector-breadcrumb">{{item.label}}</div>
          </div>
        </div>
      </div>

      <div class="inline">
        <a href="#" class="link">{{item.name}}</a>
      </div>

      <div class="breadcrumbs__seperator">/</div>
    </div>
  {% endfor %}
</div>

{% include popups/singleSelect-breadcrumb.html %}
