<div class="breadcrumbs">
  <div class="breadcrumbs__item">
    <div class="pmx-selector">
      <div class="pmx-selector__item pmx-selector__item--selected">
        <div class="pmx-selector__block">
          <div class="pmx-selector__blockPart pmx-selector__blockPart--label">Doelstelling</div>
        </div>
      </div>
    </div>
    <div class="pmx-link">
      <a href="#">De aanbevelingen van Audit Vlaanderen m.b.t. organisatiebeheersing uitvoeren</a>
    </div>
  </div>

  <div class="breadcrumbs__item">
    <div class="pmx-selector">
      <div class="pmx-selector__item pmx-selector__item--selected">
        <div class="pmx-selector__block">
          <div class="pmx-selector__blockPart pmx-selector__blockPart--label">Mijlpaal</div>
        </div>
      </div>
    </div>
    <div class="pmx-link">
      <a href="#">M01 - Processen varend erfgoed</a>
    </div>
  </div>
</div>
