<div class="breadcrumbs breadcrumbs--overflow">
  {% for item in site.data.breadcrumbs.items %}
    <div class="breadcrumbs__item JS_breadcrumbs__item">
      <div class="pmx-selector">
        <div class="pmx-selector__item pmx-selector__item--selected">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--label MULTISELECT__POPUP JS_breadcrumbPopup" data-popid="#multiSelector-breadcrumb">{{item.label}}</div>
          </div>
        </div>
      </div>
      <div class="pmx-link">
        <a href="#">{{item.name}}</a>
      </div>
    </div>
  {% endfor %}
</div>

{% include popups/singleSelect-breadcrumb.html %}
