<div class="itemBox itemBox--children js_itemBox--colors">
  <div class="itemBoxTable">
    <div class="itemBoxBody">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: black;" data-color="black">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            black
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: green;" data-color="green">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            green
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: red;" data-color="red">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            red
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: blue;" data-color="blue">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            blue
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: yellow;" data-color="yellow">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            yellow
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: orange;" data-color="orange">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            orange
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: hotpink;" data-color="hotpink">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            pink
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
