<aside class="document__info">
    <div class="tabs">
    <div class="tabs-nav">
      <ul>
        <span class="tabs-nav__linkBar"></span>
        <li><a href="#" class="tabs-nav__link tabs-nav__link--active" tabindex="1">Progress</a></li>
        <li><a href="#" class="tabs-nav__link" tabindex="2">Info</a></li>
      </ul>
    </div><!-- /.tabs__nav -->

    <div class="tabs-panels">
        <div class="tabs-panels__panel" tabindex="1">
            <ul class="document__steps">
                <li class="step step--resloved">
                    <span class="step__symbol"></span>
                    <span class="step__label">Project</span>
                </li>
                <li class="step step--current">
                    <span class="step__symbol"></span>
                    <span class="step__label">Doelstelling</span>
                </li>
                <li class="step step--unresolved">
                    <span class="step__symbol"></span>
                    <span class="step__label">Milestone and link indicator</span>
                </li>
                <li class="step step--unresolved">
                    <span class="step__symbol"></span>
                    <span class="step__label">Step 3</span>
                    <div class="step__info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
                <li class="step step--unresolved">
                    <span class="step__symbol"></span>
                    <span class="step__label">Set-up request</span>
                </li>
                <li class="step step--unresolved">
                    <span class="step__symbol"></span>
                    <span class="step__label">Step 5</span>
                </li>
                <li class="step step--unresolved">
                    <span class="step__symbol"></span>
                    <span class="step__label">Finished</span>
                </li>
            </ul>
        </div><!-- /.tabs__panel -->
        <div class="tabs-panels__panel" tabindex="2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><!-- /.tabs__panel -->
    </div><!-- /.tabs__panels -->

  </div><!-- /.tabs -->
</aside>
