{% include popups/multiSelector-columnpicker.html %}

<div class="itemBox">

  <ul class="itemBox__row itemBox__row--h1">
    <li class="itemBox__cell itemBox__cell--flex1">
      <div class="itemBox__cellInner">
        <h2>Lorem ipsum dolor sit amet</h2>
      </div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
      <div class="itemBox__cellInner">
        <i class="itemBox__action itemBox__action--disabled" title="refresh">ހ</i>
      </div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
      <div class="itemBox__cellInner">
        <i class="itemBox__action" title="add">ނ</i>
      </div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
      <div class="itemBox__cellInner">
        <i class="itemBox__action" title="link">ރ</i>
      </div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action MULTISELECT__POPUP" data-popid="#multiSelector-columnpicker">
      <div class="itemBox__cellInner">
        <i class="itemBox__action" title="arrange columns">ށ</i>
      </div>
    </li>
  </ul>

  <ul class="itemBox__row itemBox__row--h2">
    <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action itemBoxTable__headCell--toggle">
      <div class="itemBox__cellInner">
        <i class="itemBox__action JS_expand">ऄ</i>
      </div>
    </li>
    <li class="itemBox__cell">
      <div class="itemBox__cellInner">Title</div>
    </li>
    <li class="itemBox__cell">
      <div class="itemBox__cellInner">Performed For</div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex3">
      <div class="itemBox__cellInner">Assigned to</div>
    </li>
  </ul>

  <ul class="itemBox__row itemBox__row--item">
    <li class="itemBox__cell itemBox__cell--flex0">
      <div class="itemBox__cellInner"></div>
    </li>
    <li class="itemBox__cell itemBox__cell--permalink">
      <div class="itemBox__cellInner">
        <div class="itemBox__action">GOTO link</div>
      </div>
    </li>
    <li class="itemBox__cell">
      <div class="itemBox__cellInner">34342-34252345-342543523-343213124</div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex0">
      <div class="itemBox__cellInner">
        <div class="itemBox__action itemBox__action--secondary">܌</div>
      </div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex3">
      <div class="itemBox__cellInner">

        <div class="pmx-selector pmx-selector--expanded">
          <div class="pmx-selector__item pmx-selector__item--selected">
            <div class="pmx-selector__block">
              <span class="pmx-selector__blockPart pmx-selector__blockPart--field">11/17/2017</span>
            </div>
          </div>
        </div>

      </div>
    </li>
  </ul>

  <ul class="itemBox__row itemBox__row--item">
    <li class="itemBox__cell itemBox__cell--flex0 itemBoxTable__bodyCell--toggle">
      <div class="itemBox__cellInner">
        <i class="itemBox__action">ऄ</i>
      </div>
    </li>
    <li class="itemBox__cell">
      <div class="itemBox__cellInner">Contruction Reports</div>
    </li>
    <li class="itemBox__cell">
      <div class="itemBox__cellInner">34342-34252345-342543523-343213124</div>
    </li>
    <li class="itemBox__cell itemBox__cell--flex3">
      <div class="itemBox__cellInner">

        <div class="pmx-selector pmx-selector--expanded">
          <div class="pmx-selector__item pmx-selector__item--selected">
            <div class="pmx-selector__block">
              <span class="pmx-selector__blockPart pmx-selector__blockPart--field">11/17/2017</span>
            </div>
          </div>
        </div>

      </div>
    </li>
  </ul>

  <div class="itemBox itemBox--children">
    <ul class="itemBox__row itemBox__row--h1">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <h2>Contruction Reports</h2>
        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
        <div class="itemBox__cellInner">
          <i class="itemBox__action itemBox__action--disabled">ހ</i>
        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
        <div class="itemBox__cellInner">
          <i class="itemBox__action">ނ</i>
        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
        <div class="itemBox__cellInner">
          <i class="itemBox__action">ރ</i>
        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action MULTISELECT__POPUP" data-popid="#multiSelector-columnpicker">
        <div class="itemBox__cellInner">
          <i class="itemBox__action">ށ</i>
        </div>
      </li>
    </ul>

    <ul class="itemBox__row itemBox__row--h2">
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action itemBoxTable__headCell--toggle">
        <div class="itemBox__cellInner">
          <i class="itemBox__action">ऄ</i>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">Title</div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">Performed For</div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex3">
        <div class="itemBox__cellInner">Assigned to</div>
      </li>
    </ul>

    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">lorem ipsum dolor sit amet</div>
      </li>
      <li class="itemBox__cell itemBox__cell--focus">
        <div class="itemBox__cellInner">lorem ipsum dolor sit amet</div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex3">
        <div class="itemBox__cellInner">

          <div class="pmx-selector pmx-selector--expanded pmx-selector--multiselect JS_selector">
            <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0bda51;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">UI/UX</div>
              </div>
            </div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__item JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00bfff;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Design</div>
              </div>
            </div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #e30022;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Front-end</div>
              </div>
            </div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__item JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #f4ca16;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Important</div>
              </div>
            </div>
          </div>

        </div>
      </li>
    </ul>

    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
        <div class="itemBox__cellInner">
          <i class="itemBox__action">ऄ</i>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">Road constructions</div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">lorem ipsum dolor sit amet</div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex3">
        <div class="itemBox__cellInner">

          <div class="pmx-selector pmx-selector--expanded pmx-selector--multiselect JS_selector">
            <div class="pmx-selector__item  pmx-selector__item--selected JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0bda51;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--label">design</div>
                <div class="pmx-selector__blockSeperator"></div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">UI/UX</div>
              </div>
            </div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: orange;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--label">comp</div>
                <div class="pmx-selector__blockSeperator"></div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">IT</div>
              </div>
            </div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__item JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: blue;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--label">dev</div>
                <div class="pmx-selector__blockSeperator"></div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Back-end</div>
              </div>
            </div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__item JS_selectorItem">
              <div class="pmx-selector__block">
                <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #f4ca16;">ग़</div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--label">status</div>
                <div class="pmx-selector__blockSeperator"></div>
                <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Important</div>
              </div>
            </div>
          </div>

        </div>
      </li>
    </ul>

    {% include blocks/itembox-row.html %}

    <div class="itemBox itemBox--children">
      <ul class="itemBox__row itemBox__row--h1">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">
            <h2>Contruction Reports</h2>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
          <div class="itemBox__cellInner">
            <i class="itemBox__action itemBox__action--disabled">ހ</i>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
          <div class="itemBox__cellInner">
            <i class="itemBox__action">ނ</i>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
          <div class="itemBox__cellInner">
            <i class="itemBox__action">ރ</i>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action MULTISELECT__POPUP" data-popid="#multiSelector-columnpicker">
          <div class="itemBox__cellInner">
            <i class="itemBox__action">ށ</i>
          </div>
        </li>
      </ul>

      <ul class="itemBox__row itemBox__row--h2">
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action itemBoxTable__headCell--toggle">
          <div class="itemBox__cellInner">
            <i class="itemBox__action">ऄ</i>
          </div>
        </li>
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">Lorem ipsum dolor sit amet</div>
        </li>
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">Placeholder</div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex3">
          <div class="itemBox__cellInner">A focused cell</div>
        </li>
      </ul>

      {% include blocks/itembox-row.html %}
      {% include blocks/itembox-row.html %}

      <ul class="itemBox__row itemBox__row--h3">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner font--label">lorem ipsum dolor sit amet</div>
        </li>
      </ul>

      {% include blocks/itembox-row.html %}
      {% include blocks/itembox-row.html %}

      <ul class="itemBox__row itemBox__row--foot">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner font--xs">All <span>4</span> items loaded</div>
        </li>
      </ul>
    </div><!-- /.itemBox -->

    {% include blocks/itembox-row.html %}
    {% include blocks/itembox-row.html %}

    {% include blocks/popup/ms-load-more.html %}

    <ul class="itemBox__row itemBox__row--foot">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner font--xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div><!-- /.itemBox -->

  {% include blocks/itembox-row.html %}
  {% include blocks/itembox-row.html %}
  {% include blocks/itembox-row.html %}
  {% include blocks/itembox-row.html %}

  {% include blocks/popup/ms-load-more.html %}

  <ul class="itemBox__row itemBox__row--foot">
    <li class="itemBox__cell">
      <div class="itemBox__cellInner font--xs">All <span>423</span> items loaded</div>
    </li>
  </ul>
</div><!-- /.itemBox -->
