<header class="item-header">
  <div class="item-header__type">
    <span>Bug</span>
  </div>

  <h2 class="item-header__title">PMX - Fix horizontal scroll alterneting in FireFox <span class="item-header__id">391441</span></h2>

  <div class="item-header__actions">
    <div class="pmx-selector pmx-selector--collapsed">
      <div class="pmx-selector__item pmx-selector__item--selected">
        <div class="pmx-selector__block ">
          <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</span>
        </div>
      </div>
    </div>

    <div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
      <div class="pmx-selector__item pmx-selector__item--selected JS_toggle-progress">
        <div class="pmx-selector__block">
          <span class="pmx-selector__blockPart pmx-selector__blockPart--field">ण</span>
        </div>
      </div>
      <div class="pmx-selector__item JS_toggle-comments">
        <div class="pmx-selector__block">
          <span class="pmx-selector__blockPart pmx-selector__blockPart--field">स</span>
        </div>
      </div>
    </div>
  </div>
</header>
