<div class="itemBox">
    <div class="itemBoxHeader">
      <ul class="itemBoxHeader__row">
        <li class="itemBoxHeader__cell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxHeader__cellInner">
            <h2 class="itemBoxHeader__title">Lorem ipsum dolor sit amet</h2>
          </div>
        </li>
        <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxHeader__cellInner">
            <i class="itemBoxTable__action" title="refresh">ހ</i>
          </div>
        </li>
        <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxHeader__cellInner">
            <i class="itemBoxTable__action" title="add">ނ</i>
          </div>
        </li>
        <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxHeader__cellInner">
            <i class="itemBoxTable__action" title="link">ރ</i>
          </div>
        </li>
        <li class="itemBoxHeader__cell MULTISELECT__POPUP" data-popid="#multiSelector-columnpicker" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxHeader__cellInner">
            <i class="itemBoxTable__action" title="arrange columns">ށ</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="itemBoxTable">
      <div class="itemBoxTable__head">
        <ul class="itemBoxTable__headRow">
            <li class="itemBoxTable__headCell itemBoxTable__headCell--toggle" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__headCellInner">
                <i class="itemBoxTable__action">ऄ</i>
              </div>
            </li>
            <li class="itemBoxTable__headCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__headCellInner">Title</div>
            </li>
            <li class="itemBoxTable__headCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__headCellInner">Performed For</div>
            </li>
            <li class="itemBoxTable__headCell" style="flex-grow: 3;" data-flex="3">
              <div class="itemBoxTable__headCellInner">Assigned to</div>
            </li>
        </ul>
      </div>
      <div class="itemBoxTable__body">
        <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner"></div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--goto" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">GOTO link</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                <div class="itemBoxTable__bodyCellInner">

                  <div class="pmx-field__inner">
                    <div class="pmx-selector pmx-selector--expanded pmx-selector--singleSelect">
                      <div class="pmx-selector__item pmx-selector__item--selected">
                        <div class="pmx-selector__block">
                          <span class="pmx-selector__blockPart pmx-selector__blockPart--field">11/17/2017</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            </li>
        </ul>
        <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action">ऄ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">Contruction Reports</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                <div class="itemBoxTable__bodyCellInner">

                  <div class="pmx-field__inner">
                    <div class="pmx-selector pmx-selector--expanded pmx-selector--singleSelect">
                      <div class="pmx-selector__item pmx-selector__item--selected">
                        <div class="pmx-selector__block">
                          <span class="pmx-selector__blockPart pmx-selector__blockPart--field">11/17/2017</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            </li>
        </ul>
        <div class="itemBox itemBox--children">
          <div class="itemBoxHeader">
            <ul class="itemBoxHeader__row">
              <li class="itemBoxHeader__cell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxHeader__cellInner">
                  <h2 class="itemBoxHeader__title">Contruction Reports</h2>
                </div>
              </li>
              <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                <div class="itemBoxHeader__cellInner">
                  <i class="itemBoxTable__action itemBoxTable__action--disabled">ހ</i>
                </div>
              </li>
              <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                <div class="itemBoxHeader__cellInner">
                  <i class="itemBoxTable__action">ނ</i>
                </div>
              </li>
              <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                <div class="itemBoxHeader__cellInner">
                  <i class="itemBoxTable__action">ރ</i>
                </div>
              </li>
              <li class="itemBoxHeader__cell MULTISELECT__POPUP" data-popid="#multiSelector-columnpicker" style="flex-grow: 0;" data-flex="0">
                <div class="itemBoxHeader__cellInner">
                  <i class="itemBoxTable__action">ށ</i>
                </div>
              </li>
            </ul>
          </div>
          <div class="itemBoxTable">
            <div class="itemBoxTable__head">
              <ul class="itemBoxTable__headRow">
                  <li class="itemBoxTable__headCell itemBoxTable__headCell--toggle" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__headCellInner">
                      <i class="itemBoxTable__action">ऄ</i>
                    </div>
                  </li>
                  <li class="itemBoxTable__headCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__headCellInner">Title</div>
                  </li>
                  <li class="itemBoxTable__headCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__headCellInner">Performed For</div>
                  </li>
                  <li class="itemBoxTable__headCell" style="flex-grow: 3;" data-flex="3">
                    <div class="itemBoxTable__headCellInner">Assigned to</div>
                  </li>
              </ul>
            </div>
            <div class="itemBoxTable__body">
              <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--focus" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                      <div class="itemBoxTable__bodyCellInner">

                        <div class="pmx-field__inner">
                          <div class="pmx-selector JS_selector pmx-selector--expanded pmx-selector--multiSelect">
                            <div class="pmx-selector__item JS_selectorItem pmx-selector__item--selected">
                              <div class="pmx-selector__block">
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0bda51; color: #FFF;">ग़</span>
                                <span class="pmx-selector__blockSeperator"></span>
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--field">UI/UX</span>
                              </div>
                            </div>
                            <span class="pmx-selector__itemSeperator"></span>
                            <div class="pmx-selector__item  JS_selectorItem">
                              <div class="pmx-selector__block">
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00bfff; color: #FFF;">ग़</span>
                                <span class="pmx-selector__blockSeperator"></span>
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Design</span>
                              </div>
                            </div>
                            <span class="pmx-selector__itemSeperator"></span>
                            <div class="pmx-selector__item JS_selectorItem pmx-selector__item--selected">
                              <div class="pmx-selector__block">
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #e30022; color: #FFF;">ग़</span>
                                <span class="pmx-selector__blockSeperator"></span>
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Front-end</span>
                              </div>
                            </div>
                            <span class="pmx-selector__itemSeperator"></span>
                            <div class="pmx-selector__item  JS_selectorItem">
                              <div class="pmx-selector__block">
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #f4ca16; color: #FFF;">ग़</span>
                                <span class="pmx-selector__blockSeperator"></span>
                                <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Important</span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                  </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action">ऄ</i>
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">Road constructions</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                      <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                  </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxHeader">
                  <ul class="itemBoxHeader__row">
                    <li class="itemBoxHeader__cell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxHeader__cellInner">
                        <h2 class="itemBoxHeader__title">Road Constructions</h2>
                      </div>
                    </li>
                    <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                      <div class="itemBoxHeader__cellInner">
                        <i class="itemBoxTable__action">ހ</i>
                      </div>
                    </li>
                    <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                      <div class="itemBoxHeader__cellInner">
                        <i class="itemBoxTable__action">ނ</i>
                      </div>
                    </li>
                    <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                      <div class="itemBoxHeader__cellInner">
                        <i class="itemBoxTable__action">ރ</i>
                      </div>
                    </li>
                    <li class="itemBoxHeader__cell" style="flex-grow: 0;" data-flex="0">
                      <div class="itemBoxHeader__cellInner">
                        <i class="itemBoxTable__action">ށ</i>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="itemBoxTable">
                  <div class="itemBoxTable__head">
                    <ul class="itemBoxTable__headRow">
                        <li class="itemBoxTable__headCell itemBoxTable__headCell--toggle" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__headCellInner">
                            <i></i>
                          </div>
                        </li>
                        <li class="itemBoxTable__headCell" style="flex-grow: 1;" data-flex="1">
                          <div class="itemBoxTable__headCellInner">

                            <!-- TODO -->
                            <div class="itemBoxTable__field itemBoxTable__field--value">
                              <div class="itemBoxTable__fieldLabel">filtered value</div>
                              <div class="itemBoxTable__fieldValue">
                                <input value="lorem ipsum dolor sit amet">
                              </div>
                            </div>

                          </div>
                        </li>
                        <li class="itemBoxTable__headCell" style="flex-grow: 1;" data-flex="1">
                          <div class="itemBoxTable__headCellInner">

                            <!-- TODO -->
                            <div class="itemBoxTable__field itemBoxTable__field--placeholder">
                              <div class="itemBoxTable__fieldLabel">Placeholder</div>
                              <div class="itemBoxTable__fieldValue">
                                <input value="Child 2 Head 2 lorem ipsum dolor sit amet">
                              </div>
                            </div>

                          </div>
                        </li>
                        <li class="itemBoxTable__headCell itemBoxTable__headCell--focus" style="flex-grow: 3;" data-flex="3">
                          <div class="itemBoxTable__headCellInner">

                            <!-- TODO -->
                            <div class="itemBoxTable__field itemBoxTable__field--focus">
                              <div class="itemBoxTable__fieldLabel">Assigned to</div>
                              <div class="itemBoxTable__fieldValue">
                                <input value="A focused cell" placeholder="Placeholder">
                              </div>
                            </div>

                          </div>
                        </li>
                    </ul>
                  </div>
                  <div class="itemBoxTable__body">
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                          <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">

                              <!-- TODO -->
                              <div class="field field--value">
                                <div class="field__value">
                                  <input value="34342-34252345-342543523-343213124">
                                </div>
                              </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--goto" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">A goto link</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124-34342-34252345-342543523-343213124-34342-34252345-342543523-343213124-34342-34252345-342543523-343213124-34342-34252345-342543523-343213124</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--grouped">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">
                              <div>lorem ipsum dolor sit amet</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                          <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">

                              <!-- TODO -->
                              <div class="field field--value">
                                <div class="field__value">
                                  <input value="34342-34252345-342543523-343213124">
                                </div>
                              </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--goto" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">A goto link</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124-34342-34252345-342543523-343213124-34342-34252345-342543523-343213124-34342-34252345-342543523-343213124-34342-34252345-342543523-343213124</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                        </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow">
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                          <div class="itemBoxTable__bodyCellInner"></div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                            <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                        </li>
                        <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                            <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                        </li>
                    </ul>
                  </div>
                  <div class="itemBoxTable__foot">
                    <div class="itemBoxTable__footLoadedall">All <span>4</span> items loaded</div>
                  </div>
                </div>
              </div><!-- /.itemBox -->
              <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                      <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                  </li>
              </ul>
              <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                      <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
                  </li>
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                      <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
                  </li>
              </ul>
              <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">Load <span>347</span> more</div>
                  </li>
              </ul>
            </div>
          </div>
        </div><!-- /.itemBox -->
        <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner"></div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
            </li>
        </ul>
        <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner"></div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">lorem ipsum dolor sit amet</div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 3;" data-flex="3">
                <div class="itemBoxTable__bodyCellInner">34342-34252345-342543523-343213124</div>
            </li>
        </ul>
        <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">Load <span>100</span> more</div>
            </li>
        </ul>
      </div>
      <div class="itemBoxTable__foot">
        <div class="itemBoxTable__footLoadedall">All <span>50</span> items loaded</div>
      </div>
    </div>
</div><!-- /.itemBox -->
