<header class="header header--section">
  <div class="header__title">
    <h3 class="truncate">Bugs<sup>76</sup></h3>
  </div>

  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>

<div class="itemBox">
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--thead">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_expand_header">
        <div class="itemBox__cellInner">
          <button class="itemBox__action"></button>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">Nr</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">Title</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">Assigned to</div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">Reported by customer</div>
      </li>
    </ul>
  </div>

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,395415"  readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
        <div class="itemBox__cellInner">Bulk update speed regressed in 282.0</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,Vasya Aksyonov" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,35825" readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
        <div class="itemBox__cellInner">Write spec for semantic search</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,Vincent Goossens" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_expand">
        <div class="itemBox__cellInner">
          <button class="itemBox__action"></button>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
        <div class="itemBox__cellInner">Integrated Release Management</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,_Not Assigned" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
    </ul>
    <div class="itemBox animate-fadein JS_itemBox--children">
      <header class="header header--table">
        <div class="header__title">
          <h2>Integrated Release Management</h2>
        </div>
        <div class="header__actions">
          <button class="block-action disabled"></button>
          <button class="block-action">Print</button>
          <button class="block-action"></button>
          <button class="block-action JS_has-popup" data-popid="#multiSelector-columnpicker"></button>
        </div>
      </header>
      <div class="itemBox__row">
        <ul class="itemBox__rowInner itemBox__rowInner--thead">
        <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
          <div class="itemBox__cellInner">
            <div class="itemBox__action"></div>
          </div>
        </li>
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">Nr</div>
        </li>
        <li class="itemBox__cell flex-grow-2">
          <div class="itemBox__cellInner">Title</div>
        </li>
        <li class="itemBox__cell flex-grow-2">
          <div class="itemBox__cellInner">Assigned to</div>
        </li>
        <li class="itemBox__cell flex-grow-3">
          <div class="itemBox__cellInner">Tags</div>
        </li>
      </ul>
      </div>
      <div class="itemBox__row">
        <ul class="itemBox__rowInner itemBox__rowInner--item">
        <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
          <div class="itemBox__cellInner"></div>
        </li>
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData=",,,32072" readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
          </div>
        </li>
        <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
          <div class="itemBox__cellInner">Add indicators in import/export</div>
        </li>
        <li class="itemBox__cell flex-grow-2">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData=",,,Jonathan Langens" singleselect="true" selectedIndexes="1" %}
          </div>
        </li>
        <li class="itemBox__cell flex-grow-3">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData="blue,,,281;green,,,282;salmon,,,283" multiselect="true" selectedIndexes="1,2,3" %}
          </div>
        </li>
      </ul>
      </div>
      <div class="itemBox__row">
        <ul class="itemBox__rowInner itemBox__rowInner--item">
        <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
          <div class="itemBox__cellInner"></div>
        </li>
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData=",,,32750"  readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
          </div>
        </li>
        <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
          <div class="itemBox__cellInner">Source files of project in sub-folders of install folder</div>
        </li>
        <li class="itemBox__cell flex-grow-2">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData=",,,Koen" singleselect="true" selectedIndexes="1" %}
          </div>
        </li>
        <li class="itemBox__cell flex-grow-3">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData="gray,,,275;black,,,scripting:common" multiselect="true" selectedIndexes="1,2" %}
          </div>
        </li>
      </ul>
      </div>
      <div class="itemBox__row">
        <ul class="itemBox__rowInner itemBox__rowInner--item">
        <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
          <div class="itemBox__cellInner"></div>
        </li>
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData=",,,32454"  readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
          </div>
        </li>
        <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
          <div class="itemBox__cellInner">Publish the "binary" and "selenium" (zip) packages as NuGet packages</div>
        </li>
        <li class="itemBox__cell flex-grow-2">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData=",,,_Not Assigned" singleselect="true" selectedIndexes="1" %}
          </div>
        </li>
        <li class="itemBox__cell flex-grow-3">
          <div class="itemBox__cellInner">
            {% include components/selector.html selectorData="gray,,,275;yellow,,,276" multiselect="true" selectedIndexes="1,2" %}
          </div>
        </li>
      </ul>
      </div>
      <div class="itemBox__row">
        <ul class="itemBox__rowInner itemBox__rowInner--tfoot">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner text-xs">All <span>423</span> items loaded</div>
        </li>
      </ul>
      </div>
    </div>
    <!-- /.itemBox -->
  </div>

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,31795" readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
          </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
        <div class="itemBox__cellInner">Opening person detail page is slow (> 30 sec)</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,Andriy Lisoyov" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,161531" readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
        <div class="itemBox__cellInner">Backup Report [Failed] > backup.admin@tenforce.com > Belgacom-App > Job 2013-06-</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,Manuel" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,283377" readonly="true" singleselect="true" expanded="true"  selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink">
        <div class="itemBox__cellInner">Kallo: statistiek geen tekst FW: stats</div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,Elton" singleselect="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="2" %}
        </div>
      </li>
    </ul>
  </div>

  {% include blocks/popup/ms-row-load-more.html %}

  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--tfoot">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
<!-- /.itemBox -->




<!-- Popup -->
<div class="multiSelector" id="multiSelector-error">
  <div class="itemBox">
    <ul class="itemBox__row itemBox__row--custom">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">

          <div class="note note--error">
            <p>This item must be assigned to a specific user.</p>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
