<ul class="itemBox__row itemBox__row--item">
  <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
    <div class="itemBox__cellInner"></div>
  </li>
  <li class="itemBox__cell">
    <div class="itemBox__cellInner">lorem ipsum dolor sit amet</div>
  </li>
  <li class="itemBox__cell">
    <div class="itemBox__cellInner">lorem ipsum dolor sit amet</div>
  </li>
  <li class="itemBox__cell flex-grow-3">
    <div class="itemBox__cellInner">34342-34252345-342543523-343213124</div>
  </li>
</ul>
