<header class="header header--smartlist">
  <div class="header__inner">
    <input type="text" value="UX Improvements" class="header__inputTitle h2">

    <div class="header__title">
      <div class="header__type">
        <div class="header__label">
          <span class="h6">Smartlist</span>
        </div>
      </div>
      <h2 class="truncate">UX Improvements</h2>
    </div>

    <div class="header__actions">
      <div class="block-action"></div>
      <div class="block-action"></div>
      <div class="block-action"></div>
      <div class="block-action"></div>
      <div class="block-action"></div>
    </div>
  </div>
</header>
