<header class="header header--item">
  <div class="header__inner">
    <div class="header__title">
      <h3 class="truncate">Set-up request</h3>
    </div>

    <div class="header__actions">
        {% include components/button.html title="Reject" drop="true"%}
        {% include components/button.html title="Create" go="true"%}
    </div>
  </div>
</header>

{% assign tabsNavData = "General;Permit Parameters;Special instructions" %}
{% capture panelData %}
  {% include blocks/item-main-tab1.html %}
  ;&&;
  {% include blocks/item-main-tab2.html %}
  ;&&;
  {% include blocks/item-main-tab3.html %}
{% endcapture %}

{% include components/tabs.html tabsNavData=tabsNavData panelData=panelData %}
