<div class="itemBox itemBox--children itemBox--children-sublist JS_itemBox--filterInclExcl">
  <div class="itemBoxTable">
    <div class="itemBoxBody">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--inclExcl" data-filter="Include">
            <div class="pmx-field">
              <div class="pmx-field__inner">
                <div class="pmx-selector pmx-selector--expanded">
                  <div class="pmx-selector__item pmx-selector__item--selected">
                    <div class="pmx-selector__block">
                      <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Include</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--inclExcl" data-filter="Exclude">
            <div class="pmx-field">
              <div class="pmx-field__inner">
                <div class="pmx-selector pmx-selector--expanded">
                  <div class="pmx-selector__item pmx-selector__item--selected">
                    <div class="pmx-selector__block">
                      <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Exclude</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
