<div class="itemBox itemBox--children itemBox--children-sublist JS_itemBox--colors">
  <div class="itemBoxTable">
    <div class="itemBoxBody">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #dcdcdc;" data-color="#dcdcdc">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Silver
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #00bfff;" data-color="#00bfff">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Deep Blue Sky
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #0bda51;" data-color="#0bda51">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Malachite
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #f4ca16;" data-color="#f4ca16">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Saffron
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #b8860b;" data-color="#b8860b">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Dark Goldenrod
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #e30022;" data-color="#e30022">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Cadmium Red
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--color">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #343434;" data-color="#343434">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Jet
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
