<div class="itemBox itemBox--children itemBox--children-sublist JS_itemBox--suggestions" style="display: none;">
  <div class="itemBoxTable">
    <div class="itemBoxBody">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell JS_colorselector-trigger" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--colortoggle">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #0bda51;" data-color="#0bda51">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">
            282
          </div>
        </li>
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
          </div>
        </li>
      </ul>
      {% include blocks/ms-tags-colors-color-sublist.html %}

      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell JS_colorselector-trigger" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--colortoggle">
            <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: #00bfff;" data-color="#00bfff">ग़</i>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">
            297
          </div>
        </li>
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
          </div>
        </li>
      </ul>
      {% include blocks/ms-tags-colors-color-sublist.html %}

      <ul class="itemBoxTable__bodyRow itemBoxTable__bodyRow--loadMore JS_createNewTag">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">Create New Tag</div>
        </li>
      </ul>
    </div>
  </div>
</div>
