<div class="itemBox itemBox--children itemBox--children-sublist JS_itemBox--filterInclExcl">
  <div class="itemBoxTable">
    <div class="itemBoxBody">
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Include
          </div>
        </li>
      </ul>
      <ul class="itemBoxTable__bodyRow">
        <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner">
            Exclude
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
