  <div class="notifications__userInfo">
    <div class="notifications__userInfoAvatar">
      <img src="assets/images/profile.jpg" alt="profile picture">
    </div>
    <div class="notifications__userInfoName">
      <span class="notifications__userInfoFirstName">Nick</span>
      <span class="notifications__userInfoLastName">De Jaeger</span>
    </div>
  </div>

  <div class="notifications__actions">
    <ul class="notifications__actionsList">
      <li><a href="#">Home</a></li>
      <li><a href="#">My To Do's</a></li>
      <li><a href="#">Time sheet</a></li>
      <li><a href="#">Reports</a></li>
    </ul>

    <ul class="notifications__actionsList notifications__actionsList--account">
      <li><a href="#"><i class="help"></i>Help</a></li>
      <li><a href="#"><i class="settings"></i>Settings</a></li>
      <li><a href="#"><i class="logout"></i>Logout</a></li>
    </ul>
  </div>
