  <div class="notifications__userInfo">
    <div class="notifications__userInfoName">
      <a href="#" class="notifications__userInfoLongName">Nick De Jaeger</a>
    </div>
    <div class="notifications__userInfoAvatar">
      <img src="assets/images/profile.jpg" alt="profile picture">
    </div>
  </div>

  <div class="notifications__actions">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxTable__body">
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">ढ</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">Home</div>
              </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">ण</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">My To Do's</div>
              </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">झ</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">Time sheets</div>
              </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">ऌ</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">Reports</div>
              </li>
          </ul>
        </div>
      </div>
    </div><!-- /.itemBox -->

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxTable__body">
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">ट</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">Help</div>
              </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">ड</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">Settings</div>
              </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action">त</i>
                  </div>
              </li>
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">Logout</div>
              </li>
          </ul>
        </div>
      </div>
    </div><!-- /.itemBox -->

  </div>
