<div class="tid-content-wrapper JS-old-panel" panel-name="overview">
  <h2 class="pagetitle" style="padding: 15px 15px 0; margin-top: 0;">Content</h2>
  <div id="tabs" class="tid-sidebar">
    <div class="scroller scroller-right">
      <div class="go-right invisible" style="display: none;"></div>
    </div>
    <div class="scroller scroller-left">
      <div class="go-left invisible" style="display: none;"></div>
    </div>
    <div class="tab-scroller">
      <ul>
        <li class="old-tab-selector selected" id="OverviewTab" tab-name="overview"><a href="#"><span>Overview</span></a></li>
        <li class="old-tab-selector" id="SolutionTab" tab-name="solution"><a href="#"><span>Solution</span></a></li>
        <li class="old-tab-selector" id="ChilditemsTab0" tab-name="Bugs"><a href="#"><span>Bugs <span>0</span></span></a></li>
      </ul>
    </div>
  </div>

  <div class="tab-content" tab-name="overview">
    <div id="OverviewTab_Content" class="tid-content">
      <h2 class="pagetitle">Details</h2>
      <div class="newgrid containsipe">
        <dl>
          <dt class="label double"><span class="required">*</span><span class="label">Assigned to</span></dt>
          <dd class="value double"><span id="fld_659309_Item_4" ipe_property="4" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#">Nick De Jaeger</span></span>
          </dd>
          <dt class="label double field-empty invisible">&nbsp;</dt>
          <dd class="value double field-empty invisible">&nbsp;</dd>
          <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Due date</span></dt>
          <dd class="value double"><span id="fld_659309_Item_5" ipe_property="5" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Due text</span></dt>
          <dd class="value double"><span id="fld_659309_Item_6" ipe_property="6" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd>
          <dd class="clear"></dd><dt class="label double"><span class="required">*</span><span class="label">Status</span></dt>
          <dd class="value double"><span id="fld_659309_Item_7" ipe_property="7" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>Done</span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Priority</span></dt>
          <dd class="value double"><span id="fld_659309_Item_8" ipe_property="8" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>Medium</span>
          </dd>
          <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Source event</span></dt>
          <dd class="value double"><span id="fld_659309_Item_12" ipe_property="12" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Source date</span></dt>
          <dd class="value double"><span id="fld_659309_Item_13" ipe_property="13" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd>
          <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Performed By</span></dt>
          <dd class="value double"><span id="fld_659309_Item_14" ipe_property="14" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Performed For</span></dt>
          <dd class="value double"><span id="fld_659309_Item_15" ipe_property="15" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd>
          <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Planned start</span></dt>
          <dd class="value double"><span id="fld_659309_Item_16" ipe_property="16" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
          </dd>
          <dt class="label double field-empty invisible">&nbsp;</dt>
          <dd class="value double field-empty invisible">&nbsp;</dd>
          <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Planned effort (hours)</span></dt>
          <dd class="value double"><span id="fld_659309_Item_17" ipe_property="17" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>0</span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Actual effort (hours)</span></dt>
          <dd class="value double"><span id="fld_659309_Item_18" ipe_property="18" class="hasnoipe">2,2</span>
          </dd>
          <dd class="clear"></dd><dt class="label double"><span class="required">*</span><span class="label">List</span></dt>
          <dd class="value double"><span id="fld_659309_Item_19" ipe_property="19" class="hasnoipe">Marketing &amp; Design : <a href="#">Bugs</a></span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">ETC (hours)</span></dt>
          <dd class="value double"><span id="fld_659309_Item_20" ipe_property="20" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>0</span>
          </dd>
          <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Originator</span></dt>
          <dd class="value double"><span id="fld_659309_Item_21" ipe_property="21" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#">Nick De Jaeger</span></span>
          </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Tags</span></dt>
          <dd class="value double"><span id="fld_659309_Item_22" ipe_property="22" class="hasipe tagcontainer" title="Click here to add a tag"><a class="focuscatcher" href="#">Click here to add a tag</span>
            <div class="clear"></div><a href="#">Customize tags</a></span>
          </dd>
          <dd class="clear"></dd>
        </dl>
      </div>

      <h2 class="pagetitle">Description</h2>
      <div>
        <span id="fld_659309_Item_23" ipe_property="23" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- /.tab-content -->

  <div class="tab-content" tab-name="solution" style="display: none;">

    <div class="tid-content">
      <h2 class="pagetitle">Solution</h2>
      <div>
        <span ipe_id="660526" ipe_object="Item" ipe_property="29" class="hasipe addcontent" title="Click here to edit" ipe_editmodeallowed="true"><a class="focuscatcher" href="#" onclick="return false"></a>Click here to edit</span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="tab-content" tab-name="Bugs" style="display: none;">

    <div class="p-4">
      <h2 class="pagetitle">Bugs</h2>
      {% include blocks/itembox.html %}
    </div>
  </div>
  <!-- /.tab-content -->
</div>
