<div id="CommentsTab_Content" class="tid-content">

  <div id="ctl00_PageContentPlaceHolder_ctl00_m_CommentsTab_comments_CreateNewComment" class="newgrid">
    <h3><span>Comments</span></h3>

    <table class="commenth-col-container block p-4 border border-solid border-grey rounded" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td class="commenth-left-col">
          	<div class="gravatar gravatar50 commenth-left-col">
          		<img src="./assets/images/profile.jpg">
          	</div>
          </td>
          <td class="commenth-right-col">
            <div class="ipeblock" id="">
              <textarea class="full" cols="88" rows="2" id="NewCommentDescription"></textarea>
              <div class="comments-notify-wrapper">
                <div class="label">
                  <span id="ctl00_PageContentPlaceHolder_ctl00_m_CommentsTab_comments_Span5">Notify:</span>
                </div>
                <div class="picker">

                  <div class="solidinput haspicker" id="picker">
                    <div class="newpicker person" id="Picker_28421634" options="hasSearch:true,hasInput:false,multiSelect:true,showLabel:true,closeGroups:false,listItemId:678792i">
                      <span class="newpickerbutton">&nbsp;</span>
                      <div class="newpickercontent-wrapper">
                        <div class="newpickercontent-container">
                          <div class="newpickercontent">
                  	        <p class="inlinesearch">
                  		        <input class="text empty" value="Search..." type="text">
                  	        </p><!-- inlinesearch -->
                  	        <ul id="ctl00_PageContentPlaceHolder_ctl00_m_CommentsTab_comments_personpicker_itemlist" class="monsterlist"><li id="null" class="addcontent"><label class="nonselectable"><span class="inner">no selections available</span></label></li></ul><!-- monsterlist -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pickerinput">
                      <span class="noinput">&nbsp;</span>
                      <input value="" class="text full invisible" type="text">
                    </div><!-- pickerinput -->
                  </div><!-- solidinput -->

                </div>
              </div>
              <div class="hasbuttons" style="padding-top:4px;" id="">
                <a class="button save" id="CreateNewCommentButton" tabindex="-1"><span id="ctl00_PageContentPlaceHolder_ctl00_m_CommentsTab_comments_Span1">Save</span></a>
                <span id="ctl00_PageContentPlaceHolder_ctl00_m_CommentsTab_comments_Span2"> or </span>
                <a class="cancel" id="CancelNewCommentButton" tabindex="-1"><span id="ctl00_PageContentPlaceHolder_ctl00_m_CommentsTab_comments_Span3">Clear</span></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ol id="commentList" class="comments">
    <li id="">
      <div class="comment-col-container">
        <div class="gravatar gravatar50 comment-left-col"><img src="./assets/images/profile.jpg" alt="Kasper Van Waes" title="Kasper Van Waes"></div>
        <div class="comment-right-col">
          <div class="comment-heading-col-container">
            <div class="comment-heading-left-col">
              <h4><a><span>Kasper Van Waes</span></a>&nbsp;<span class="comment-user-sep">|</span>&nbsp;<span class="time">5/03/2018</span> at <span class="time">14:27</span><a class="remove" href="#">remove</a></h4>
            </div>
          </div>
          <div class="comment-data-container">
            <p id="comment_252211" ipe_type="BigText" ipe_property="Description" ipe_object="ItemComment" class="hasipe" ipe_editmodeallowed="true" ipe_id="252211"><a class="focuscatcher" href="#" onclick="return false"></a>(<a target="new" href="/config/persons/1722">Jan Van den Nieuwenhof</a> was notified) Klopt. Momenteel is dit het zekere bedrag dat we uitgeven en factureren. Volgende week heb ik hier een meeting en ga ik weten hoe we verder gaan en of dit op 2 projecten komt of 1 vandaar nu nog het verschil.&nbsp;</p>
          </div>
        </div>
      </div>
    </li>
    <li id="">
      <div class="comment-col-container">
        <div class="gravatar gravatar50 comment-left-col"><img src="./assets/images/profile.jpg" alt="Jan Van den Nieuwenhof" title="Jan Van den Nieuwenhof"></div>
        <div class="comment-right-col">
          <div class="comment-heading-col-container">
            <div class="comment-heading-left-col">
              <h4><a><span>Jan Van den Nieuwenhof</span></a>&nbsp;<span class="comment-user-sep">|</span>&nbsp;<span class="time">5/03/2018</span> at <span class="time">14:21</span><a class="remove" href="#">remove</a></h4>
            </div>
          </div>
          <div class="comment-data-container">
            <p id="comment_252210" ipe_type="BigText" ipe_property="Description" ipe_object="ItemComment" class="hasipe" ipe_editmodeallowed="true" ipe_id="252210"><a class="focuscatcher" href="#" onclick="return false"></a>(<a target="new" href="/config/persons/4798">Kasper Van Waes</a> was notified) In de order, is het bedrag 37,800 hier is het maar 24,100?<br>Hoe komt dat?&nbsp;</p>
          </div>
        </div>
      </div>
    </li>
    <li id="">
      <div class="comment-col-container comment-data-container-short">
        <div class="gravatar gravatar50 comment-left-col"><img src="./assets/images/profile.jpg" alt="Kasper Van Waes" title="Kasper Van Waes"></div>
        <div class="comment-right-col">
          <div class="comment-heading-col-container">
            <div class="comment-heading-left-col">
              <h4><a><span>Kasper Van Waes</span></a>&nbsp;<span class="comment-user-sep">|</span>&nbsp;<span class="time">5/03/2018</span> at <span class="time">14:15</span><a class="remove" href="#">remove</a></h4>
            </div>
          </div>
          <div class="comment-data-container">
            <p id="comment_252206" ipe_type="BigText" ipe_property="Description" ipe_object="ItemComment" class="hasipe" ipe_editmodeallowed="true" ipe_id="252206"><a class="focuscatcher" href="#" onclick="return false"></a>(<a target="new" href="/config/persons/1722">Jan Van den Nieuwenhof</a>,<a target="new" href="/config/persons/4814">Guido Engelen</a> were notified) Order is net doorgestuurd (zat nog in mijn mailbox).<br>Een deel is een bucket een deel fixed price. Ze wouden eenvoudig doen door dat zo door te geven.<br>&nbsp;<a class="comment-showmore">show more...</a></p>
          </div>
        </div>
      </div>
    </li>
    <li id="">
      <div class="comment-col-container comment-data-container-short">
        <div class="gravatar gravatar50 comment-left-col"><img src="./assets/images/profile.jpg" alt="Jan Van den Nieuwenhof" title="Jan Van den Nieuwenhof"></div>
        <div class="comment-right-col">
          <div class="comment-heading-col-container">
            <div class="comment-heading-left-col">
              <h4><a><span>Jan Van den Nieuwenhof</span></a>&nbsp;<span class="comment-user-sep">|</span>&nbsp;<span class="time">5/03/2018</span> at <span class="time">13:56</span><a class="remove" href="#">remove</a></h4>
            </div>
          </div>
          <div class="comment-data-container">
            <p id="comment_252204" ipe_type="BigText" ipe_property="Description" ipe_object="ItemComment" class="hasipe" ipe_editmodeallowed="true" ipe_id="252204"><a class="focuscatcher" href="#" onclick="return false"></a>(<a target="new" href="/config/persons/4814">Guido Engelen</a>,<a target="new" href="/config/persons/4798">Kasper Van Waes</a> were notified) Kasper, Guido,<br>Ik vind hier nergens&nbsp; een order of PO nummer van?<br>Staat deze al in de order lijst of ergens anders?&nbsp;<a class="comment-showmore">show more...</a></p>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <div class=" newgrid">
  	<div class="comment-col-footer-button"><a class="comment-expand button color-blue" tabindex="-1"><span>Expand all</span></a></div>
  </div>

  <div class="clear"></div>

</div>
