<div class="tabline" id="tabline">
    <div class="tabs">
        <div class="tab-scroller">
            <ul class="tabs">
                <li id="element_0" class="tab tab-fixed" style=""><a class="tab" href="/acc_story663626-wd/workspace/1/summary" tabindex="-1"><span class="tab-text">Summary</span></a></li>
                <li id="element_1" selectionfilter="1l" class="tab tab-list" style=""><a selectionfilter="1l" class="tab-hide" tabindex="-1"></a><a class="tab" href="/acc_story663626-wd/workspace/1/1l" tabindex="-1"><span class="tab-text">Actions</span></a></li>
                <li id="element_2" selectionfilter="2l" class="tab tab-list" style=""><a selectionfilter="2l" class="tab-hide" tabindex="-1"></a><a class="tab" href="/acc_story663626-wd/workspace/1/2l" tabindex="-1"><span class="tab-text">Meetings</span></a></li>
                <li id="element_3" selectionfilter="3l" class="tab tab-list tab-selected" style=""><a selectionfilter="3l" class="tab-hide" tabindex="-1"></a><a class="tab" href="/acc_story663626-wd/workspace/1/3l" tabindex="-1"><span class="tab-text">Test</span></a></li>
            </ul>
        </div>
    </div>
</div>
