<div class="item item--bug mx-4">
  <div class="sticky-header">
    {% include blocks/item-header.html %}
  </div>
</div>

<div id="ctl00_pagebody_container" class="mx-4">
    <div class="pagebody">
        <div id="itemdetailpage" class="item-detail ">
            <div id="ctl00_PageContentPlaceHolder_ctl00_ItemDetailContent">

              <div class="header">
                <div class="actions">
                  <ul id="ctl00_PageContentPlaceHolder_ctl00_ItemTools_itemdetailtools">
                    <li class="delete" title="Permanently delete this item. This cannot be undone"><a href="#">Delete</a></li>
                    <li class="copy" title="Create a new item based on the one currently displayed"><a href="#">Copy</a></li>
                    <li class="move" title="Move this item from its current list to a new workspace and/or list"><a href="#">Move</a></li>
                    <li class="new" title="Attach this item to (another) parent item as a child"><a href="#">Link parent</a></li>
                    <li class="mail" title="Mail the content of this item and its attachments to anyone"><a href="#">Email</a></li>
                    <li class="print" title="Create a printable view of all tabs of this item"><a href="#">Print</a></li>
                    <li class="time" title="Show which time sheet registrations have been done on this item"><a href="#">Show time</a></li>
                    <li class="time" title="Enter a Time Sheet Registration for this item"><a href="#">Add time</a></li>
                    <li class="copy" title="Save all outstanding edits"><a href="#">Save changes</a></li>
                  </ul>
                </div>
              </div>
                {% include blocks/old-pmx-item-detail-panel.html %}
                {% include blocks/old-pmx-comments-attachements-panel.html %}
            </div>
        </div><!-- /.item-detail -->
    </div><!-- /.pagebody -->
</div><!-- /.pagebody-container -->
