<div class="item item--bug">
  <div class="sticky-header">
    {% include blocks/item-header.html %}
  </div>
</div>

<div id="ctl00_pagebody_container" class="pagebody-container">
    <div class="pagebody">
        <div id="itemdetailpage" class="item-detail ">
            <div id="ctl00_PageContentPlaceHolder_ctl00_ItemDetailContent">

              <div class="header">
                <div class="actions">
                  <ul id="ctl00_PageContentPlaceHolder_ctl00_ItemTools_itemdetailtools">
                    <li class="delete" title="Permanently delete this item. This cannot be undone"><a href="#">Delete</a></li>
                    <li class="copy" title="Create a new item based on the one currently displayed"><a href="#">Copy</a></li>
                    <li class="move" title="Move this item from its current list to a new workspace and/or list"><a href="#">Move</a></li>
                    <li class="new" title="Attach this item to (another) parent item as a child"><a href="#">Link parent</a></li>
                    <li class="mail" title="Mail the content of this item and its attachments to anyone"><a href="#">Email</a></li>
                    <li class="print" title="Create a printable view of all tabs of this item"><a href="#">Print</a></li>
                    <li class="time" title="Show which time sheet registrations have been done on this item"><a href="#">Show time</a></li>
                    <li class="time" title="Enter a Time Sheet Registration for this item"><a href="#">Add time</a></li>
                    <li class="copy" title="Save all outstanding edits"><a href="#">Save changes</a></li>
                  </ul>
                </div>
              </div>

                <div class="tid-content-wrapper">
                    <div id="tabs" class="tid-sidebar">
                        <div class="scroller scroller-right">
                            <div class="go-right invisible" style="display: none;"></div>
                        </div>
                        <div class="scroller scroller-left">
                            <div class="go-left invisible" style="display: none;"></div>
                        </div>
                        <div class="tab-scroller">
                            <ul>
                                <li class="old-tab-selector selected" id="OverviewTab" tab-name="overview" ><a href="#"><span>Overview</span></a></li>
                                <li class="old-tab-selector" id="SolutionTab" tab-name="solution"><a href="#"><span>Solution</span></a></li>
                                <li class="old-tab-selector" id="ChilditemsTab0" tab-name="Bugs"><a href="#"><span>Bugs <span>0</span></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content" tab-name="overview">
                        <div id="OverviewTab_Content" class="tid-content">
                            <h2 class="pagetitle">Details</h2>
                            <div class="newgrid containsipe">
                                <dl>
                                  <dt class="label double"><span class="required">*</span><span class="label">Assigned to</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_4" ipe_property="4" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#">Nick De Jaeger</span></span>
                                    </dd>
                                    <dt class="label double field-empty invisible">&nbsp;</dt>
                                    <dd class="value double field-empty invisible">&nbsp;</dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Due date</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_5" ipe_property="5" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Due text</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_6" ipe_property="6" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="required">*</span><span class="label">Status</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_7" ipe_property="7" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>Done</span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Priority</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_8" ipe_property="8" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>Medium</span>
                                    </dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Source event</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_12" ipe_property="12" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Source date</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_13" ipe_property="13" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Performed By</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_14" ipe_property="14" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Performed For</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_15" ipe_property="15" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Planned start</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_16" ipe_property="16" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                                    </dd>
                                    <dt class="label double field-empty invisible">&nbsp;</dt>
                                    <dd class="value double field-empty invisible">&nbsp;</dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Planned effort (hours)</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_17" ipe_property="17" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>0</span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Actual effort (hours)</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_18" ipe_property="18" class="hasnoipe">2,2</span>
                                    </dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="required">*</span><span class="label">List</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_19" ipe_property="19" class="hasnoipe">Marketing &amp; Design : <a href="#">Bugs</a></span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">ETC (hours)</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_20" ipe_property="20" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#"></a>0</span>
                                    </dd>
                                    <dd class="clear"></dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Originator</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_21" ipe_property="21" class="hasipe" title="Click here to edit"><a class="focuscatcher" href="#">Nick De Jaeger</span></span>
                                    </dd><dt class="label double"><span class="optional">&nbsp;</span><span class="label">Tags</span></dt>
                                    <dd class="value double"><span id="fld_659309_Item_22" ipe_property="22" class="hasipe tagcontainer" title="Click here to add a tag"><a class="focuscatcher" href="#">Click here to add a tag</span>
                                        <div class="clear"></div><a href="#">Customize tags</a></span>
                                    </dd>
                                    <dd class="clear"></dd>
                                </dl>
                            </div>

                            <h2 class="pagetitle">Description</h2>
                            <div>
                                <span id="fld_659309_Item_23" ipe_property="23" class="hasipe addcontent" title="Click here to edit"><a class="focuscatcher" href="#"></a>Click here to edit</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div><!-- /.tab-content -->

                    <div class="tab-content" tab-name="solution" style="display: none;">

                      <div class="flex text-sm">
                        <div class="w-1/2 pl-2 pr-3">
                          {% include blocks/old-pmx-comments.html %}
                        </div>
                        <div class="w-1/2 pl-3 pr-2">
                          {% include blocks/old-pmx-attachments.html %}
                        </div>
                      </div>

                    </div><!-- /.tab-content -->

                    <div class="tab-content" tab-name="Bugs" style="display: none;">
                      {% include blocks/itembox.html %}
                    </div><!-- /.tab-content -->
                  </div>


            </div>
        </div><!-- /.item-detail -->
    </div><!-- /.pagebody -->
</div><!-- /.pagebody-container -->
