<div class="flex items-center justify-end whitespace-no-wrap px-4 py-3 text-right text-white bg-blue-darker">
  <div class="flex-shrink pr-2 truncate">
    <a class="no-underline text-white" href="#">{{site.data.user-menu.name}}</a>
  </div>
  <div class="flex-no-shrink w-8 h-8 rounded-full bg-cover bg-center bg-no-repeat" style="background-image:url('assets/images/profile.jpg');"></div>
</div>

<div class="p-2">
  {% for itemgroup in site.data.user-menu.itemgroups %}
    <div class="itemBox">
      {% for item in itemgroup %}
      <ul class="itemBox__row itemBox__row--item">
        <li class="itemBox__cell flex-grow-0">
          <div class="itemBox__cellInner">
            <div class="itemBox__value">{{item.icon}}</div>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--permalink">
          <div class="itemBox__cellInner">
            <div class="itemBox__value">{{item.name}}</div>
          </div>
        </li>
      </ul>
      {% endfor %}
    </div>
    <!-- /.itemBox -->
  {% endfor %}
</div>
