<div class="flex items-center justify-end whitespace-no-wrap px-4 py-3 text-right text-white bg-blue-darker">
  <div class="flex-shrink pr-2 truncate">
    <a class="no-underline text-white" href="#">{{site.data.user-menu.name}}</a>
  </div>
  <div class="flex-no-shrink w-8 h-8 rounded-full bg-cover bg-center bg-no-repeat" style="background-image:url('assets/images/profile.jpg');"></div>
</div>

<div class="p-2">
  {% for itemgroup in site.data.user-menu.itemgroups %}
    <div class="toolbox-table">
      {% for item in itemgroup %}
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item toolbox-table__rowInner--permalink" tabindex="0">
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--permalink" tabindex="0">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__value">{{item.icon}}</div>
              </div>
            </li>
            <li class="toolbox-table__cell toolbox-table__cell--permalink" tabindex="0">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__value">{{item.name}}</div>
              </div>
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>
    {% comment %} /.toolbox-table {% endcomment %}
  {% endfor %}
</div>
