.max-w-xxs {
  max-width: 5rem;
}

.w-half-screen {
  width: 50vw;
}

.min-h-1\/2-screen {
  min-height: 50vh;
}
.min-h-2\/3-screen {
  min-height: 75vh;
}

@media (min-width: 576px) {
  .sm\:min-h-1\/2-screen {
    min-height: 50vh;
  }
  .sm\:min-h-2\/3-screen {
    min-height: 75vh;
  }
}
