---
---

.p-10 {
  padding: 2.5rem;
}
.pt-10, .py-10 {
  padding-top: 2.5rem;
}
.pr-10, .px-10 {
  padding-right: 2.5rem;
}
.pb-10, .py-10 {
  padding-bottom: 2.5rem;
}
.pl-10, .px-10 {
  padding-left: 2.5rem;
}

.p-12 {
  padding: 3rem;
}
.pt-12, .py-12 {
  padding-top: 3rem;
}
.pr-12, .px-12 {
  padding-right: 3rem;
}
.pb-12, .py-12 {
  padding-bottom: 3rem;
}
.pl-12, .px-12 {
  padding-left: 3rem;
}

.p-20 {
  padding: 5rem;
}
.pt-20, .py-20 {
  padding-top: 5rem;
}
.pr-20, .px-20 {
  padding-right: 5rem;
}
.pb-20, .py-20 {
  padding-bottom: 5rem;
}
.pl-20, .px-20 {
  padding-left: 5rem;
}

.px-1\/5 {
  padding-left: 20%;
  padding-right: 20%;
}
.pl-1\/5 {
  padding-left: 20%;
}
.pr-1\/5 {
  padding-right: 20%;
}

@media (min-width: 576px) {
  .sm\:p-20 {
    padding: 5rem;
  }
  .sm\:pt-20, .sm\:py-20 {
    padding-top: 5rem;
  }
  .sm\:pr-20, .sm\:px-20 {
    padding-right: 5rem;
  }
  .sm\:pb-20, .sm\:py-20 {
    padding-bottom: 5rem;
  }
  .sm\:pl-20, .sm\:px-20 {
    padding-left: 5rem;
  }
}
