<div class="pmx-selector pmx-selector--collapsed pmx-selector--multiSelect MULTISELECT__POPUP" data-popid="#multiSelector-3">
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPrefix" style="color: green;">܌</span>
      <span class="pmx-selector__blockField">Squad X</span>
    </div>
  </div>
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPrefix" style="color: blue;">܌</span>
      <span class="pmx-selector__blockField">Squad Y</span>
    </div>
  </div>
  <div class="pmx-selector__value pmx-selector__value--selected">
    <div class="pmx-selector__block ">
      <span class="pmx-selector__blockPrefix" style="color: orange;">܌</span>
      <span class="pmx-selector__blockField">Squad Z</span>
    </div>
  </div>
</div>
