---
title: TenForce New Application
permalink: /v1.0/new
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/sass/v1.0.css">
  </head>

<body>
  <div class="app cf document__info--visible">
    <div class="app__overlay"></div>

    <div class="app__nav__wrapper">
      {% include blocks/app-nav.html %}
    </div>

    <div class="notifications">
      {% include blocks/notifications.html %}
    </div>

    <main class="app__container">
      <header class="app-header cf">
        {% include blocks/app-header.html %}
      </header>

      <div class="app__document app__document--story">
        <div class="sticky__header__wrapper">
          <div class="document__visual-identifier">
            <span>Project</span>
          </div>
          <header class="document__header">
            <h2>Open UX improvments <span class="id">3452</span></h2>

            <div class="actions">
              <i class="process process--toggle"></i>
              <i class="media media--toggle"></i>
            </div>

            <!--
              <div class="actions">
                <i class="more"><span class="counter"></span></i>
                <i class="delete"></i>
                <i class="mail"><span class="counter"></span></i>
                <i class="print"></i>
                <i class="hourglass"></i>
                <i class="bookmark"></i>
                <i class="process process--toggle"></i>
                <i class="media media--toggle"></i>
              </div>
            -->

            <div class="status">
              <span>On schedule</span>
            </div>
          </header>
        </div>

        <div class="document__content">

          <div class="panel__left">
            {% include blocks/document-steps.html %}
          </div>

          <div class="panel__center">
            <div class="document__info-data cf">
              {% include blocks/document-data.html %}
            </div>
            <!-- /.document__info-data -->
          </div>

          <div class="panel__right">
            {% include blocks/document-comments.html %}
          </div>

        </div>
        <!-- /.document__content -->
      </div>
      <!-- /.app__document -->
    </main>
    <!-- //app__container -->

  </div>
  <!-- /.app -->

  {% include foot.html %}
</body>

</html>
