<!-- assign different classses depending on the flags -->
<!-- go class -->
{% assign go = "" %}
{% if include.go %}
  {% assign go = "btn--go" %}
{% endif %}
<!-- drop class -->
{% assign drop = "" %}
{% if include.drop %}
  {% assign drop = "btn--drop" %}
{% endif %}
<!-- naked class -->
{% assign naked = "" %}
{% if include.naked %}
  {% assign naked = "btn--naked" %}
{% endif %}
<!-- smallCaps class -->
{% assign smallCaps = "" %}
{% if include.smallCaps %}
  {% assign smallCaps = "btn--small-caps" %}
{% endif %}


<!-- if it's a popup, add data-popid -->
<button class="btn {{go}} {{drop}} {{naked}} {{smallCaps}}"> {{include.title}}</button>
