<!-- splitting up the data into multiple items. separator ; -->
{% assign data = include.selectorData | split: ";" %}
<!-- selected items, starting index is 1. separator , -->
{% assign selectedIndexes = include.selectedIndexes | split: "," %}

<!-- assign different classses depending on the flags -->
<!-- expanded class -->
{% assign expanded = "" %}
{% if include.expanded %}
  {% assign expanded = "selector--expanded" %}
{% endif %}
<!-- singlselect class -->
{% assign singleselect = "" %}
{% if include.singleselect %}
  {% assign singleselect = "selector--singleselect" %}
{% endif %}
<!-- multiselect class -->
{% assign multiselect = "" %}
{% if include.multiselect %}
  {% assign multiselect = "selector--multiselect" %}
{% endif %}
<!-- required class -->
{% assign required = "" %}
{% if include.required %}
  {% assign required = "selector--required" %}
{% endif %}
<!-- readonly -->
{% assign readonly = "JS_selectorItem" %}
{% assign readonlyClass = "" %}
{% assign tabindex = "tabindex='0'" %}
{% if include.readonly or expanded == "" %}
  {% assign readonly = "" %}
{% endif %}
{% if include.readonly and expanded == "" %}
  {% assign readonly = "" %}
  {% assign expanded = "selector--expanded" %}
{% endif %}
{% if include.readonly %}
  {% assign tabindex = "" %}
  {% assign readonlyClass = "selector--readonly" %}
{% endif %}
<!-- has-popup class -->
{% assign popupId = "" %}
{% if include.popupId %}
  {% assign popupId = "JS_has-popup" %}
{% endif %}
<!-- draggable class -->
{% assign draggable = "" %}
{% if include.draggable %}
  {% assign draggable = "selector--draggable" %}
{% endif %}

<!-- if it's a popup, add data-popid -->
<div class="selector JS_selector {{expanded}} {{singleselect}} {{multiselect}} {{popupId}} {{required}} {{readonlyClass}} {{draggable}}" {% if include.popupId %}data-popid="{{include.popupId}}"{% endif %}>

  <!-- if multiselect but not expanded -->
  {% if multiselect != "" and expanded == "" %}
    <div class="selector__item {{readonly}} selector__item--selected JS_selectorItem--active" {{tabindex}} >
      <div class="selector__block">
        <!-- for loop through selectorItems -->
        {% for item in data %}
          {% include components/unit.html item=item %}
        {% endfor %}
      </div>
    </div>

  {% else %}
    <!-- for loop through selectorItems -->
    {% for item in data %}
        <!-- check if it's a selected item or not-->
        {% assign selected = "" %}
        <!-- capture the forloop index as a string-->
        {% capture itemIndex %}{{forloop.index}}{% endcapture %}

        {% for selectedIndex in selectedIndexes %}
          <!-- if it's the same index, add the selected class -->
          {% if selectedIndex == itemIndex %}
            {% assign selected = "selector__item--selected JS_selectorItem--active" %}
          {% endif %}
        {% endfor %}

        <!-- add itemSeparator if it's multiple items -->

        {% if forloop.index > 1 %}
          <div class="selector__itemSeperator"></div>
        {% endif %}
        <div class="selector__item {{readonly}} {{selected}}" {{tabindex}} >
          <div class="selector__block">
            {% include components/unit.html item=item %}
          </div>
        </div>
    {% endfor %}
  {% endif %}
</div>
