<!-- splitting up the data into multiple items. separator ; -->
{% assign tabsData = include.data | split: ";" %}

<!-- selectedIndex can be one single ingeter starting from 1 in string -->
<!-- default value is 1 -->
{% assign selectedIndex = "1"  %}
{% if include.selectedIndex %}
  {% assign selectedIndex = include.selectedIndex  %}
{% endif %}

<div class="tabs-nav">
  <div class="tabs-nav__slide tabs-nav__slide--left tabs-nav__slide--hidden">
    <span class="tabs-nav__slideShadow"></span>
    <span class="tabs-nav__slideArrow">←</span>
    <span class="tabs-nav__slideCounter">1</span>
  </div>
  <ul>
    <span class="tabs-nav__linkBar"></span>

    {% for tab in tabsData %}
      {% capture itemIndex %}{{forloop.index}}{% endcapture %}
      {% assign activeTab = "" %}
      {% if selectedIndex == itemIndex %}
        {% assign activeTab = "tabs-nav__link--active" %}
      {% endif %}
        <li>
          <a href="#" class="tabs-nav__link {{activeTab}}" tabindex="{{itemIndex}}"><span>{{tab}}</span></a>
        </li>
    {% endfor %}

  </ul>
  <div class="tabs-nav__slide tabs-nav__slide--right">
    <span class="tabs-nav__slideShadow"></span>
    <span class="tabs-nav__slideArrow">→</span>
    <span class="tabs-nav__slideCounter">9</span>
  </div>
</div>
<!-- /.tabs__nav -->
