{% comment %} assign different classses depending on the flags {% endcomment %}
{% comment %} go class {% endcomment %}
{% assign go = "" %}
{% if include.go %}
  {% assign go = "toolbox-button--go" %}
{% endif %}
{% comment %} drop class {% endcomment %}
{% assign drop = "" %}
{% if include.drop %}
  {% assign drop = "toolbox-button--drop" %}
{% endif %}
{% comment %} naked class {% endcomment %}
{% assign naked = "" %}
{% if include.naked %}
  {% assign naked = "toolbox-button--naked" %}
{% endif %}
{% comment %} smallCaps class {% endcomment %}
{% assign smallCaps = "" %}
{% if include.smallCaps %}
  {% assign smallCaps = "toolbox-button--small-caps" %}
{% endif %}


{% comment %} if it's a popup, add data-popid {% endcomment %}
<button class="toolbox-button {{go}} {{drop}} {{naked}} {{smallCaps}}"> {{include.title}}</button>
