
{% comment %} getting the variables from the items. separator , {% endcomment %}
{% assign itemData = include.item | split: "," %}
{% comment %} assign color variable if there is a color {% endcomment %}
{% assign color = "" %}
{% if itemData[0] != "" %}
  {% assign color = "style='background-color: "| append: {{itemData[0]}} | append: ";'" %}
{% endif %}

{% assign prefix = itemData[1] %}
{% assign label = itemData[2] %}
{% assign field = itemData[3] %}

{% comment %} assign variables for the length of items {% endcomment %}
{% assign colorSize = color | size %}
{% assign prefixSize = prefix | size %}
{% assign labelSize = label | size %}
{% assign fieldSize = field | size %}

<div class="toolbox-selector__block">
  {% comment %} only show item parts if they are at least 1 character long {% endcomment %}
  {% comment %} if there is a prefix or color, show prefix {% endcomment %}
  {% if prefixSize > 0 or colorSize > 0 %}
    <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix" {{color}} >{{prefix}}</div>
  {% endif %}

  {% comment %} if there is a label, show label {% endcomment %}
  {% if labelSize > 0 %}
    <div class="toolbox-selector__blockPart toolbox-selector__blockPart--label">{{label}}</div>
  {% endif %}

  {% comment %} if there is a field, show field {% endcomment %}
  {% if fieldSize > 0 %}
    {% comment %} if there is a field AND a label, show blockSeparator {% endcomment %}
    {% if labelSize > 0 %}
      <div class="toolbox-selector__blockSeparator"></div>
    {% endif %}
    <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_text">{{field}}</div>
  {% endif %}
</div>
