
<!-- getting the variables from the items. separator , -->
{% assign itemData = include.item | split: "," %}
<!-- assign color variable if there is a color -->
{% assign color = "" %}
{% if itemData[0] != "" %}
  {% assign color = "style='background-color: "| append: {{itemData[0]}} | append: ";'" %}
{% endif %}

{% assign prefix = itemData[1] %}
{% assign label = itemData[2] %}
{% assign field = itemData[3] %}

<!-- assign variables for the length of items -->
{% assign colorSize = color | size %}
{% assign prefixSize = prefix | size %}
{% assign labelSize = label | size %}
{% assign fieldSize = field | size %}


<!-- only show item parts if they are at least 1 character long -->
<!-- if there is a prefix or color, show prefix -->
{% if prefixSize > 0 or colorSize > 0 %}
  <div class="selector__blockPart selector__blockPart--prefix" {{color}} >{{prefix}}</div>
{% endif %}

<!-- if there is a label, show label -->
{% if labelSize > 0 %}
  <div class="selector__blockPart selector__blockPart--label">{{label}}</div>
{% endif %}

<!-- if there is a field, show field -->
{% if fieldSize > 0 %}
  <!-- if there is a field AND a label, show blockSeparator -->
  {% if labelSize > 0 %}
    <div class="selector__blockSeperator"></div>
  {% endif %}
  <div class="selector__blockPart selector__blockPart--field JS_text">{{field}}</div>
{% endif %}
