<header class="header header--section">
  <div class="header__title">
    <h3 class="truncate">table section header above itemBox</h3>
  </div>
  {% comment %} header actions {% endcomment %}
  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>
{% comment %} ItemBox Div {% endcomment %}
<div class="itemBox">
  {% comment %} group for row and possible children {% endcomment %}
  <div class="itemBox__row">
    {% comment %} row itself {% endcomment %}
    {% comment %} this is a thead row {% endcomment %}
    <ul class="itemBox__rowInner itemBox__rowInner--thead">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}
      {% comment %} every header has the title as placeholder and can be used as filter {% endcomment %}

      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 1">
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 2 with flex-grow-2">
        </div>
      </li>
    </ul>
  </div>

  {% comment %} group for row and possible children {% endcomment %}
  <div class="itemBox__row">
    {% comment %} item row itself, this is an itemrow, a simple row{% endcomment %}
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" value="Example data">
        </div>
      </li>
    </ul>
  </div>

  {% comment %} itemrow tfoot {% endcomment %}
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--tfoot">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
</div>
