<header class="header header--table">
  <div class="header__title">
    <h2>table section header above itemBox</h2>
  </div>
  {% comment %} header actions {% endcomment %}
  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>
{% comment %} ItemBox Div {% endcomment %}
<div class="itemBox">
  {% comment %} group for row and possible children {% endcomment %}
  <div class="itemBox__row">
    {% comment %} row itself {% endcomment %}
    {% comment %} this is a thead row {% endcomment %}
    <ul class="itemBox__rowInner itemBox__rowInner--thead">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}
      {% comment %} every header has the title as placeholder and can be used as filter {% endcomment %}

      {% comment %} expands and collapses current itemBox's children {% endcomment %}
      {% comment %} if nothing is expanded -> expand all children {% endcomment %}
      {% comment %} otherwise collapse all children {% endcomment %}
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_expand_header">
        <div class="itemBox__cellInner">
          <button class="itemBox__action"></button>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 1">
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 2 with flex-grow-2">
        </div>
      </li>
    </ul>
  </div>

  {% comment %} group for row and possible children {% endcomment %}
  <div class="itemBox__row">
    {% comment %} item row itself, this is an itemrow, a simple row{% endcomment %}
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink" tabindex="0">
        <div class="itemBox__cellInner">Permalink cell</div>
      </li>
    </ul>
  </div>

  {% comment %} item row {% endcomment %}
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      {% comment %} cell, that contains only one icon is always flex-grow-0 {% endcomment %}
      {% comment %} if NO action, then empty cell, but the cell is still visible {% endcomment %}
      {% comment %} if there is an action in it, then it contans a button, otherwise only cellInner {% endcomment %}

      {% comment %} expands and collapses current row's children {% endcomment %}
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_expand">
        <div class="itemBox__cellInner">
          <button class="itemBox__action"></button>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% comment %} a cell can contain any kind of data {% endcomment %}
          readonly cell with any kind of data in it
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink" tabindex="0">
        <div class="itemBox__cellInner">Permalink cell</div>
      </li>
    </ul>

    {% comment %} if you want to add children, just include a new itembox{% endcomment %}
    {% comment %} children are itembox inside itembox with transparent background{% endcomment %}

    {% comment %} special type of children is a sublist (belongs to a cell of the row not to the full row){% endcomment %}
    {% comment %} that has a gray background, see columnpicker options, child table, |||| action{% endcomment %}
    {% comment %} there the cell, what the sublist belongs to, gets an underline{% endcomment %}
    {% include blocks/itembox/itembox-inner.html %}
  </div>

  {% comment %} load more row if needed with smart text in it {% endcomment %}
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item itemBox__rowInner--action JS_loadMoreButton">
      <li class="itemBox__cell itemBox__cell--action">
        <div class="itemBox__cellInner">
          <button class="itemBox__action">Load <span>25</span> more out of 75</button>
        </div>
      </li>
    </ul>
  </div>

  {% comment %} itemrow tfoot {% endcomment %}
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--tfoot">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
</div>
