<header class="header header--section">
  <div class="header__title">
    <h3 class="truncate">table section header above itemBox</h3>
  </div>
  <!-- header actions -->
  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>
<!-- ItemBox Div -->
<div class="itemBox">
  <!-- group for row and possible children -->
  <div class="itemBox__row">
    <!-- row itself -->
    <!-- this is a thead row -->
    <ul class="itemBox__rowInner itemBox__rowInner--thead">
      <!-- cell, that contains only one icon is always flex-grow-0 -->
      <!-- if NO action, then empty cell, but the cell is still visible -->
      <!-- if there is an action in it, then it contans a button, otherwise only cellInner -->
      <!-- every header has the title as placeholder and can be used as filter -->

      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 1">
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 2 with flex-grow-2">
        </div>
      </li>
    </ul>
  </div>

  <!-- group for row and possible children -->
  <div class="itemBox__row">
    <!-- item row itself, this is an itemrow, a simple row-->
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" value="Example data">
        </div>
      </li>
    </ul>
  </div>

  <!-- itemrow tfoot -->
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--tfoot">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
</div>
