<header class="header header--table">
  <div class="header__title">
    <h2>table section header above itemBox</h2>
  </div>
  <!-- header actions -->
  <div class="header__actions">
    <button class="block-action"></button>
    <button class="block-action"></button>
  </div>
</header>
<!-- ItemBox Div -->
<div class="itemBox">
  <!-- group for row and possible children -->
  <div class="itemBox__row">
    <!-- row itself -->
    <!-- this is a thead row -->
    <ul class="itemBox__rowInner itemBox__rowInner--thead">
      <!-- cell, that contains only one icon is always flex-grow-0 -->
      <!-- if NO action, then empty cell, but the cell is still visible -->
      <!-- if there is an action in it, then it contans a button, otherwise only cellInner -->
      <!-- every header has the title as placeholder and can be used as filter -->

      <!-- expands and collapses current itemBox's children -->
      <!-- if nothing is expanded -> expand all children -->
      <!-- otherwise collapse all children -->
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_expand_header">
        <div class="itemBox__cellInner">
          <button class="itemBox__action"></button>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 1">
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2">
        <div class="itemBox__cellInner">
          <input class="field__input" type="text" placeholder="header cell 2 with flex-grow-2">
        </div>
      </li>
    </ul>
  </div>

  <!-- group for row and possible children -->
  <div class="itemBox__row">
    <!-- item row itself, this is an itemrow, a simple row-->
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <!-- cell, that contains only one icon is always flex-grow-0 -->
      <!-- if NO action, then empty cell, but the cell is still visible -->
      <!-- if there is an action in it, then it contans a button, otherwise only cellInner -->
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action">
        <div class="itemBox__cellInner"></div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          {% include components/selector.html selectorData=",,,395415" readonly="true" singleselect="true" expanded="true" selectedIndexes="1" %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink" tabindex="0">
        <div class="itemBox__cellInner">Permalink cell</div>
      </li>
    </ul>
  </div>

  <!-- item row -->
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item">
      <!-- cell, that contains only one icon is always flex-grow-0 -->
      <!-- if NO action, then empty cell, but the cell is still visible -->
      <!-- if there is an action in it, then it contans a button, otherwise only cellInner -->

      <!-- expands and collapses current row's children -->
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_expand">
        <div class="itemBox__cellInner">
          <button class="itemBox__action"></button>
        </div>
      </li>
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <!-- a cell can contain any kind of data -->
          readonly cell with any kind of data in it
        </div>
      </li>
      <li class="itemBox__cell flex-grow-2 itemBox__cell--permalink" tabindex="0">
        <div class="itemBox__cellInner">Permalink cell</div>
      </li>
    </ul>

    <!-- if you want to add children, just include a new itembox-->
    <!-- children are itembox inside itembox with transparent background-->

    <!-- special type of children is a sublist (belongs to a cell of the row not to the full row)-->
    <!-- that has a gray background, see columnpicker options, child table, |||| action-->
    <!-- there the cell, what the sublist belongs to, gets an underline-->
    {% include blocks/itembox/itembox-inner.html %}
  </div>

  <!-- load more row if needed with smart text in it -->
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--item itemBox__rowInner--action JS_loadMoreButton">
      <li class="itemBox__cell itemBox__cell--action">
        <div class="itemBox__cellInner">
          <button class="itemBox__action">Load <span>25</span> more out of 75</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- itemrow tfoot -->
  <div class="itemBox__row">
    <ul class="itemBox__rowInner itemBox__rowInner--tfoot">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner text-xs">All <span>423</span> items loaded</div>
      </li>
    </ul>
  </div>
</div>
</div>
