---
layout: toolbox
title: Buttons
permalink: /buttons
---

<div class="relative h-32"></div>
<div class="fixed pin-t pin-l w-full flex pt-4 z-highest bg-grey-lightest shadow-lg text-center">
  {% include blocks/extra-options/background.html %}
  {% include blocks/extra-options/theme.html %}
  <div class="px-4">
    <div class="field field--not-empty">
      <div class="field__label">Loading</div>
      <div class="field__data">
        <div class="field__value">
          <div class="toolbox-selector toolbox-selector--multiselect toolbox-selector--expanded JS_toolbox-selector JS_extra">
            <div class="toolbox-selector__item JS_toolbox-selectorItem--active JS_toolbox-selectorItem">
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_load_pushes">Pushes</div>
              </div>
            </div>
            <div class="toolbox-selector__itemSeperator"></div>
            <div class="toolbox-selector__item JS_toolbox-selectorItem--active JS_toolbox-selectorItem">
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_load_buttons">Buttons</div>
              </div>
            </div>
          </div>
          <input class="field__input" type="text" value=", ">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_load_pushes').on('click', function() {
    $('.push').each(function() {
      $(this).toggleClass('animate-loading');
    });
  });

  $('.JS_load_buttons').on('click', function() {
    $('.btn').each(function() {
      $(this).toggleClass('animate-loading');
    });
  });
</script>


<div class="flex flex-col sm:flex-row m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="sm:w-1/2 p-8 overflow-hidden">

    <h2 class="mb-4">Button configurations</h2>

    <h3 class="mb-4">Text configuration</h3>
    <div class="field field--not-empty">
      <div class="field__label">Button - default text configuration</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" %}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Button - small capital</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" smallCaps="true" %}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Button - no text</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="" %}
        </div>
      </div>
    </div>

    <h3 class="mb-4 mt-8">Button color configuration</h3>
    <div class="field field--not-empty">
      <div class="field__label">Button - default color</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" %}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Button - go</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" go="true"%}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Button - naked</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" naked="true"%}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Button - drop</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" drop="true"%}
        </div>
      </div>
    </div>

    <h3 class="mb-4 mt-8">Button alignment configuration</h3>
    <div class="field field--not-empty">
      <div class="field__label">Buttons - two next to each other, there has to be a separator between them</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" go="true"%}
          {% include components/button-aligned-text.html title="•" %}
          {% include components/button.html title="forget me tomorrow"%}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Buttons - aligned text in the middle</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" go="true"%}
          {% include components/button-aligned-text.html title="or" %}
          {% include components/button.html title="forget me tomorrow"%}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Buttons - aligned text in the middle 2</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/button.html title="Keep me in for 2 weeks" go="true"%}
          {% include components/button-aligned-text.html title="or" %}
          {% include components/button.html title="forget me tomorrow" naked="true"%}
        </div>
      </div>
    </div>
  </div>
  <div class="sm:w-1/2 p-8 overflow-hidden">
    <h2 class="mb-4">Push configurations - looks like a button, but it's an anchor</h2>
    <h3 class="mb-4">Text configuration</h3>
    <div class="field field--not-empty">
      <div class="field__label">Push - default text configuration</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/push.html title="Present" href="present" %}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Push - small capital </div>
      <div class="field__data">
        <div class="field__value">
          {% include components/push.html title="Present" href="present" smallCaps="true" %}
        </div>
      </div>
    </div>

  <h3 class="mb-4 mt-8">Push color configuration</h3>
    <div class="field field--not-empty">
      <div class="field__label">Push - default color</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/push.html title="Present" href="present" %}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Push - go</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/push.html title="Present" href="present" go="true"%}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Push - naked</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/push.html title="Present" href="present" naked="true"%}
        </div>
      </div>
    </div>
    <div class="field field--not-empty">
      <div class="field__label">Push - drop</div>
      <div class="field__data">
        <div class="field__value">
          {% include components/push.html title="Present" href="present" drop="true"%}
        </div>
      </div>
    </div>
  </div>
</div>
