---
layout: default
title: Colorpicker
permalink: /colorpicker
---

<div class="area" style="float: left;">
  <label>colorpicker with popup</label>
  {% include popups/colorPicker-popup.html %}
  {% include popups/colorSelector-popup.html %}
</div>
<div class="area" style="float: right;">
  <label>colorpicker with children</label>
  {% include popups/colorPicker-children.html %}
</div>


<!-- COMPONENTS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/newMultiselect.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toggle.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/colorselector.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/init-expand-collapse.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/expand-collapse.js"></script>
