---
layout: default
title: Components
permalink: /components
---

<div style="min-height: 100vh;">

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Danger level</div>
      <div class="pmx-field__value">

        <div class="pmx-field__input pmx-field__input--hidden">
          <input type="text" value="test" class="pmx-field__inputEl">
        </div>

        <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
          <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">Low</div>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">Moderate</div>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;">High</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Product contact</div>
      <div class="pmx-field__value">

        <div class="pmx-field__input pmx-field__input--hidden">
          <input type="text" value="test" class="pmx-field__inputEl">
        </div>

        <div class="pmx-selector pmx-selector--expanded pmx-selector--multiselect JS_selector">
          <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ॵ</div>
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Heet</div>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;">फ</div>
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Brandbaar</div>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;">ॲ</div>
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Huidopname</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Status</div>
      <div class="pmx-field__value">

        <div class="pmx-field__input pmx-field__input--hidden">
          <input type="text" value="test" class="pmx-field__inputEl">
        </div>

        <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
          <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Not started</div>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</div>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;"></div>
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Finished</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Assigned to</div>
      <div class="pmx-field__value">

        <div class="pmx-field__input">
          <input type="text" value="Nick De Jaeger" class="pmx-field__inputEl">
        </div>

      </div>
    </div>
  </div>

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Assigned to</div>
      <div class="pmx-field__value">

        <div class="pmx-field__input">
          <input type="text" class="pmx-field__inputEl">
        </div>

      </div>
    </div>
  </div>

</div>



<h2>With popup</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Due date</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">11/17/2017</div>
          </div>
        </div>
      </div>

    </div>
    <div class="pmx-field__note">
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector MULTISELECT__POPUP JS_selector" data-popid="#multiSelector-1">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">܌</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_pmx-selector__blockPart--label">Not started</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Tags</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector MULTISELECT__POPUP JS_selector" data-popid="#multiSelector-tagpicker">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">dev-team</div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
            <div class="pmx-selector__itemSeperator"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">297</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Without popup</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Tags</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiselect JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">dev-team</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">297</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">च</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Not started</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ण</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ऒ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Done</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Not started</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Paused</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Done</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Rejected</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Lorem ipsum dolo rsit amet lore ipsum dolor sit amet lorem</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ipsum</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Dolor</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Amet</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Mobile view selector</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">ध</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">च</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem pmx-selector__item--selected">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">द</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Billable</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix">܌</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="color: #E52C2C;">ܐ</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Filter</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Design</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Marketing</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">front-end</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Read-only with ellipsis</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly">
        <div class="pmx-selector__item">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ބ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--label">Label</div>
            <div class="pmx-selector__blockSeperator"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Field Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% include popups/multiSelector-status.html %}
{% include popups/multiSelector-tags-colors.html %}








<script>

  /*****************************************************/
  /**  Set --FOCUS or --EMPTY classes for pmx-fields  **/
  /*****************************************************/

  pmxFieldEmpty();
  pmxFieldFocus();
  pmxFieldFocusOut();

  $('.pmx-field__inputEl').on('keyup focus focusout', function() {
    pmxFieldEmpty();
  });

  function pmxFieldEmpty() {
    $('.pmx-field__inputEl').each(function() {
      var _this = $(this);
      var _parent = $(this).parent().parent().parent().parent();
      if(_this.val().length < 1) {
        if(!_parent.hasClass('pmx-field--empty')) {
          _parent.addClass('pmx-field--empty');
        }
      }
      else {
        if(_parent.hasClass('pmx-field--empty')) {
          _parent.removeClass('pmx-field--empty');
        }
      }
    });
  }

  function pmxFieldFocus() {
    $('.pmx-field__inputEl').each(function() {
      var _this = $(this);
      var _parent = $(this).parent().parent().parent().parent();

      _this.on('focus', function() {
        _parent.addClass('pmx-field--focus');
      });
    });
  }

  function pmxFieldFocusOut() {
    $('.pmx-field__inputEl').each(function() {
      var _this = $(this);
      var _parent = $(this).parent().parent().parent().parent();

      _this.on('focusout', function() {
        _parent.removeClass('pmx-field--focus');
      });
    });
  }

</script>
