---
layout: default
title: Components
permalink: /components
---

<div class="field-container">
  <div class="field">
    <div class="field__label">Due date ܐ Single Select - collapsed</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--collapsed">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">11/17/2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Status ܐ Single Select - collapsed</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--collapsed MULTISELECT__POPUP" data-popid="#multiSelector-1">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
            <span class="pmx-selector__labelField">Not started</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Teams ܐ Multi Select - collapsed</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--collapsed pmx-selector--multiSelect MULTISELECT__POPUP" data-popid="#multiSelector-3">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
            <span class="pmx-selector__labelField">Squad X</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: blue;">܌</span>
            <span class="pmx-selector__labelField">Squad Y</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: orange;">܌</span>
            <span class="pmx-selector__labelField">Squad Z</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Billable ܐ Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon">܌</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label">
            <span class="pmx-selector__labelIcon" style="color: red;">ܐ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Status ܐ Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Not started</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Ongoing</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Done</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Tags ܐ Multi Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
            <span class="pmx-selector__labelField">dev-team</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
            <span class="pmx-selector__labelField">back-end</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
            <span class="pmx-selector__labelField">critical</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Teams ܐ Multi Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Squad A</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Squad B</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Squad C</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">Squad X</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Unselectable Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect js_pmx-selector--changeIcons">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon">−</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label">
            <span class="pmx-selector__labelIcon">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Tablet view selector ܐ Unselectable Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">ध</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">द</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Mobile view selector ܐ Single Select - Expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">ध</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">च</span>
          </div>
        </div>

        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelField">द</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Prefix ܐ Type ܐ Field</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect js_pmx-selector--changeIcons">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelIcon">−</span>
            <span class="pmx-selector__labelType">Contain</span>
            <span class="pmx-selector__labelField">Field</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label">
            <span class="pmx-selector__labelIcon">+</span>
            <span class="pmx-selector__labelType">Contain</span>
            <span class="pmx-selector__labelField">Field</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__value">

      <div class="pmx-selector">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelType">Assigned to •</span>
            <span class="pmx-selector__labelField">Nick De Jaeger</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__value">

      <div class="pmx-selector">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__labelType">Title •</span>
            <span class="pmx-selector__labelField">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




{% include popups/multiSelector1.html %}
{% include popups/multiSelector3.html %}

<!-- COMPONENTS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toggle.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/newMultiselect.js"></script>
