---
layout: default
title: Components
permalink: /components
---

<div class="field-container">
  <div class="field">
    <div class="field__label">Due date ܐ Single Select - collapsed</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--collapsed">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">11/17/2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Status ܐ Single Select - collapsed</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--collapsed MULTISELECT__POPUP" data-popid="#multiSelector-1">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;">܌</span>
            <span class="pmx-selector__title">Not started</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Teams ܐ Multi Select - collapsed</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--collapsed pmx-selector--multiSelect MULTISELECT__POPUP" data-popid="#multiSelector-3">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;">܌</span>
            <span class="pmx-selector__title">Squad X</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: blue;">܌</span>
            <span class="pmx-selector__title">Squad Y</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: orange;">܌</span>
            <span class="pmx-selector__title">Squad Z</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Billable ܐ Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon">܌</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label">
            <span class="pmx-selector__icon" style="color: red;">ܐ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Status ܐ Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">Not started</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">Ongoing</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: red;"></span>
            <span class="pmx-selector__title">Done</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Tags ܐ Multi Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;">܌</span>
            <span class="pmx-selector__title">dev-team</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;">܌</span>
            <span class="pmx-selector__title">back-end</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;">܌</span>
            <span class="pmx-selector__title">critical</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Teams ܐ Multi Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiSelect">
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;"></span>
            <span class="pmx-selector__title">Squad A</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;"></span>
            <span class="pmx-selector__title">Squad B</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;"></span>
            <span class="pmx-selector__title">Squad C</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon" style="color: green;"></span>
            <span class="pmx-selector__title">Squad X</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Unselectable Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect pmx-selector--changeIcons">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon">-</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label">
            <span class="pmx-selector__icon">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Tablet view selector ܐ Unselectable Single Select - expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">ध</span>
          </div>
        </div>
        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">द</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field-container">
  <div class="field">
    <div class="field__label">Mobile view selector ܐ Single Select - Expanded</div>
    <div class="field__value">
      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">ध</span>
          </div>
        </div>
        <div class="pmx-selector__value">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">च</span>
          </div>
        </div>

        <div class="pmx-selector__value pmx-selector__value--selected">
          <div class="pmx-selector__label ">
            <span class="pmx-selector__icon"></span>
            <span class="pmx-selector__title">द</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include popups/multiSelector1.html %}
{% include popups/multiSelector3.html %}

<!-- COMPONENTS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toggle.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/newMultiselect.js"></script>
