---
layout: default
title: Filter
permalink: /filter
---

{% include popups/filter-tags.html%}
{% include popups/filter-date.html%}

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Tags | Filter</div>
    <div class="pmx-field__value">

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly MULTISELECT__POPUP JS_selector" data-popid="#filter-tagpicker">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Design</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Marketing</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #f4ca16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">front-end</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #e30022;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Date | Filter</div>
    <div class="pmx-field__value">

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly MULTISELECT__POPUP JS_selector" data-popid="#filter-datepicker">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">next week (12/03/18-18/03/18)</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">19/03/18-20/03/18</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">today</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">18/03/18</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
