---
layout: itembox
title: Itembox
permalink: /itembox
---
<div class=" m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <h1 class="pt-4 pb-8 mb-8 text-red">Itembox Readonly</h1>
  {% include blocks/itembox/itembox-readonly.html %}
</div>
<div class=" m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <h1 class="pt-4 pb-8 mb-8 text-red">Itembox Editable</h1>
  {% include blocks/itembox/itembox-editable.html %}
</div>

<div class=" m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <h1 class="pyt4 pb-8 mb-8 text-red">Itembox With Data</h1>
  {% include blocks/itembox/itembox.html %}
</div>
