---
title: Mobile App
permalink: /mobile
---

<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}


<body class="mobile">
  <header class="mobile__header">
    {% include blocks/mobile-header.html %}
  </header>
  <main class="mobile__container">
    <div class="mobile__document">
      <div class="mobile__document__header sticky__mobile__app__header">
        <div class="document__identifier">
          <span>Functieplaats</span>
        </div>
        <header class="document__header ">
          <h2>1605-b54-pi-61025</h2>
          <div class="view-selector">
            <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect ">
              <div class="pmx-selector__value pmx-selector__value--comments">
                <div class="pmx-selector__label ">
                  <span class="pmx-selector__icon " style=""></span> &#2343;
                </div>
              </div>
              <div class="pmx-selector__value pmx-selector__value--timeline">
                <div class="pmx-selector__label ">
                  <span class="pmx-selector__icon " style=""></span> &#2342;
                </div>
              </div>
            </div>
          </div>
          <ul class="actions">
            <li><a href="#">न</a></li>
            <li><a href="#">ނ</a></li>
            <li><a href="#">ރ</a></li>
            <li><a href="#">ށ</a></li>
          </ul>
          <div class="status">
            <span>active</span>
          </div>
        </header>
      </div>

      <div class="mobile__content">
        <div class="panel__left">
          {% include blocks/mobile-steps.html %}
        </div>
        <div class="panel__center">
          <div class="document__info-data cf">
            {% include blocks/mobile-data.html %}
          </div>
          <!-- /.document__info-data -->
        </div>
        <div class="panel__right">
          {% include blocks/mobile-comments.html %}
        </div>

      </div>
      <!-- /.document__content -->
    </div>
    <!-- /.app__document -->
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- ALL FOR TABS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2/velocity.ui.min.js"></script>
  <!-- END -->

  <!-- ALL FOR STICKY -->
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.sticky.js"></script>
  <!-- END -->

  <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toggle.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/mobile.js"></script>
</body>

</html>
