---
layout: future
title: PMX future
permalink: /future
---

  <div class="overlay-body"></div>

  <div class="app-navigator">
    {% include blocks/app-nav.html %}
  </div>

  <div class="user-menu">
    {% include blocks/user-menu.html %}
  </div>

  <main class="app__container">
    <header class="app-header px-4 py-2">
      {% include blocks/app-header.html %}
    </header>

    {% include blocks/breadcrumbs.html %}

    <div class="mx-4">
      <div class="sticky-header">
        {% include blocks/item-header.html %}
      </div>

      <div class="py-4 clearfix">

        <div class="item-progress w-1/4 pr-4 float-left">
          <div class="panel">
            {% include blocks/item-progress.html %}
          </div>
        </div>

        <div class="item-details w-3/4 p-0 float-left">
          <div class="panel shadow-lg">
            {% include blocks/item-main.html %}
          </div>
        </div>

        <div class="item-extras w-1/2 pl-4 float-right hidden">
          <div class="panel">
            {% include blocks/item-comments.html %}
          </div>
        </div>

      </div>
      <!-- /.item-body -->
    </div>
    <!-- /.app__document -->
  </main>
  <!-- //app__container -->
