---
layout: old-pmx
title: Old App
permalink: /pmx
---

<div class="app cf document__info--visible">
  <div class="app__overlay"></div>

  <div class="app__nav__wrapper">
    {% include blocks/app-nav.html %}
  </div>

  <div class="notifications">
    {% include blocks/notifications.html %}
  </div>

  <main class="app__container">
    <header class="old-app-header app-header cf">
      {% include blocks/app-header-no-breadcrumb.html %}
    </header>

    {% include blocks/old-pmx-tabline.html %}

    {% include blocks/old-pmx-listtool.html %}

    {% include blocks/old-pmx-table.html %}

    {% include popups/new-multiselect.html %}

    <div class="footer-container">
        <div class="footer" style="position: relative; top: -44px;">
            <p><a href="http://www.tenforce.com/" title="This is a TenForce product" target="_blank" tabindex="-1"></a></p>
        </div>
    </div>

  </main>
</div>


<!-- ALL FOR JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2/velocity.ui.min.js"></script>
<!-- END -->

<!-- ALL FOR TABS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/tabs.js"></script>
<!-- END -->

<script type="text/javascript" src="{{ site.baseurl }}/scripts/app.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/root.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery-ui.min.js"></script>

<!-- PLUGINS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/init-expand-collapse.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/expand-collapse.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/toggle-panels.js"></script>

<!-- COMPONENTS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/semsearch.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/breadcrumbs.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/newMultiselect.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/components/toggle.js"></script>

<!-- OLD COMPONENTS -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/pmx/old-pmx-multiselect.js"></script>
