---
layout: old-pmx
title: Old App
permalink: /pmx
---

<div class="app cf item-progress--visible">
  <div class="app__overlay"></div>

  <div class="app-navigator">
    {% include blocks/app-nav.html %}
  </div>

  <div class="user-menu">
    {% include blocks/user-menu.html %}
  </div>

  <main class="app__container">
    <header class="app-header cf">
      {% include blocks/app-header.html %}
    </header>

    {% include blocks/breadcrumbs.html %}

    {% include blocks/old-pmx-tabline.html %}
    {% include blocks/old-pmx-listtool.html %}
    {% include blocks/old-pmx-table.html %}
    {% include popups/new-multiselect.html %}
    {% include popups/multiSelector-columnpicker.html %}
  </main>
</div>
