---
layout: old-pmx
title: Old App
permalink: /pmx
---

<div class="app cf document__info--visible">
  <div class="app__overlay"></div>

  <div class="app-navigator">
    {% include blocks/app-nav.html %}
  </div>

  <div class="user-menu">
    {% include blocks/user-menu.html %}
  </div>

  <main class="app__container">
    <header class="app-header cf">
      {% include blocks/app-header-no-breadcrumb.html %}
    </header>

    {% include blocks/old-pmx-tabline.html %}

    {% include blocks/old-pmx-listtool.html %}

    {% include blocks/old-pmx-table.html %}

    {% include popups/new-multiselect.html %}

    <div class="footer-container">
        <div class="footer">
            <p><a href="http://www.tenforce.com/" title="This is a TenForce product" target="_blank" tabindex="-1"></a></p>
        </div>
    </div>

  </main>
</div>
