---
layout: selectors
title: Popups
permalink: /popups
---

<div class="flex flex-col sm:flex-row m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="sm:w-1/3 p-4 overflow-hidden">
    <h2 class="mb-8">Popup explanation</h2>
    <div class="note">
      <h4 class="py-2">Position</h4>
      <li>The position of the popup is usually the bottom left of the trigger touches the top left of the popup.</li>
      <li>If this way the popup would be too wide to fit fully on the screen, then it is aligned to the right: bottom right of the trigger touches the top right of the popup.</li>
      <li>The width of the popup is always the same size as the trigger, but has a min-width 300px. So if the trigger is 50% of your screen, the popup will be 50% wide too.</li>
      <h4 class="py-2">Overlay</h4>
      <li>First child of the body</li>
      <li>For normal popups the overlay is darker, pointer-events-none (overlay-body--visible)</li>
      <li>For error dialog the overlay is red (overlay-body--visible AND overlay-body--error)</li>
      <li>For tooltip the overlay is blue (overlay-body--visible AND overlay-body--tooltip)</li>
    </div>
  </div>
  <div class="sm:w-1/3 p-4 overflow-hidden">

    <h2 class="mb-8">Single select example</h2>

    <!-- Field -->
    <div class="field field--not-empty JS_field--error">
      <div class="field__label">Status - with description and error animation </div>
      <div class="field__data">
        <div class="field__error JS_has-popup" data-popid="#ms-error"></div>
        <div class="field__value">
          <div class="selector selector--singleselect JS_has-popup" data-popid="#ms-status">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem" tabindex="0">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--prefix JS_singleSelect--prefix" style="background-color: var(--color-red);"></div>
                <div class="selector__blockPart selector__blockPart--field JS_singleSelect--label">Not started</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <li>Single select popup, simply having an itemBox in it with the elements. The already selected item has a  in an extra column.</li>
        <li>Error animation example: try to change status, then click on error icon or selector field again.</li>
        <li>Upon having an error, there is a new itemBox with a note inside the cellInner, that is an error description.</li>
        <li>The error icon is also clickable with one single note in it (wrapped in an itemBox).</li>
        <li>A normal description follows the same structure.</li>
      </div>
    </div>

    <!-- Popup -->
    <div class="multiSelector" id="ms-error">
      <div class="itemBox">
        <div class="itemBox__row">
          <ul class="itemBox__rowInner itemBox__rowInner--custom">
            <li class="itemBox__cell">
              <div class="itemBox__cellInner">
                <div class="note note--error">
                  <p>Item could not be selected. <a href="#" class="link link--primary">Read more</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Popup -->
    <div class="multiSelector animate-popup" id="ms-status">
      <div class="itemBox">
        <div class="itemBox__row">
          <ul class="itemBox__rowInner itemBox__rowInner--custom JS_itemBoxRow--error" style="display: none;">
            <li class="itemBox__cell">
              <div class="itemBox__cellInner">
                <div class="note note--error">
                  <p>Item could not be selected. <a href="#" class="link link--primary">Read more</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="itemBox JS_optionsChildren">
        {% for item in site.data.multiselector-status.items %}
        <div class="itemBox__row">
          <ul class="itemBox__rowInner itemBox__rowInner--item JS_filterableCell JS_error-popupRow">
            <li class="itemBox__cell">
              <div class="itemBox__cellInner">
                <div class="itemBox__value">
                  <div class="selector selector--expanded">
                    <div class="selector__item JS_selectorItem--active selector__item--selected">
                      <div class="selector__block">
                        <div class="selector__blockPart selector__blockPart--prefix JS_color--prefix" style="background-color: {{item.color}}">{{item.icon}}</div>
                        <div class="selector__blockPart selector__blockPart--field JS_text">{{item.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% if item.selected == "true" %} {% include javascript/itemSelected.html %} {% endif %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
  <div class="sm:w-1/3 p-4 overflow-hidden">
    <h2 class="mb-8">Multiselect example</h2>

    <!-- Field -->
    <div class="field field--not-empty">
      <div class="field__label">Columnpicker with tooltip example (note in popup), click icon
        <div class="inline-action primary animate-fly-in-left JS_has-popup JS_has-popup--tooltip" data-popid="#ms-privacy"></div>
      </div>
      <div class="field__data">
        <div class="field__value">
          <button class="block-action JS_has-popup" data-popid="#multiSelector-columnpicker"></button>
        </div>
      </div>
      <div class="note">
        <li>Single select popup, simply having an itemBox in it with the elements. The already selected item has a  in an extra column.</li>
        <li>Error animation example: try to change status, then click on error icon or selector field again.</li>
        <li>Upon having an error, there is a new itemBox with a note inside the cellInner, that is an error description.</li>
        <li>The error icon is also clickable with one single note in it (wrapped in an itemBox).</li>
        <li>A normal description follows the same structure.</li>
      </div>
    </div>

    <!-- Popup -->
    <div class="multiSelector" id="ms-privacy">
      <div class="itemBox">
        <div class="itemBox__row">
          <ul class="itemBox__rowInner itemBox__rowInner--custom">
            <li class="itemBox__cell">
              <div class="itemBox__cellInner">

                <div class="note note--tooltip">
                  <p>By selecting 'Agree' you have read and accepted TenForce's <a href="#" class="link link--primary">Privacy Policy</a>, concerning your personal data and how it is used.</p>
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Popup -->
    {% include popups/multiSelector-columnpicker.html %}
  </div>
</div>
<script>
  $("#ms-status .JS_error-popupRow").on('click', function() {
    closeOverlay();
    $("#ms-status .JS_itemBoxRow--error").css('display', 'flex');
    $('.JS_field--error').each(function() {
      const errorField = $(this);
      errorField.addClass('field--error');
      errorField.find('.JS_has-popup').addClass('JS_has-popup--error');
    });
  });
</script>
