---
layout: default
title: Selectors
permalink: /selectors
---

<div style="/*min-height: 100vh;*/">

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Assigned to</div>
      <div class="pmx-field__value">

        <div class="pmx-selector JS_selector">
          <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
            <div class="pmx-selector__block ">
              <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Nick De Jaeger</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pmx-field">
    <div class="pmx-field__inner">
      <div class="pmx-field__label">Assigned to</div>
      <div class="pmx-field__value">

        <div class="pmx-field__input">
          <input type="text" class="pmx-field__inputEl">
        </div>

      </div>
    </div>
  </div>

</div>



<h2>With popup</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Due date</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">11/17/2017</div>
          </div>
        </div>
      </div>

    </div>

    <div class="pmx-note">
      <p>Actual invoice amount</p>
      <p>For fixed price projects and service requests (no <a href="#">timesheets</a>): when you change the status to 'to be invoiced', please insert the exact amount that needs to be invoiced.</p>
    </div>

  </div>
</div>

<div class="pmx-field pmx-field--error">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector MULTISELECT__POPUP JS_selector" data-popid="#multiSelector-1">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_singleSelect--prefix" style="background-color: #ff9b9b;">ध</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_singleSelect--label">Not started</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field pmx-field--error">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector MULTISELECT__POPUP JS_selector" data-popid="#multiSelector-2">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_singleSelect--prefix" style="background-color: #ff9b9b;">ध</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_singleSelect--label">Not started</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Without popup</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Danger level</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">Low</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">Moderate</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;">High</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Product contact</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiselect JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ॵ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Heet</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;">फ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Brandbaar</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;">ॲ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Huidopname</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Not started</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #FF0000;"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Finished</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Tags</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded pmx-selector--multiselect JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">dev-team</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">297</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">च</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Not started</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ण</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ऒ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Done</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Status</div>
    <div class="pmx-field__value pmx-field__value--overflow">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Not started</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ongoing</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Paused</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Done</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Rejected</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Lorem ipsum dolo rsit amet lore ipsum dolor sit amet lorem</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Ipsum</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Dolor</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Amet</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Mobile view selector</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">ध</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">च</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem pmx-selector__item--selected">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">द</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Billable</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix">܌</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix">ܐ</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Billable</div>
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--expanded JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix"></div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator"></div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Read-only with ellipsis</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__value">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--readonly">
        <div class="pmx-selector__item">
          <div class="pmx-selector__block">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ބ</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--label">Label</div>
            <div class="pmx-selector__blockSeperator"></div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Field Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Filters</h2>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__value pmx-field__value--overflow">

      <div class="pmx-field__input pmx-field__input--hidden">
        <input type="text" value="test" class="pmx-field__inputEl">
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Design</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Marketing</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">front-end</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Description</div>
    <div class="pmx-field__value pmx-field__value--overflow">

      <div class="pmx-selector pmx-selector--readonly" >
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item ">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">improvement</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">design</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Tags | Filter</div>
    <div class="pmx-field__value pmx-field__value--overflow">

      <div class="pmx-selector pmx-selector--readonly MULTISELECT__POPUP JS_selector" data-popid="#filter-tagpicker">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #00BFFF;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Design</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">Marketing</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #f4ca16;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">front-end</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #e30022;">ग़</div>
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">back-end</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="pmx-field">
  <div class="pmx-field__inner">
    <div class="pmx-field__label">Date | Filter</div>
    <div class="pmx-field__value pmx-field__value--overflow">

      <div class="pmx-selector pmx-selector--readonly MULTISELECT__POPUP JS_selector" data-popid="#filter-datepicker">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Include</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">next 2 weeks (12/03/18-25/03/18)</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">And</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">19/03/18-20/03/18</div>
          </div>
        </div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
      </div>

      <div class="pmx-selector pmx-selector--readonly JS_selector">
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Exclude</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">today</div>
          </div>
        </div>
        <div class="pmx-selector__itemSeperator pmx-selector__itemSeperator--hasLabel">Or</div>
        <div class="pmx-selector__item JS_selectorItem">
          <div class="pmx-selector__block ">
            <div class="pmx-selector__blockPart pmx-selector__blockPart--field">18/03/18</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h2>Tag Picker</h2>

<div class="pmx-field">
  <div class="pmx-field__label">Tags</div>
  <div class="pmx-field__value">

    <div class="pmx-selector pmx-selector--multiselect MULTISELECT__POPUP JS_selector" data-popid="#multiSelector-tagpicker">
      <div class="pmx-selector__item pmx-selector__item--selected">
        <div class="pmx-selector__block">
          <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #0BDA51;">ग़</div>
          <div class="pmx-selector__blockPart pmx-selector__blockPart--field">282</div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #F4CA16;">ग़</div>
          <div class="pmx-selector__blockPart pmx-selector__blockPart--field">2013_Maintenance</div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix" style="background-color: #E30022;">ग़</div>
          <div class="pmx-selector__blockPart pmx-selector__blockPart--field">workaround_available</div>
        </div>
      </div>
    </div>

  </div>
</div>

{% include popups/ms-status.html %}
{% include popups/ms-status2.html %}
{% include popups/multiSelector-tags-colors.html %}
{% include popups/filter-tags.html%}
{% include popups/filter-date.html%}
{% include popups/multiSelector-tags-colors.html %}








<script>

  /*****************************************************/
  /**  Set --FOCUS or --EMPTY classes for pmx-fields  **/
  /*****************************************************/

  pmxFieldEmpty();

  $('.pmx-field__inputEl').on('keyup focus focusout', function() {
    pmxFieldEmpty();
  });

  function pmxFieldEmpty() {
    $('.pmx-field__inputEl').each(function() {
      var _this = $(this);
      var _parent = $(this).parent().parent().parent().parent();
      if(_this.val().length < 1) {
        if(!_parent.hasClass('pmx-field--empty')) {
          _parent.addClass('pmx-field--empty');
        }
      }
      else {
        if(_parent.hasClass('pmx-field--empty')) {
          _parent.removeClass('pmx-field--empty');
        }
      }
    });
  }

</script>
