---
layout: selectors
title: Selectors
permalink: /selectors
---

<div class="flex min-h-screen">

  <div class="sm:w-1/2 px-4">

    <!-- Field -->
    <div class="field JS_field" tabindex="1">
      <div class="field__label">Checkbox</div>
      <div class="field__value">
        <div class="inline align-middle">
          <div class="selector selector--singleselect selector--expanded animate--loading JS_selector">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--prefix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Field -->
    <div class="field JS_field" tabindex="2">
      <div class="field__label field__label--placeholder">Title</div>
      <div class="field__value JS_has-popup" data-popid="#ms-title-input">

      </div>
    </div>

    <!-- Popup (input) -->
    <div class="multiSelector animate--popup" id="ms-title-input" style="margin-top: -49px; margin-left: -10px;">
      <div class="itemBox JS_itemBox">
        <ul class="itemBox__row">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <input type="input" placeholder="Which title fits this item?" autofocus>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Field -->
    <div class="field field--error JS_field" tabindex="3">
      <div class="field__label">Assigned to</div>
      <div class="field__value">
        <div class="inline-action secondary animate-fly-in-left JS_has-popup JS_has-popup--error" data-popid="#ms-error-user"></div>
        <div class="inline align-middle JS_has-popup" data-popid="#ms-single-input">_Not Assigned</div>
      </div>
    </div>

    <!-- Popup (error) -->
    <div class="multiSelector" id="ms-error-user">
      <div class="itemBox">
        <ul class="itemBox__row itemBox__row--custom">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <div class="note note--error">
                <p>Item must have a user assigned.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Popup (input) -->
    <div class="multiSelector animate--popup" id="ms-single-input" style="margin-top: -29px; margin-left: -10px;">
      <div class="itemBox JS_itemBox">
        <ul class="itemBox__row">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <input type="input" value="_Not Assigned" autofocus>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Field -->
    <div class="field JS_field" tabindex="5">
      <div class="field__label field__label--placeholder">Due date</div>
      <div class="field__value JS_has-popup" data-popid="#ms-date-input">

      </div>
    </div>

    <!-- Popup (input) -->
    <div class="multiSelector animate--popup" id="ms-date-input" style="margin-top: -49px; margin-left: -10px;">
      <div class="itemBox JS_itemBox">
        <ul class="itemBox__row">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <input type="input" placeholder="What is the deadline?" autofocus>
            </div>
          </li>
        </ul>
      </div>
    </div>


  </div>

  <div class="sm:w-1/2 px-4">

    <!-- Field -->
    <div class="field field--tooltip" tabindex="4">
      <div class="field__label JS_has-popup JS_has-popup--tooltip" data-popid="#multiSelector-privacy">Privacy Policy <div class="inline-action animate-fly-in-left"></div></div>
      <div class="field__value">
        <div class="inline align-middle">
          <div class="selector selector--singleselect selector--expanded JS_selector">
            <div class="selector__item JS_selectorItem JS_selectorItem--active selector__item--selected">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field">Disagree</div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem">
              <div class="selector__block ">
                <div class="selector__blockPart selector__blockPart--field">Agree</div>
              </div>
            </div>
          </div>
        </div>
        <div class="inline align-middle">with our <a href="#" class="link link--primary">Privacy Policiy</a>.</div>
      </div>
    </div>

    <!-- Popup -->
    <div class="multiSelector" id="multiSelector-privacy" style="margin-top: 36px;">
      <div class="itemBox">
        <ul class="itemBox__row itemBox__row--custom">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">

              <div class="note note--tooltip">
                <p>By selecting 'Agree' you have read and accepted TenForce's <a href="#" class="link link--primary">Privacy Policy</a>, concerning your personal data and how it is used.</p>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Field -->
    <div class="field JS_field">
      <div class="field__label">Email</div>
      <div class="field__value">
        <div class="inline align-middle">nick.de.jaeger@tenforce.com</div>
      </div>
      <div class="note">
        <p>Fill in a valid email address.</p>
      </div>
    </div>

    <!-- Field -->
    <div class="field JS_field JS_field--error">
      <div class="field__label">Status</div>
      <div class="field__value">
        <div class="inline-action secondary error JS_has-popup" data-popid="#ms-error"></div>
        <div class="inline align-middle">
          <div class="selector selector--singleselect JS_has-popup" data-popid="#ms-status">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--prefix JS_singleSelect--prefix" style="background-color: var(--color-red);"></div>
                <div class="selector__blockPart selector__blockPart--field JS_singleSelect--label">Not started</div>
              </div>
            </div>
          </div>
        </div>
        <div class="inline align-middle">check correct alignment</a>.</div>
      </div>
      <div class="note">
        <p>Actual invoice amount</p>
        <p>For fixed price projects and service requests (no <a href="#" class="link link--primary">timesheets</a>): when you change the status to 'to be invoiced', please insert the exact amount that needs to be invoiced.</p>
      </div>
    </div>

    <!-- Popup -->
    <div class="multiSelector" id="ms-error">
      <div class="itemBox">
        <ul class="itemBox__row itemBox__row--custom">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <div class="note note--error">
                <p>Item could not be selected. <a href="#" class="link link--primary">Read more</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Popup -->
    <div class="multiSelector animate--popup" id="ms-status">
      <div class="itemBox JS_itemBox">
        <ul class="itemBox__row">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <input type="search" class="JS_multiSelector__filterInput" placeholder="filter through statuses">
            </div>
          </li>
        </ul>
      </div>
      <div class="itemBox">
        <ul class="itemBox__row itemBox__row--custom JS_itemBoxRow--error" style="display: none;">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <div class="note note--error">
                <p>Item could not be selected. <a href="#" class="link link--primary">Read more</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="itemBox JS_optionsChildren">
        {% for item in site.data.multiselector-status.items %}
          <ul class="itemBox__row itemBox__row--item JS_filterableCell JS_error-popupRow">
            <li class="itemBox__cell">
              <div class="itemBox__cellInner">
                <div class="itemBox__value">
                  <div class="selector selector--expanded">
                    <div class="selector__item JS_selectorItem--active selector__item--selected">
                      <div class="selector__block">
                        <div class="selector__blockPart selector__blockPart--prefix JS_color--prefix" style="background-color: {{item.color}}">{{item.icon}}</div>
                        <div class="selector__blockPart selector__blockPart--field JS_text">{{item.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% if item.selected == "true" %}
              {% include javascript/itemSelected.html %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>


    <!-- Field -->
    <div class="field JS_field  JS_field--error">
      <div class="field__label">Status</div>
      <div class="field__value">
        <div class="inline-action secondary error JS_has-popup" data-popid="#ms-error"></div>
        <div class="inline align-middle">
          <div class="selector selector--singleselect JS_has-popup" data-popid="#ms-status">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--prefix JS_singleSelect--prefix" style="background-color: var(--color-red);"></div>
                <div class="selector__blockPart selector__blockPart--field JS_singleSelect--label">Not started</div>
              </div>
            </div>
          </div>
        </div>
        <div class="inline align-middle">check correct alignment</a>.</div>
      </div>
    </div>

  </div>

</div>










<h2>Buttons</h2>

<!-- Button -->
<div class="btns">
  <button class="btn btn--go"><span>Keep me in for 2 weeks</span></button>
  <div class="inline align-baseline">or</div>
  <button class="btn"><span>forget me tomorrow</span></button>
</div>

<!-- Button -->
<div class="btns">
  <button class="btn btn--go"><span>Keep me in for 2 weeks</span></button>
  <div class="inline align-baseline">or</div>
  <button class="btn btn--naked"><span>forget me tomorrow</span></button>
</div>

<h2>Without popup</h2>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Danger level</div>
  <div class="field__value">
    <div class="selector selector--singleselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;">Low</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #F4CA16;">Moderate</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: var(--color-red);">High</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Product contact</div>
  <div class="field__value">
    <div class="selector selector--multiselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
          <div class="selector__blockPart selector__blockPart--field">Heet</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: var(--color-red);"></div>
          <div class="selector__blockPart selector__blockPart--field">Brandbaar</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: var(--color-red);"></div>
          <div class="selector__blockPart selector__blockPart--field">Huidopname</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Status</div>
  <div class="field__value">
    <div class="selector selector--singleselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
          <div class="selector__blockPart selector__blockPart--field">Not started</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
          <div class="selector__blockPart selector__blockPart--field">Ongoing</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: var(--color-red);"></div>
          <div class="selector__blockPart selector__blockPart--field">Finished</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Tags</div>
  <div class="field__value">
    <div class="selector selector--multiselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
          <div class="selector__blockPart selector__blockPart--field">dev-team</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #00BFFF;"></div>
          <div class="selector__blockPart selector__blockPart--field">back-end</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
          <div class="selector__blockPart selector__blockPart--field">297</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Status</div>
  <div class="field__value">
    <div class="selector selector--singleselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
          <div class="selector__blockPart selector__blockPart--field">Not started</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #00BFFF;"></div>
          <div class="selector__blockPart selector__blockPart--field">Ongoing</div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
          <div class="selector__blockPart selector__blockPart--field">Done</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Checkbox (filter in header)</div>
  <div class="field__value">
    <div class="selector selector--multiselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--field"></div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--field"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Checkbox</div>
  <div class="field__value">
    <div class="selector selector--singleselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix"></div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Checkbox</div>
  <div class="field__value">
    <div class="selector selector--singleselect selector--expanded JS_selector">
      <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem JS_toggle-progress">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix"></div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item  JS_selectorItem JS_toggle-comments">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix"><sup>11</sup></div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix"></div>
        </div>
      </div>
      <div class="selector__itemSeperator"></div>
      <div class="selector__item JS_selectorItem">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Read-only with ellipsis</h2>

<!-- Field -->
<div class="field JS_field">
  <div class="field__value">
    <div class="selector selector--expanded">
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
          <div class="selector__blockPart selector__blockPart--label">Label</div>
          <div class="selector__blockSeperator"></div>
          <div class="selector__blockPart selector__blockPart--field">Field Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Filters</h2>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Description</div>
  <div class="field__value">
    <div class="selector selector--expanded" >
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Include</div>
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--field">improvement</div>
        </div>
      </div>
    </div>
    <div class="selector selector--expanded">
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">And</div>
    </div>
    <div class="selector selector--expanded">
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Exclude</div>
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--field">design</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Tags  Filter</div>
  <div class="field__value">
    <div class="selector selector--expanded JS_has-popup" data-popid="#filter-tagpicker">
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Include</div>
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #00BFFF;"></div>
          <div class="selector__blockPart selector__blockPart--field">Design</div>
        </div>
      </div>
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">And</div>
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
          <div class="selector__blockPart selector__blockPart--field">Marketing</div>
        </div>
      </div>
    </div>
    <div class="selector selector--expanded JS_selector">
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Or</div>
    </div>
    <div class="selector selector--expanded JS_selector">
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Exclude</div>
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #f4ca16;"></div>
          <div class="selector__blockPart selector__blockPart--field">front-end</div>
        </div>
      </div>
      <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Or</div>
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #e30022;"></div>
          <div class="selector__blockPart selector__blockPart--field">back-end</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Date  Filter</div>
  <div class="field__value">
    <div class="inline align-middle overflow-hidden">
      <div class="selector selector--expanded JS_has-popup" data-popid="#filter-datepicker">
        <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Include</div>
        <div class="selector__item JS_selectorItem--active selector__item--selected">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field">next 2 weeks (12/03/18-25/03/18)</div>
          </div>
        </div>
        <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">And</div>
        <div class="selector__item JS_selectorItem--active selector__item--selected">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field">19/03/18-20/03/18</div>
          </div>
        </div>
      </div>
      <div class="selector selector--expanded">
        <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Or</div>
      </div>
      <div class="selector selector--expanded">
        <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Exclude</div>
        <div class="selector__item JS_selectorItem--active selector__item--selected">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field">today</div>
          </div>
        </div>
        <div class="selector__itemSeperator selector__itemSeperator--hasLabel h6">Or</div>
        <div class="selector__item JS_selectorItem--active selector__item--selected">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field">18/03/18</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Tag Picker</h2>

<!-- Field -->
<div class="field JS_field">
  <div class="field__label">Tags</div>
  <div class="field__value">
    <div class="selector selector--multiselect JS_has-popup JS_selector" data-popid="#multiSelector-tagpicker">
      <div class="selector__item JS_selectorItem--active selector__item--selected">
        <div class="selector__block">
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
          <div class="selector__blockPart selector__blockPart--field">282</div>
          <div class="selector__itemSeperator"></div>
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #F4CA16;"></div>
          <div class="selector__blockPart selector__blockPart--field">2013_Maintenance</div>
          <div class="selector__itemSeperator"></div>
          <div class="selector__blockPart selector__blockPart--prefix" style="background-color: #E30022;"></div>
          <div class="selector__blockPart selector__blockPart--field">workaround_available</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  checkEmptyFields();

  $('.JS_field').focusin(function() {
    $(this).addClass('field--focus');
    checkEmptyFields();
  });

  $('.app__overlay').on('click', function() {
    $('.field').removeClass('field--focus');
    checkEmptyFields();
  });

  function checkEmptyFields() {
    $('.JS_field .field__input').each(function() {
      var thisLabel = $(this).parent().parent().find('.field__label');

      if ($(this).val().length > 0 || $(this).parent().find('.selector').length > 0) {
        thisLabel.removeClass('field__label--placeholder');
      }
      else {
        thisLabel.addClass('field__label--placeholder');
      }
    });
  }

// error field, by default don't show errors
  $('.JS_field--error').each(function(){
    const errorField = $(this);
    errorField.find('.JS_has-popup').removeClass('JS_has-popup--error');
  });

$("#ms-status .JS_error-popupRow").on('click', function(){
  closeOverlay();
  $("#ms-status .JS_itemBoxRow--error").css('display', 'flex');
  $('.JS_field--error').each(function(){
    const errorField = $(this);
    errorField.addClass('field--error');
    errorField.find('.JS_has-popup').addClass('JS_has-popup--error');
  });
});
</script>
