---
layout: selectors
title: Tabs
permalink: /tabs
---

<div class="relative h-32">
</div>
<div class="fixed pin-t pin-l w-full flex pt-4 z-highest bg-grey-lightest shadow-lg text-center">
  <div class="px-4">
    <div class="field field--not-empty">
      <div class="field__label">Theme</div>
      <div class="field__data">
        <div class="field__value">
          <div class="selector selector--singleselect selector--expanded selector--required JS_selector ">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem" tabindex='0'>
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field JS_theme_normal">Normal</div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem" tabindex='0'>
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--prefix JS_theme_invert">Invert</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4">
    <div class="field field--not-empty">
      <div class="field__label">Tabs panel width</div>
      <div class="field__data">
        <div class="field__value">
          <div class="selector selector--singleselect selector--expanded selector--required JS_selector">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem JS_changeTabsWidth" tabindex='0' data-width="sm:w-full">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field ">Full</div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem--active JS_selectorItem JS_changeTabsWidth" tabindex='0' data-width="sm:w-3/4">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field ">75%</div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem--active JS_selectorItem JS_changeTabsWidth" tabindex='0' data-width="sm:w-1/2">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field ">50%</div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem--active JS_selectorItem JS_changeTabsWidth" tabindex='0' data-width="sm:w-1/4">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field ">25%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_theme_normal').on('click', function() {
    $('.tabs').removeClass('tabs--invert');
  });
  $('.JS_theme_invert').on('click', function() {
    $('.tabs').addClass('tabs--invert');
  });

  $('.JS_changeTabsWidth').on('click', function() {
    setTimeout( () => {
      if($(this).hasClass('JS_selectorItem--active')) {
        $('.JS_change_my_width').removeClass('sm:w-full sm:w-1/4 sm:w-3/4 sm:w-1/2');
        $('.JS_change_my_width').addClass($(this).attr('data-width'));
        window.dispatchEvent(new Event('resize'));
      }
    }, 250);
  });

</script>

<div class="flex flex-col sm:flex-row m-8 pb-4 border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="JS_change_my_width sm:w-full p-2 overflow-hidden">
    <h2 class="mb-8">Tabs</h2>
    <div class="bg-grey-light">
      {% assign tabsNavData = "Structure;Overviews;Recently used;Favorites;Tab5;Tab6;Tab long text example" %}
      {% capture panelData %}
        {% include blocks/app-nav/app-nav-tab1.html %}
        ;&&;
        {% include blocks/app-nav/app-nav-tab2.html %}
        ;&&;
        <div class="text-lg text-red">
          recently used
        </div>
        ;&&;
        <div class="text-lg text-blue">
          favorites
        </div>
        ;&&;
        <div class="text-lg text-orange">
          Tab5
        </div>
        ;&&;
        <div class="text-lg text-yellow-darker">
          Tab6
        </div>
        ;&&;
        <div class="text-lg text-green-light">
          Tab long text example
        </div>
      {% endcapture %}

      {% include components/tabs.html tabsNavData=tabsNavData panelData=panelData %}
    </div>
  </div>
</div>
