---
layout: selectors
title: Tabs
permalink: /tabs
---

<div class="relative h-32">
</div>
<div class="fixed pin-t pin-l w-full flex pt-4 z-highest bg-grey-lightest shadow-lg text-center">
  {% include blocks/extra-options/background.html %}
  {% include blocks/extra-options/theme.html %}
  <div class="px-4">
    <div class="field field--not-empty">
      <div class="field__label">Tabs panel width</div>
      <div class="field__data">
        <div class="field__value">
          <div class="selector selector--singleselect selector--expanded selector--required JS_selector JS_extra">
            <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem JS_changeTabsWidth" tabindex='0' data-width="sm:w-3/4">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field ">75%</div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem JS_changeTabsWidth" tabindex='0' data-width="sm:w-1/4">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field ">25%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_changeTabsWidth').on('click', function() {
    setTimeout( () => {
      if($(this).hasClass('JS_selectorItem--active')) {
        $('.JS_change_my_width').removeClass('sm:w-full sm:w-1/4 sm:w-3/4 sm:w-1/2');
        $('.JS_change_my_width').addClass($(this).attr('data-width'));
        window.dispatchEvent(new Event('resize'));
      }
    }, 250);
  });

</script>

<div class="flex flex-col sm:flex-row m-8 pb-4 border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class=" sm:w-full p-2 overflow-hidden">
    <h2 class="mb-8">Tabs</h2>
    <div class="note">
      <ul>
        <li> There is a hover effect or not selected tab_nav_links.</li>
        <li> On choosing the new one, the line under the selected tab_nav_link moves to the new one.</li>
        <li> The counter next to the arrows in the shadow should depend on how many is hidden currently (so change the counter when horizontal scrolling). Should only appear when there are more than 5 items hidden. This feature is not implemented in the mockup.</li>
        <li> Shadows are visible if there is not enough place to fit every tab on the screen.</li>
        <li> Shadow is only visible, if something is hidden on that side of the tabs_nav.</li>
        <li> Hovering over a shadow should start horizontal scrolling the tabs_nav left or right. At the end on the right, there should be extra 10px or so.</li>
        <li> Hovering off the shadow should stop horizontal scrolling the tabs_nav.</li>
        <li> Hovering over the arrow in the shadow should stop horizontal scrolling the tabs_nav.</li>
        <li> Clicking the arrow in the shadow should jump one tab left or right in the tabs_nav, positionning the new one to the first in the left. (This Jquery code is has bugs in it.)</li>
        <li> If something is hidden, but suddenly there is enough space again, the tabs should reorganize themselves if needed, and check the conditionals for the shadows. To try: 25%, scroll all the way to the right, 75%</li>
        <li> Using the tab should have the same effect as hovering over a tab_nav_link. The shadow should be also moved with that. This feature is not implemented in the mockup.</li>
      </ul>
    </div>

    <div class="JS_change_my_width sm:w-3/4 bg-grey-light mt-4">
      {% assign tabsNavData = "Structure;Overviews;Recently used;Favorites;Tab5;Tab6;Tab long text example" %}
      {% capture panelData %}
        {% include blocks/app-nav/app-nav-tab1.html %}
        ;&&;
        {% include blocks/app-nav/app-nav-tab2.html %}
        ;&&;
        <div class="text-lg text-red">
          recently used
        </div>
        ;&&;
        <div class="text-lg text-blue">
          favorites
        </div>
        ;&&;
        <div class="text-lg text-orange">
          Tab5
        </div>
        ;&&;
        <div class="text-lg text-yellow-darker">
          Tab6
        </div>
        ;&&;
        <div class="text-lg text-green-light">
          Tab long text example
        </div>
      {% endcapture %}

      {% include components/tabs.html tabsNavData=tabsNavData panelData=panelData %}
    </div>
  </div>
</div>
