---
layout: toolbox
title: Selectors
permalink: /toolbox-selectors
---

<div class="relative h-32">
</div>
<div class="fixed pin-t pin-l w-full flex pt-4 z-highest bg-grey-lightest shadow-lg text-center">
  {% include blocks/extra-options/background.html %}
  {% include blocks/extra-options/theme.html %}
  <div class="px-4">
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Loading</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          <div class="toolbox-selector toolbox-selector--multiselect toolbox-selector--expanded JS_toolbox-selector JS_extra">
            <div class="toolbox-selector__item JS_toolbox-selectorItem--active JS_toolbox-selectorItem" tabindex='0'>
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_load_selectors">Selectors</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.JS_load_selectors').on('click', function() {
    $('.toolbox-selector').each(function() {
      $(this).toggleClass('animate-loading');
    });
    // remove the loading animation from this selector
    $(this).closest('.toolbox-selector').removeClass('animate-loading');
    $('.JS_extra').removeClass('animate-loading');
  });
  </script>

<div class="flex flex-col sm:flex-row m-8 pb-4 border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="sm:w-1/2 p-2 overflow-hidden">

    <h2 class="mb-8">Single select configuration examples without popup</h2>

    {% comment %} SingleSelects {% endcomment %}
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Single select - expanded</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,Not started;#F4CA16,,,Ongoing;var(--color-red),,,Finished" expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Single select - expanded and required (you cannot unselect all of them)</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,Not started;#F4CA16,,,Ongoing;var(--color-red),,,Finished" expanded="true" singleselect="true" required="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Single select - expanded and readonly</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,Not started;#F4CA16,,,Ongoing;var(--color-red),,,Finished" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Single select - not expanded (shows only one item) - no popup attached</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#F4CA16,,,Ongoing" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Single select - not expanded (shows only one item) and readonly</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#F4CA16,,,Ongoing" readonly="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>
  </div>
  <div class="sm:w-1/2 p-2 overflow-hidden">
    <h2 class="mb-8">Multi select configuration examples without popup</h2>
    {% comment %} Multiselects {% endcomment %}
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Multi select - expanded</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,dev-team;#00BFFF,,,back-end;#F4CA16,,,297" expanded="true" multiselect="true" selectedIndexes="1,2" %}
        </div>
      </div>
    </div>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Multi select - expanded and required (at least one has to be selected)</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,dev-team;#00BFFF,,,back-end;#F4CA16,,,297" expanded="true" multiselect="true" required="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Multi select - expanded and readonly</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,dev-team;#00BFFF,,,back-end;#F4CA16,,,297" expanded="true" readonly="true" multiselect="true" selectedIndexes="1,2" %}
        </div>
      </div>
    </div>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Multi select - not expanded</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,dev-team;#00BFFF,,,back-end;#F4CA16,,,297" multiselect="true" selectedIndexes="1,2,3" %}
        </div>
      </div>
    </div>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Multi select - not expanded and readonly</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,dev-team;#00BFFF,,,back-end;#F4CA16,,,297" readonly="true" multiselect="true" selectedIndexes="1,2,3" %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col sm:flex-row m-8 py-4 border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="sm:w-1/3 p-2 overflow-hidden">
    <h2 class="my-8">Examples without popup</h2>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Danger level</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,Low,,;#F4CA16,Moderate,,;var(--color-red),High,," expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Status</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,Not started;#F4CA16,,,Ongoing;var(--color-red),,,Finished" expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Status</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#F4CA16,,,Not started;#00BFFF,,,Ongoing;#0BDA51,,,Done" expanded="true" singleselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Product contact</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#F4CA16,,,Heet;var(--color-red),,,Brandbaar;var(--color-red),,,Huidopname" expanded="true" multiselect="true" selectedIndexes="1" %}
        </div>
      </div>
    </div>
  </div>
  <div class="sm:w-1/3 p-2 overflow-hidden">
    <h2 class="my-8">Examples with popup</h2>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Privacy Policy - tooltip example (toolbox-note in popup), click icon
        <div class="inline-action primary animate-fly-in-left JS_has-popup JS_has-popup--tooltip" data-popid="#ms-privacy"></div>
      </div>
      <div class="toolbox-field__data">

        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,Disagree;,,,Agree" expanded="true" singleselect="true" selectedIndexes="1" %}
          <span>with our <a href="#" class="link link--primary">Privacy Policy</a>.</span>
        </div>

      </div>
    </div>

    {% comment %} Popup {% endcomment %}
    <div class="toolbox-modal" id="ms-privacy">
      <div class="toolbox-table">
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--custom">
            <li class="toolbox-table__cell">
              <div class="toolbox-table__cellInner">

                <div class="toolbox-note toolbox-note--tooltip">
                  <p>By selecting 'Agree' you have read and accepted TenForce's <a href="#" class="link link--primary">Privacy Policy</a>, concerning your personal data and how it is used.</p>
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty JS_toolbox-field--error">
      <div class="toolbox-field__label">Status - with description and error animation </div>
      <div class="toolbox-field__data">

        <div class="toolbox-field__error JS_has-popup" data-popid="#ms-error"></div>
        <div class="toolbox-field__value">
          <div class="toolbox-selector toolbox-selector--singleselect JS_has-popup" data-popid="#ms-status">
            <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected JS_toolbox-selectorItem" tabindex="0">
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix JS_singleSelect--prefix" style="background-color: var(--color-red);"></div>
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_singleSelect--label">Not started</div>
              </div>
            </div>
          </div>
          <span>selector with aligned text.</span>
        </div>

      </div>
      <div class="toolbox-note">
        <p>This is a simple description (no <a href="#" class="link link--primary">with a link example</a>)</p>
        <p>Error animation example: try to change status, then click on error icon or selector toolbox-field again.</p>
      </div>
    </div>

    {% comment %} Popup {% endcomment %}
    <div class="toolbox-modal" id="ms-error">
      <div class="toolbox-table">
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--custom">
            <li class="toolbox-table__cell">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-note toolbox-note--error">
                  <p>Item could not be selected. <a href="#" class="link link--primary">Read more</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% comment %} Popup {% endcomment %}
    <div class="toolbox-modal animate-popup" id="ms-status">
      <div class="toolbox-table">
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--custom JS_toolbox-tableRow--error" style="display: none;">
            <li class="toolbox-table__cell">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-note toolbox-note--error">
                  <p>Item could not be selected. <a href="#" class="link link--primary">Read more</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="toolbox-table JS_optionsChildren">
        {% for item in site.data.toolbox-modal-status.items %}
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item toolbox-table__rowInner--action JS_filterableCell JS_error-popupRow">
            <li class="toolbox-table__cell">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__value">
                  <div class="toolbox-selector toolbox-selector--expanded">
                    <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                      <div class="toolbox-selector__block">
                        <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix JS_color--prefix" style="background-color: {{item.color}}">{{item.icon}}</div>
                        <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_text">{{item.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% if item.selected == "true" %} {% include javascript/itemSelected.html %} {% endif %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="sm:w-1/3 p-2 overflow-hidden">
    <h2 class="mt-8">Checkboxes</h2>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Checkbox</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData=",,,;,,," expanded="true" singleselect="true" selectedIndexes="1" required="true" %}
        </div>
      </div>
    </div>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Checkbox - colored </div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,;,,," expanded="true" singleselect="true" selectedIndexes="1" required="true" %}
        </div>
      </div>
    </div>
  </div>

</div>

<div class="flex flex-col sm:flex-row m-8 py-4 border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="sm:w-1/2 p-8 overflow-hidden">
    <h2 class="mb-8">Read-only with ellipsis</h2>
    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,Label,toolbox-field Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum" expanded="true" singleselect="true" selectedIndexes="1" readonly="true"%}
        </div>
      </div>
    </div>

  </div>
  <div class="sm:w-1/2 p-8 overflow-hidden">

    <h2 class="mb-8">Tag Picker</h2>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Tags</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          {% include components/toolbox-selector.html toolboxSelectorData="#0BDA51,,,282;#F4CA16,,,2013_Maintenance;#E30022,,,workaround_available" multiselect="true" selectedIndexes="1,2,3" popupId="#toolbox-modal-tagpicker" %}
        </div>
      </div>
    </div>

    {% comment %} Popup {% endcomment %}
    {% include popups/toolbox-modal-tags-colors.html %}
  </div>
</div>

<div class="flex flex-col sm:flex-row m-8 py-4 border-b-2 border-dashed border-grey-dark overflow-hidden">
  <div class="sm:w-1/2 p-8 overflow-hidden">

    <h2 class="mb-8">Filters</h2>

    {% comment %} toolbox-field {% endcomment %}
    <div class="toolbox-field toolbox-field--not-empty">
      <div class="toolbox-field__label">Description</div>
      <div class="toolbox-field__data">
        <div class="toolbox-field__value">
          <div class="toolbox-selector toolbox-selector--expanded">
            <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Include</div>
            <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">improvement</div>
              </div>
            </div>
          </div>
          <div class="toolbox-selector toolbox-selector--expanded">
            <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">And</div>
          </div>
          <div class="toolbox-selector toolbox-selector--expanded">
            <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Exclude</div>
            <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">design</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      {% comment %} toolbox-field {% endcomment %}
      <div class="toolbox-field toolbox-field--not-empty">
        <div class="toolbox-field__label">Tags  Filter with popup</div>
        <div class="toolbox-field__data">
          <div class="toolbox-field__value JS_has-popup" data-popid="#filter-tagpicker">
            <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly">
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Include</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix" style="background-color: #00BFFF;"></div>
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">Design</div>
                </div>
              </div>
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">And</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix" style="background-color: #0BDA51;"></div>
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">Marketing</div>
                </div>
              </div>
            </div>
            <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly JS_toolbox-selector">
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Or</div>
            </div>
            <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly JS_toolbox-selector">
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Exclude</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix" style="background-color: #f4ca16;"></div>
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">front-end</div>
                </div>
              </div>
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Or</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix" style="background-color: #e30022;"></div>
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">back-end</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %} Popup {% endcomment %}
      {% include popups/filter-tags.html%}

      {% comment %} toolbox-field {% endcomment %}
      <div class="toolbox-field toolbox-field--not-empty">
        <div class="toolbox-field__label">Date  Filte with popupr</div>
        <div class="toolbox-field__data">
          <div class="toolbox-field__value JS_has-popup" data-popid="#filter-datepicker">
            <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly">
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Include</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">next 2 weeks (12/03/18-25/03/18)</div>
                </div>
              </div>
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">And</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">19/03/18-20/03/18</div>
                </div>
              </div>
            </div>
            <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly">
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Or</div>
            </div>
            <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly">
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Exclude</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">today</div>
                </div>
              </div>
              <div class="toolbox-selector__itemSeparator toolbox-selector__itemSeparator--hasLabel h6">Or</div>
              <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                <div class="toolbox-selector__block">
                  <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field">18/03/18</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %} Popup {% endcomment %}
      {% include popups/filter-date.html%}
  </div>
</div>
<script>
  $("#ms-status .JS_error-popupRow").on('click', function() {
    closeOverlay();
    $("#ms-status .JS_toolbox-tableRow--error").css('display', 'flex');
    $('.JS_toolbox-field--error').each(function() {
      const errorField = $(this);
      errorField.addClass('toolbox-field--error');
      errorField.find('.JS_has-popup').addClass('JS_has-popup--error');
    });
  });
</script>
