---
layout: toolbox-table
title: toolbox-table
permalink: /toolbox-table
---
<div class=" m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <h1 class="pt-4 pb-8 mb-8 text-red">toolbox-table Readonly</h1>
  {% include blocks/toolbox-table/toolbox-table-readonly.html %}
</div>
<div class=" m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <h1 class="pt-4 pb-8 mb-8 text-red">toolbox-table Editable</h1>
  {% include blocks/toolbox-table/toolbox-table-editable.html %}
</div>

<div class=" m-8 py-4 min-h-screen border-b-2 border-dashed border-grey-dark overflow-hidden">
  <h1 class="pyt4 pb-8 mb-8 text-red">toolbox-table With Data</h1>
  {% include blocks/toolbox-table/toolbox-table.html %}
</div>
