---
layout: old-pmx
title: Tutorial
permalink: /tutorial
---

<div class="app cf item-progress--visible">
  <div class="app__overlay"></div>

  <div class="app-navigator">
    {% include blocks/app-nav.html %}
  </div>

  <div class="user-menu">
    {% include blocks/user-menu.html %}
  </div>

  <main class="app__container">
    <header class="app-header cf">
      {% include blocks/app-header.html %}
    </header>
    {% include blocks/old-pmx-tabline.html %}
    {% include blocks/old-pmx-listtool.html %}

    <div id="ctl00_pagebody_container" class="pagebody-container">
       <div class="pagebody">
          <div id="dialogbox-wrapper" class="dialogbox-wrapper invisible">
             <div class="dialogbox-wrapper-content">
                <div id="dialogbox" class="dialogbox">
                </div>
             </div>
          </div>
          <div id="itemdetailpage" class="item-detail ">
             <div id="ctl00_PageContentPlaceHolder_ctl00_ItemDetailContent">
                <input name="ctl00$PageContentPlaceHolder$ctl00$OwnerPersonId" type="hidden" id="ctl00_PageContentPlaceHolder_ctl00_OwnerPersonId">
                <input name="ctl00$PageContentPlaceHolder$ctl00$DefaultChildListId" type="hidden" id="ctl00_PageContentPlaceHolder_ctl00_DefaultChildListId">
                <div class="tid-content-wrapper">
                   <div id="tabs" class="tid-sidebar">
                   </div>
                   <div id="ctl00_PageContentPlaceHolder_ctl00_contentcontainer">
                      <div id="OverviewTab_Content" class="tid-content">

                         <div style="margin: 40px 16%;width: auto;float: none;background-color: #F7F7F7;box-shadow: 0 10px 15px -10px #7e9bae;padding: 60px 80px;box-sizing:border-box;border-radius:3px;">
                           <img src="./assets/images/tf_logo_full.png" alt="logo" style="max-width: 30%;margin: 0 auto 60px;display: block;">
                            <h1 style="color:#000;padding:0;font-size:22px;float:none;">Welcome to Contractor Managment, where you can manage qualification requests coming from contracting parties.</h1>
                            <h5 style="text-transform:uppercase;font-weight:600;margin: 20px 0 10px 0;float: none;font-size:16px;">Manage your company information</h5>
                            <p style="margin: 10px 0;font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p style="margin: 10px 0;font-size:16px;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <h5 style="text-transform:uppercase;font-weight:600;margin: 20px 0 10px 0;float: none;font-size:16px;">Maintain you company's documents</h5>
                            <p style="margin: 10px 0;font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p style="margin: 10px 0;font-size:16px;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <h5 style="text-transform:uppercase;font-weight:600;margin: 20px 0 10px 0;float: none;font-size:16px;">Track all your requests</h5>
                            <p style="margin: 10px 0;font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                         </div>

                      </div>
                   </div>
                </div>
                <div class="tid-footer-wrapper">
                   <div class="tid-footer">
                      <dl>
                         <dt>Created on</dt>
                         <dd data-ft-field-label="Created on"><span class="time">maandag 19 maart 2018 at 14:41</span> by <span>Sara Luysterborg</span></dd>
                      </dl>
                      <dl>
                         <dt>Last update</dt>
                         <dd data-ft-field-label="Last update">
                            <span id="fld_685305_Item_27" ipe_id="685305" ipe_object="Item" ipe_property="27" class="hasnoipe" title="" ipe_editmodeallowed="false"><span class="time">maandag 19 maart 2018 at 16:39</span></span><script type="text/javascript">
                               ipe.registerElement.defer("fld_685305_Item_27");
                            </script>
                            by <span id="fld_685305_Item_26" ipe_id="685305" ipe_object="Item" ipe_property="26" class="hasnoipe" title="" ipe_editmodeallowed="false"><span>Myriam Sprengers</span></span><script type="text/javascript">
                               ipe.registerElement.defer("fld_685305_Item_26");
                            </script>
                         </dd>
                      </dl>
                      <dl id="FinalStateSinceContainer" class="">
                         <dt>Final state since</dt>
                         <dd>
                            <span id="fld_685305_Item_39" ipe_id="685305" ipe_object="Item" ipe_property="39" class="hasnoipe" title="" ipe_editmodeallowed="false"><span class="time">maandag 19 maart 2018 at 16:39</span></span><script type="text/javascript">
                               ipe.registerElement.defer("fld_685305_Item_39");
                            </script>
                         </dd>
                      </dl>
                   </div>
                   <div class="tid-branching">
                   </div>
                </div>
             </div>
          </div>
          <!-- content-->
          <div class="clear"></div>
       </div>
    </div>

  </main>
</div>
