  <div class="pmx-selector pmx-selector--expanded JS_selector">
    <div class="pmx-selector__item JS_selectorItem pmx-selector__item--selected">
      <div class="pmx-selector__block">
        <div class="pmx-selector__blockPart pmx-selector__blockPart--label">Or</div>
      </div>
    </div>
    <div class="pmx-selector__itemSeperator"></div>
    <div class="pmx-selector__item JS_selectorItem">
      <div class="pmx-selector__block">
        <div class="pmx-selector__blockPart pmx-selector__blockPart--label">And</div>
      </div>
    </div>
  </div>
