  <div class="selector selector--singleselect selector--expanded JS_selector">
    <div class="selector__item selector__item--selected JS_selectorItem">
      <div class="selector__block">
        <div class="selector__blockPart selector__blockPart--label">Or</div>
      </div>
    </div>
    <div class="selector__itemSeperator"></div>
    <div class="selector__item JS_selectorItem">
      <div class="selector__block">
        <div class="selector__blockPart selector__blockPart--label">And</div>
      </div>
    </div>
  </div>
