<li class="itemBoxTable__bodyCell " style="flex-grow: 1;" data-flex="1">
  <div class="itemBoxTable__bodyCellInner">
    <div class="pmx-field">
      <div class="pmx-field__inner">
        <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleselect JS_selector">
          <div class="pmx-selector__item JS_selectorItem pmx-selector__item--selected">
            <div class="pmx-selector__block">
              <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Or</span>
            </div>
          </div>
          <div class="pmx-selector__itemSeperator"></div>
          <div class="pmx-selector__item JS_selectorItem">
            <div class="pmx-selector__block">
              <span class="pmx-selector__blockPart pmx-selector__blockPart--label">And</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
