<div class="toolbox-table__row">
  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell" style="display: none;">
    <li class="toolbox-table__cell ${textActionClass}">
      ${newSelectedItemHTML}
    </li>
    ${columnPickerOptionBlock}
    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--draggable">
      <div class="toolbox-table__cellInner">
        <i class="toolbox-table__action ">އ</i>
      </div>
    </li>
    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__action">
      <div class="toolbox-table__cellInner">
        <i class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></i>
      </div>
    </li>
  </ul>
  ${colorChildren}
  ${columnpickeroptions}
</div>
