<div class="toolbox-table__cellInner ${excludeClass} ${colorToggleTriggerInnerClass}">

  ${colorToggleHTML}
  <div class="toolbox-selector toolbox-selector--expanded toolbox-selector--readonly toolbox-selector--singleselect">
    <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
      <div class="toolbox-selector__block">
        ${colorPrefixHTML}
        <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_text">${textOfActionItem}</div>
      </div>
    </div>
  </div>

</div>
