<ul class="itemBoxTable__bodyRow JS_filterableCell">
  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
    ${newSelectedItemHTML}
  </li>
  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
    <div class="itemBoxTable__bodyCellInner">
      <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
    </div>
  </li>
  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
    <div class="itemBoxTable__bodyCellInner">
      <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
    </div>
  </li>
</ul>
${colorChildren}
