<ul class="itemBoxTable__bodyRow ">
  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
    <div class="itemBoxTable__bodyCellInner">
      <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
    </div>
  </li>
  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
    <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--selectedText">
      <i>Include</i>
    </div>
  </li>
  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
    <div class="itemBoxTable__bodyCellInner">
      <i class="itemBoxTable__action itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">ޅ</i>
    </div>
  </li>
</ul>

<div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenInclude">
  <div class="itemBoxTable">
    <div class="itemBoxBody itemBoxBody--sortable ui-sortable">
    </div>
  </div>
</div>
