<ul class="itemBox__row itemBox__row--item JS_selectionTitleInclude">
  <li class="itemBox__cell itemBox__cell--action">
    <div class="itemBox__cellInner">
      <div class="itemBox__action">ऄ Include</div>
    </div>
  </li>
  <li class="itemBox__cell align-right">
    <div class="itemBox__cellInner">
      {% include javascript/and-or-selector.html %}
    </div>
  </li>
  <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
    <div class="itemBox__cellInner">
      <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</div>
    </div>
  </li>
</ul>

<div class="itemBox JS_itemBox--children JS_selectionChildrenInclude">
  <div class="itemBoxBody--sortableConnected itemBoxBody--sortableInclude ui-sortable"></div>
</div>
