<ul class="itemBoxTable__bodyRow JS_multiSelector__box--selectionTitle">
    <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;">
      <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--selectedText">
        <i>ऄ Selected</i>
      </div>
    </li>
    <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
      <div class="itemBoxTable__bodyCellInner">
        <i class="itemBoxTable__action itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">ޅ</i>
      </div>
    </li>
</ul>
<div class="itemBox itemBox--children  JS_multiSelector__box--selectionChildren">
  <div class="itemBoxTable">
    <div class="itemBoxBody itemBoxBody--sortable">

    </div>
  </div>
</div><!-- /.itemBox selection-->
