<ul class="itemBoxTable__bodyRow  JS_multiSelector__box--selectionTitleInclude">
  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
    <div class="itemBoxTable__bodyCellInner">
      <i class="itemBoxTable__action--toggle">ऄ Include</i>
    </div>
  </li>
  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--align-right " style="flex-grow: 1;" data-flex="1">
    <div class="itemBoxTable__bodyCellInner">
      {% include javascript/and-or-selector.html %}
    </div>
  </li>
  <li class="itemBoxTable__bodyCell JS_itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
    <div class="itemBoxTable__bodyCellInner">
      <i class="itemBoxTable__action JS_itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">—</i>
    </div>
  </li>
</ul>

<div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenInclude">
  <div class="itemBoxTable">
    <div class="itemBoxBody itemBoxBody--sortableConnected itemBoxBody--sortableInclude ui-sortable">
    </div>
  </div>
</div>
