<ul class="itemBox__row  JS_multiSelector__box--selectionTitleExclude">
  <li class="itemBox__cell itemBox__cell--action">
    <div class="itemBox__cellInner">
      <div class="itemBox__action">ऄ Exclude</div>
    </div>
  </li>
  <li class="itemBox__cell align-right">
    <div class="itemBox__cellInner">
      {% include javascript/and-or-selector.html %}
    </div>
  </li>
  <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
    <div class="itemBox__cellInner">
      <i class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</i>
    </div>
  </li>
</ul>

<div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenExclude">
  <div class="itemBoxBody--sortableConnected itemBoxBody--sortableExclude ui-sortable"></div>
</div>
