<div class="itemBox JS_itemBox--children itemBox--children-sublist JS_itemBox--filterInclExcl">
  <ul class="itemBox__row">
    <li class="itemBox__cell">
      <div class="itemBox__cellInner JS_itemBox__cellInner--inclExcl" data-filter="Include">

        <div class="pmx-selector pmx-selector--readonly">
          <div class="pmx-selector__item">
            <div class="pmx-selector__block">
              <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Include</span>
            </div>
          </div>
        </div>

      </div>
    </li>
  </ul>
  <ul class="itemBox__row">
    <li class="itemBox__cell">
      <div class="itemBox__cellInner JS_itemBox__cellInner--inclExcl" data-filter="Exclude">

        <div class="pmx-selector pmx-selector--readonly">
          <div class="pmx-selector__item">
            <div class="pmx-selector__block">
              <span class="pmx-selector__blockPart pmx-selector__blockPart--label">Exclude</span>
            </div>
          </div>
        </div>

      </div>
    </li>
  </ul>
</div>
