<div class="itemBox itemBox--sublist JS_itemBox--children JS_itemBox--children JS_itemBox--colors"  style="display: none;">
  {% for item in site.data.color-sublist.items %}
    <div class="itemBox__row">
      <ul class="itemBox__rowInner itemBox__rowInner--item">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner JS_itemBox__cellInner--color">
            <button class="itemBox__action">
              <div class="selector selector--expanded">
                <div class="selector__item JS_selectorItem--active selector__item--selected">
                  <div class="selector__block">
                    <span class="selector__blockPart selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: {{item.color}};" data-color="{{item.color}}"></span>
                  </div>
                </div>
              </div>
              <span>{{item.name}}</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  {% endfor %}
</div>
