<div class="toolbox-table JS_toolbox-table--children JS_toolbox-table--children JS_toolbox-table--sublist toolbox-table--sublist JS_toolbox-table--columnpickerOptions JS_children-closed" style="display: none;">
  {% for item in site.data.ms-options.items %}
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner JS_toggle--options">
          <div class="selector selector--singleselect selector--required selector--expanded JS_selector">
            <div class="selector__item JS_selectorItem JS_columnPickerOption--enabled">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field"></div>
              </div>
            </div>
            <div class="selector__itemSeperator"></div>
            <div class="selector__item JS_selectorItem JS_selectorItem--active selector__item--selected">
              <div class="selector__block ">
                <div class="selector__blockPart selector__blockPart--field"></div>
              </div>
            </div>
          </div>
          <div class="inline align-middle pl-1">{{item  | capitalize}}</div>
        </div>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>
