<div class="toolbox-table JS_toolbox-table--children JS_toolbox-table--sublist toolbox-table--sublist JS_toolbox-table--suggestions" style="display: none;">
  {% for item in site.data.tag-picker-color.suggestions %}
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner JS_toggle--color">

            {% include javascript/colorToggle.html color=item.color %}
            {% assign toolboxSelectorData = ",,," | append: item.name %}
            {% include components/toolbox-selector.html toolboxSelectorData=toolboxSelectorData singleselect="true" readonly="true" expanded="true" selectedIndexes="1" %}
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action ui-sortable-handle JS_toolbox-table__cell--draggable">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action toolbox-table__action--hidden">އ</div>
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action JS_toolbox-tableTable__action--remove"></div>
          </div>
        </li>
      </ul>
    </div>
    {% include blocks/popup/ms-sublist-tags-colors-color.html %}
  {% endfor %}
</div>
