<div class="itemBox JS_itemBox--children JS_itemBox--children-sublist itemBox--sublist JS_itemBox--suggestions" style="display: none;">
  {% for item in site.data.tag-picker-color.suggestions %}
    <ul class="itemBox__row">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner JS_toggle--color">

          {% include javascript/colorToggle.html color=item.color %}
          <div class="selector selector--expanded">
            <div class="selector__item JS_selectorItem--active selector__item--selected">
              <div class="selector__block">
                <div class="selector__blockPart selector__blockPart--field JS_text">{{item.name}}</div>
              </div>
            </div>
          </div>

        </div>
      </li>
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action ui-sortable-handle JS_itemBox__cell--draggable">
        <div class="itemBox__cellInner">
          <div class="itemBox__action itemBox__action--hidden">އ</div>
        </div>
      </li>
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove">
        <div class="itemBox__cellInner">
          <div class="itemBox__action JS_itemBoxTable__action--remove"></div>
        </div>
      </li>
    </ul>
    {% include blocks/popup/ms-sublist-tags-colors-color.html %}
  {% endfor %}
</div>
