<div class="toolbox-table JS_toolbox-table--children JS_toolbox-table--children JS_toolbox-table--sublist toolbox-table--sublist JS_toolbox-table--columnpickerOptions JS_children-closed" style="display: none;">
  {% for item in site.data.ms-options.items %}
  <div class="toolbox-table__row">
    <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
      <li class="toolbox-table__cell">
        <div class="toolbox-table__cellInner JS_toggle--options">
          <div class="toolbox-selector toolbox-selector--singleselect toolbox-selector--required toolbox-selector--expanded JS_toolbox-selector">
            <div class="toolbox-selector__item JS_toolbox-selectorItem JS_columnPickerOption--enabled">
              <div class="toolbox-selector__block">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field"></div>
              </div>
            </div>
            <div class="toolbox-selector__itemSeparator"></div>
            <div class="toolbox-selector__item JS_toolbox-selectorItem JS_toolbox-selectorItem--active toolbox-selector__item--selected">
              <div class="toolbox-selector__block ">
                <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field"></div>
              </div>
            </div>
          </div>
          <div class="inline align-middle pl-1">{{item  | capitalize}}</div>
        </div>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>
