<div class="itemBox itemBox--children itemBox--children-sublist JS_itemBox--suggestions" style="display: none;">
  <div class="itemBoxTable">
    <div class="itemBoxBody">
      <ul class="itemBoxTable__bodyRow JS_bodyRow--suggestion">
        <li class="itemBoxTable__bodyCell JS_colorselector-trigger" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--colortoggle">
            {% include javascript/colorToggle.html color="#0bda51" %}

            <div class="pmx-selector pmx-selector--readonly">
              <div class="pmx-selector__item">
                <div class="pmx-selector__block">
                  <div class="pmx-selector__blockPart pmx-selector__blockPart--field ">282
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
          </div>
        </li>
      </ul>
      {% include blocks/popup/ms-tags-colors-color-sublist.html %}

      <ul class="itemBoxTable__bodyRow JS_bodyRow--suggestion">
        <li class="itemBoxTable__bodyCell JS_colorselector-trigger" style="flex-grow: 1;" data-flex="1">
          <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--colortoggle">
            {% include javascript/colorToggle.html color="#00bfff" %}

            <div class="pmx-selector pmx-selector--readonly">
              <div class="pmx-selector__item">
                <div class="pmx-selector__block">
                  <div class="pmx-selector__blockPart pmx-selector__blockPart--field ">297
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
          <div class="itemBoxTable__bodyCellInner">
            <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
          </div>
        </li>
      </ul>
      {% include blocks/popup/ms-tags-colors-color-sublist.html %} {% include blocks/popup/ms-create-new.html %}

    </div>
  </div>
</div>
