<div class="itemBox JS_itemBox--children JS_itemBox--children itemBox--children-sublist JS_itemBox--colors"  style="display: none;">
  {% for item in site.data.color-sublist.items %}
    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner JS_itemBox__cellInner--color">

          <div class="itemBox__action">

            <div class="selector selector--expanded">
              <div class="selector__item selector__item--selected">
                <div class="selector__block">
                  <span class="selector__blockPart selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: {{item.color}};" data-color="{{item.color}}"></span>
                </div>
              </div>
            </div>

            <span>{{item.name}}</span>

          </div>

        </div>
      </li>
    </ul>
  {% endfor %}
</div>
