{% assign selectedClass = "JS_selectorItem--active selector__item--selected" %}


{% assign includeSelectedClass = {selectedClass} %}
{% assign excludeSelectedClass = "" %}

{% if include.selected == 'exclude' %}
  {% assign includeSelectedClass = "" %}
  {% assign excludeSelectedClass = {selectedClass} %}

{% endif %}



<div class="selector selector--singleselect selector--expanded JS_selector">
  <div class="selector__item JS_selectorItem  {{includeSelectedClass}} JS_itemBox__cellInner--inclExcl" data-filter="Include">
    <div class="selector__block">
      <div class="selector__blockPart selector__blockPart--label">Include</div>
    </div>
  </div>
  <div class="selector__itemSeperator"></div>
  <div class="selector__item JS_selectorItem {{excludeSelectedClass}} JS_itemBox__cellInner--inclExcl" data-filter="Exclude">
    <div class="selector__block">
      <div class="selector__blockPart selector__blockPart--label">Exclude</div>
    </div>
  </div>
</div>
