<div class="multiSelector multiSelector--semsearch" data-popup="semsearch">
  <div class="itemBox">
    <div class="itemBoxFilter">
      <div class="itemBoxFilter__input">
        <input type="text" placeholder="filter through items">
      </div>
    </div>

    <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner">

                    <div class="pmx-selector pmx-selector--semsearch-tag">
                      <div class="pmx-selector__value">
                        <div class="pmx-selector__label ">
                          <span class="pmx-selector--semsearch-tag__type">Any •</span> Typed keyword
                        </div>
                      </div>
                    </div>

                  </div>
              </li>
          </ul>
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--semsearch-tag">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__label ">
                            <span class="pmx-selector--semsearch-tag__type">Title •</span> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                          </div>
                        </div>
                      </div>

                    </div>
                </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell  itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--semsearch-tag">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__label ">
                            <span class="pmx-selector--semsearch-tag__type">Assigned to •</span> Nick De Jaeger
                          </div>
                        </div>
                      </div>

                    </div>
                </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell  itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--semsearch-tag">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__label ">
                            <span class="pmx-selector--semsearch-tag__type">Priority •</span> dialog-wrapper
                          </div>
                        </div>
                      </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /.itemBox -->
</div>
