<header class="header header--item">
  <div class="header__inner">
    <input type="text" value="PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox END END END END END END" class="header__inputTitle h2">

    <div class="header__title">
      <div class="header__type header__type--bug">
        <div class="header__label header__label--bug">
          {% include components/toolbox-selector.html toolboxSelectorData=",,Bug," expanded="true"  singleselect="true" readonly="true" selectedIndexes="1" %}
        </div>
        <span class="header__id">391441</span>
      </div>
      <h2 class="truncate">PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox PMX - Fix horizontal scroll alterneting in FireFox END END END END END END<sup>15</sup></h2>
    </div>

    <div class="header__actions">
      <div class="block-action JS_share" data-clipboard-text="(1546) Update nav menu (https://tracker.tenforce.com/item/1546)"></div>
      <div class="block-action disabled"></div>
      <div class="block-action"><sup></sup></div>
      <div class="block-action readonly">
        {% include components/toolbox-selector.html toolboxSelectorData=",,,Ongoing" expanded="true"  singleselect="true" readonly="true" selectedIndexes="1" %}

      </div>
      <div class="block-action readonly">

        <div class="toolbox-selector toolbox-selector--singleselect toolbox-selector--expanded JS_toolbox-selector">
          <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected JS_toolbox-selectorItem JS_panels-state-1" panel-name="overview">
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix"></div>
            </div>
          </div>
          <div class="toolbox-selector__itemSeparator"></div>
          <div class="toolbox-selector__item  JS_toolbox-selectorItem JS_panels-state-2" panel-name="comments-attachments">
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix"><sup>11</sup></div>
            </div>
          </div>
          <div class="toolbox-selector__itemSeparator"></div>
          <div class="toolbox-selector__item JS_toolbox-selectorItem JS_panels-state-3" panel-name="history">
            <div class="toolbox-selector__block">
              <div class="toolbox-selector__blockPart toolbox-selector__blockPart--prefix"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
