---
---

.app-navigator--visible {
  .app-navigator {
    left: 0;
  }

  .app__container {
    left: 50%;
  }

  .app__overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.app-navigator {
  position: fixed;
  z-index: 2;
  width: 50%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: -50%;
  transition: all .3s ease-in-out;
  background-color: transparent;
  overflow: hidden;
  color: #FFF;

  &__nav {
    min-height: 100%;
    z-index: 5;
    background-color: #2C5386;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .tabs {

      &__panel {
        padding: 10px;
      }
    }


  }
}
