---
---

.app-header {
  position: relative;
  padding: 10px 20px;
  background-color: #2C5386;
  color: #FFF;
}
.old-app-header {
  background-color: #285C9E;
}

.app-navigator {
  position: relative;

  &__left {
    float: left;
    width: 50%;

    .app-navigator__item {
      position: relative;
      display: inline-block;
      padding: 5px;
      min-width: 40px;
      font-size: 24px;
      max-width: -webkit-calc(100% - 40px);
      max-width: -moz-calc(100% - 40px);
      max-width: calc(100% - 40px);

      h1, a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__right {
    float: right;
  }

  &__item {
    position: relative;
    display: inline-block;
    padding: 5px;
    min-width: 40px;
    font-size: 24px;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
  }
}
