---
---

.item-body {
  position: relative;
  padding: 15px;
  overflow: hidden;
}

.item-main {
  float: left;
  width: 100%;
  position: relative;

  &__inner {
    background-color: #FFF;
    color: #000;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  }

  &__header {
    position: relative;
    padding: 15px 20px;
    overflow: hidden;
    background-color: #FFF;

    h3 {
      position: relative;
      display: inline-block;
      font-size: 20px;
    }

    &Actions {
      float: right;

      ul li {
        display: inline-block;

        span {
          display: block;
          position: relative;
          background-color: #11ceff;
          background: linear-gradient(to right, rgba(3,163,221,1) 0%,rgba(33,194,249,1) 100%);
          color: #FFF;
          text-transform: uppercase;
          font-size: 16px;
          font-style: italic;
          font-weight: 700;
          letter-spacing: 1px;
          padding: 2px 14px;
          margin: 0 0 0 5px;
          border-radius: 25px;
          cursor: pointer;

          &.cancel {
            background-color: transparent;
            background: none;
            color: red;
          }
        }
      }
    }

    .line {
      position: absolute;
      bottom: 6px;
      left: 0;
      white-space: nowrap;
      letter-spacing: 3px;
      color: #CCC;
      width: 100%;
      line-height: 0;
      font-size: 12px;
    }

    .tabs {
      .tabs__nav {
        padding: 0 10px;
      }
      .tabs__panels .tabs__panel {
        padding: 0;
      }
    }
  }
}
