---
---

.item {
  position: relative;
  margin: 0 20px;
  background-color: #F2F2F2;

  &-header {
    position: relative;
    background-color: #FFF;
    border-bottom: 2px dashed #CCC;
    padding: 10px 15px;

    &__title {
      position: relative;
      display: inline-block;
      max-width: 75%;

      h2 {
        padding: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__meta {
      position: relative;
      margin: 0 0 0 -15px;
    }

    &__type {
      display: inline-block;
      background-color: #E6E6E6;
      padding: 7px 10px 7px 15px;
      line-height: 1;

      &--meeting {
      }

      &--bug {
        border-radius: 0 15px 15px 0;
      }

      &--story {
      }
    }

    &__id {
      margin: 0 5px;
    }

    &__actions {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      max-width: 25%;
      width: 100%;
      text-align: right;
    }

    &__action {
      display: inline-block;
      margin: 5px;
    }
  }
}
