---
---

.item {
  position: relative;
  margin: 0 20px;
  background-color: #F2F2F2;

  &-header {
    position: relative;
    background-color: #FFF;
    border-bottom: 2px dashed #CCC;
    padding: 10px 15px;

    &__title {
      position: relative;
      display: inline-block;
      max-width: 75%;

      h2 {
        font-weight: 600;
        font-size: 24px;
        margin: 5px 0;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        max-height: 90px;
      }
    }

    &__meta {
      position: relative;
      margin: 0 0 0 -15px;
    }

    &__type {
      display: inline-block;
      background-color: #e6e6e6;
      padding: 3px 10px 3px 15px;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #808080;

      &--meeting {
        background-color: #11ceff;
        color: #FFF;
        border-radius: 0 5px 5px 0;
      }

      &--bug {
        border-radius: 0 10px 10px 0;
      }

      &--story {
        background-color: #BF920B;
        color: #FFF;
        border-radius: 0 5px 5px 0;
      }
    }

    &__id {
      margin: 0 5px;
    }

    &__actions {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      max-width: 25%;
      width: 100%;
      text-align: right;
    }

    &__action {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }
}
