  <ul class="item-progress__steps">
      <li class="item-progress__step item-progress__step--resloved">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Project</span>
      </li>
      <li class="item-progress__step item-progress__step--current">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Doelstelling</span>
      </li>
      <li class="item-progress__step item-progress__step--unresolved">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Milestone and link indicator</span>
      </li>
      <li class="item-progress__step item-progress__step--unresolved">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Step 3</span>
          <div class="item-progress__stepInfo">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
      </li>
      <li class="item-progress__step item-progress__step--unresolved">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Set-up request</span>
      </li>
      <li class="item-progress__step item-progress__step--unresolved">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Step 5</span>
      </li>
      <li class="item-progress__step item-progress__step--unresolved">
          <span class="item-progress__stepSymbol"></span>
          <span class="item-progress__stepLabel">Finished</span>
      </li>
  </ul>
