<!DOCTYPE html>
<html lang="en-us" class="antialiased">
  <head>
    {% include head.html %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.5.2/tailwind.min.css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/sass/tailwind-extend.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/sass/components/toolbox-button.css">
  </head>

  <body class="page-{{ page.title }}">
    {% include components/overlay.html %}
    {{ content }}
  </body>
</html>
