<!DOCTYPE html>
<html lang="en-us" class="antialiased">
  <head>
    {% include head.html %}
  </head>

  <body class="theme-dark">
    <div class="toolbox-overlay"></div>
    {{ content }}

    {% include foot.html %}

    {% comment %} Libraries {% endcomment %}
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.stickytableheaders.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.sticky.js"></script>

    {% comment %} Plugins {% endcomment %}
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/sticky.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/toggle-panels.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/multiple-scrollable.js"></script>

    {% comment %} Components {% endcomment %}
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/semsearch.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/breadcrumbs.js"></script>
  </body>
</html>
