<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body>
    {{ content }}

    {% include foot.html %}

    <!-- Libraries -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.stickytableheaders.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.sticky.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/sticky.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/toggle-panels.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/multipleScrollable.js"></script>

    <!-- Components -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/semsearch.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/tabs.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/breadcrumbs.js"></script>
  </body>
</html>
