<!DOCTYPE html>
<html lang="en-us">
<head>
  {% include head.html %}
</head>

<body>
  <div class="app cf document__info--visible">
    <div class="app__overlay"></div>

    <div class="app-navigator">
      {% include blocks/app-nav.html %}
    </div>

    <div class="user-menu">
      {% include blocks/user-menu.html %}
    </div>

    <main class="app__container">
      <header class="app-header cf">
        {% include blocks/app-header.html %}
      </header>

      <div class="app__document app__document--story">
        <div class="sticky__header__wrapper">
          <div class="document__visual-identifier">
            <span>Project</span>
          </div>
          <header class="document__header">
            <h2>Open UX improvments <span class="id">3452</span></h2>

            <div class="actions">
              <i class="process process--toggle"></i>
              <i class="media media--toggle"></i>
            </div>

            <!--
              <div class="actions">
                <i class="more"><span class="counter"></span></i>
                <i class="delete"></i>
                <i class="mail"><span class="counter"></span></i>
                <i class="print"></i>
                <i class="hourglass"></i>
                <i class="bookmark"></i>
                <i class="process process--toggle"></i>
                <i class="media media--toggle"></i>
              </div>
            -->

            <div class="status">
              <span>On schedule</span>
            </div>
          </header>
        </div>

        <div class="document__content">

          <div class="panel__left">
            {% include blocks/item-steps.html %}
          </div>

          <div class="panel__center">
            <div class="document__info-data cf">
              {% include blocks/document-data.html %}
            </div>
            <!-- /.document__info-data -->
          </div>

          <div class="panel__right">
            {% include blocks/document-comments.html %}
          </div>

        </div>
        <!-- /.document__content -->
      </div>
      <!-- /.app__document -->
    </main>
    <!-- //app__container -->

  </div>
  <!-- /.app -->

  {% include foot.html %}
</body>

</html>
