<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

  <title>{{ page.title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/sass/app.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.5.2/tailwind.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/sass/tailwind-extend.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/sass/components/buttons.css">
</head>

<body style="background-color: #FFF;">

  <section class="my-8 px-1/5 text-center">
    <a href="present" target="_blank" class="push push--go">Current</a>
    <a href="future" target="_blank" class="push push--go">Future</a>
  </section>

  <section class="my-8 px-1/5 text-center">
    <a href="selectors" target="_blank" class="push push--go">Selectors</a>
    <a href="itembox" target="_blank" class="push push--go">Table</a>
    <a href="font" target="_blank" class="push">Font config</a>
    <a href="tutorial" target="_blank" class="push">Tutorial</a>
  </section>

</body>
</html>
