<!DOCTYPE html>
<html lang="en-us" class="antialiased">

<head>
  {% include head.html %}
</head>

<body class="page-{{ page.title }}">
  <div class="overlay-body"></div>

  {{ content }}

  <!-- POPUPS -->
  {% include popups/multiSelector-columnpicker.html %}

  <div class="multiSelector" id="multiSelector-error">
    <div class="itemBox">
      <div class="itemBox__row">
        <ul class="itemBox__rowInner itemBox__rowInner--custom">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">
              <div class="note note--error">
                <p>Due date must be somewhere in the future.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include foot.html %}
</body>

</html>
