<!DOCTYPE html>
<html lang="en-us" class="antialiased">
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/sass/aaa-old-pmx.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/sass/aaa-old-pmx-temp.css">
    {% include head.html %}
  </head>

  <body>
    <div class="overlay-body"></div>
    {{ content }}

    <!-- POPUPS -->
    {% include popups/multiSelector-columnpicker.html %}
    {% include popups/popup-copy-clipboard.html %}

    {% include foot.html %}

    <!-- Libraries -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.stickytableheaders.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/jquery.sticky.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/sticky.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/toggle-panels.js"></script>

    <!-- Components -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/semsearch.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/tabs.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/breadcrumbs.js"></script>

    <!-- OLD COMPONENTS -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/pmx/old-pmx-tab.js"></script>
  </body>
</html>
