<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/sass/old-pmx.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/sass/old-pmx-temp.css">
    {% include head.html %}
  </head>

  <body>
    <div class="overlay"></div>
    {{ content }}

    {% include foot.html %}

    <!-- Sticky scroll -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/scroll.js"></script>
    <!-- toggle panels -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/plugin/toggle-panels.js"></script>
    <!-- tabs -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/components/tabs.js"></script>
    <!-- OLD COMPONENTS -->
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/pmx/old-pmx-multiselect.js"></script>
  </body>
</html>
