<!DOCTYPE html>
<html lang="en-us" class="antialiased">

<head>
  {% include head.html %}
</head>

<body class="page-{{ page.title }}">
  {% include components/toolbox-overlay.html %}

  {{ content }}

  {% comment %} POPUPS {% endcomment %}
  {% include popups/toolbox-modal-columnpicker.html %}

  <div class="toolbox-modal" id="toolbox-modal-error">
    <div class="toolbox-table">
      <div class="toolbox-table__row">
        <ul class="toolbox-table__rowInner toolbox-table__rowInner--custom">
          <li class="toolbox-table__cell">
            <div class="toolbox-table__cellInner">
              <div class="toolbox-note toolbox-note--error">
                <p>Due date must be somewhere in the future.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include foot.html %}
</body>

</html>
