<div class="colorSelector colorSelector--popup colorSelector--visible">
  <div class="itemBox">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
              <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
              <span class="pmx-selector__labelIcon" style="color: red;">܌</span>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
              <span class="pmx-selector__labelIcon" style="color: blue;">܌</span>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
              <span class="pmx-selector__labelIcon" style="color: yellow;">܌</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.itemBox -->
</div>
