<div class="multiSelector multiSelector--popup multiSelector--colorPicker" id="js_colorPickerPopup1">
  <div class="multiSelector__box">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: black;" data-color="black">܌</span>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: green;" data-color="green">܌</span>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: red;" data-color="red">܌</span>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: blue;" data-color="blue">܌</span>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: yellow;" data-color="yellow">܌</span>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: orange;" data-color="orange">܌</span>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <span class="pmx-selector__blockPrefix" style="color: hotpink;" data-color="hotpink">܌</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->

  </div>
</div>
