<div class="multiSelector multiSelector--popup multiSelector--colorPicker" id="js_colorPickerPopup1">
  <div class="multiSelector__box">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: black;" data-color="black">܌</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: green;" data-color="green">܌</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: red;" data-color="red">܌</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: blue;" data-color="blue">܌</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: yellow;" data-color="yellow">܌</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: orange;" data-color="orange">܌</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--color">
                <i class="itemBoxTable__action itemBoxTable__action--toggle" style="color: hotpink;" data-color="hotpink">܌</i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->

  </div>
</div>
