
<div class="multiSelector multiSelector--popup multiSelector--visible">

  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput" placeholder="filter through columns">
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box ">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow js_multiSelector__box--selectionTitle">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--selectedText">
                <i>Selected</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove js_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--remove js_itemBoxTable__action--removeAll js_itemBoxTable__action--removeAllSelected">ޅ</i>
              </div>
            </li>
          </ul>

          <div class="itemBox itemBox--children js_multiSelector__box--selectionChildren">
            <div class="itemBoxTable">
              <div class="itemBoxBody itemBoxBody--sortable ui-sortable">
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">
                      <span class="outer">
                        <span class="inner">
                      <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
                      My First tag
                    </span>
                      </span>
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.itemBox -->

          <ul class="itemBoxTable__bodyRow js_multiSelector__box--optionsTitle">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell " style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">

                <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect pmx-selector--required js_pmx-selector--incl-excl">
                  <div class="pmx-selector__value js_pmx-selector__value--include pmx-selector__value--selected">
                    <div class="pmx-selector__label ">
                      <span class="" style="">Include</span>
                    </div>
                  </div>
                  <div class="pmx-selector__value js_pmx-selector__value--exclude">
                    <div class="pmx-selector__label">
                      <span class="">Exclude</span>
                    </div>
                  </div>
                </div>

              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove js_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action js_itemBoxTable__action--removeAll itemBoxTable__action--remove">ޅ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add js_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add js_itemBoxTable__action--addAll">ބ</i>
              </div>
            </li>
          </ul>

          <div class="itemBox itemBox--children js_multiSelector__box--optionsChildren">
            <div class="itemBoxTable">
              <div class="itemBoxBody">
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">
                      <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
                      My First tag
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                    </div>
                  </li>
                </ul>
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">
                      <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
                      Milestone 20
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                    </div>
                  </li>
                </ul>
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">
                      <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
                      Prior Asap
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                    </div>
                  </li>
                </ul>
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">
                      <span class="pmx-selector__labelIcon" style="color: green;">܌</span>
                      Example tag
                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <!-- /.itemBox -->

        </div>
      </div>
    </div>
    <!-- /.itemBox -->

  </div>
  <!-- /.multiSelector__box -->

</div>
<!-- /.multiSelector -->
