<div class="multiSelector multiSelector--popup JS_multiSelector--withFilter" id="filter-datepicker">

  <div class="itemBox">
    <ul class="itemBox__row">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input type="search" class="itemBox__input itemBox__input--fluid JS_multiSelector__filterInput" placeholder="search through dates">
        </div>
      </li>
    </ul><!-- /.itemBox__row -->
  </div>

  <div class="itemBox JS_multiSelector__box">
    <ul class="itemBox__row itemBox__row--item JS_multiSelector__box--selectionTitle">
      <li class="itemBox__cell itemBox__cell--action JS_toggle">
        <div class="itemBox__cellInner">
          <div class="itemBox__action">ऄ Selected</div>
        </div>
      </li>
      <li class="itemBox__cell align-right">
        <div class="itemBox__cellInner">
          {% include javascript/and-or-selector.html %}
        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
        <div class="itemBox__cellInner">
          <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</div>
        </div>
      </li>
    </ul>

    <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildren">
      <div class="itemBoxBody--sortable ui-sortable">
        <ul class="itemBox__row itemBox__row--item JS_multiSelector__box--selectionTitleInclude">
          <li class="itemBox__cell itemBox__cell--action JS_toggle">
            <div class="itemBox__cellInner">
              <div class="itemBox__action">ऄ Include</div>
            </div>
          </li>
          <li class="itemBox__cell align-right">
            <div class="itemBox__cellInner">
              {% include javascript/and-or-selector.html %}
            </div>
          </li>
          <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
            <div class="itemBox__cellInner">
              <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</div>
            </div>
          </li>
        </ul>

        <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenInclude">
          <div class="itemBoxBody--sortableConnected itemBoxBody--sortableInclude ui-sortable">
            <ul class="itemBox__row itemBox__row--item JS_filterableCell JS_sortable">
              <li class="itemBox__cell">
                <div class="itemBox__cellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item pmx-selector__item--selected">
                      <div class="pmx-selector__block ">
                        <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">next 2 weeks (12/03/18-25/03/18)</div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
              <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
                <div class="itemBox__cellInner">
                  <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
                </div>
              </li>
            </ul>

            <ul class="itemBox__row itemBox__row--item JS_filterableCell">
              <li class="itemBox__cell">
                <div class="itemBox__cellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item pmx-selector__item--selected">
                      <div class="pmx-selector__block ">
                        <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">19/03/18-20/03/18</div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
              <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
                <div class="itemBox__cellInner">
                  <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <ul class="itemBox__row itemBox__row--item JS_multiSelector__box--selectionTitleExclude">
          <li class="itemBox__cell itemBox__cell--action JS_toggle">
            <div class="itemBox__cellInner">
              <div class="itemBox__action">ऄ Exclude</div>
            </div>
          </li>
          <li class="itemBox__cell align-right">
            <div class="itemBox__cellInner">
              {% include javascript/and-or-selector.html %}
            </div>
          </li>
          <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
            <div class="itemBox__cellInner">
              <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</div>
            </div>
          </li>
        </ul>

        <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenExclude">
          <div class="itemBoxBody--sortableConnected itemBoxBody--sortableExclude ui-sortable">
            <ul class="itemBox__row itemBox__row--item JS_filterableCell">
              <li class="itemBox__cell">
                <div class="itemBox__cellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item pmx-selector__item--selected">
                      <div class="pmx-selector__block ">
                        <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">today</div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
              <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
                <div class="itemBox__cellInner">
                  <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
                </div>
              </li>
            </ul>

            <ul class="itemBox__row itemBox__row--item JS_filterableCell">
              <li class="itemBox__cell">
                <div class="itemBox__cellInner">

                  <div class="pmx-selector pmx-selector--readonly">
                    <div class="pmx-selector__item pmx-selector__item--selected">
                      <div class="pmx-selector__block ">
                        <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">18/04/18</div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
              <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
                <div class="itemBox__cellInner">
                  <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->

    <ul class="itemBox__row itemBox__row--item JS_multiSelector__box--optionsTitle">
      <li class="itemBox__cell itemBox__cell--action JS_toggle">
        <div class="itemBox__cellInner">
          <div class="itemBox__action">अ All</div>
        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
        <div class="itemBox__cellInner">
          <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--removeAll JS_itemBox__action--remove">—</div>
        </div>
      </li>
    </ul>

    <div class="itemBox itemBox--children JS_multiSelector__box--optionsChildren">
      <ul class="itemBox__row">
        <li class="itemBox__cell itemBox__cell--action JS_toggle">
          <div class="itemBox__cellInner">
            <div class="itemBox__action">अ Smart Dates</div>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
          <div class="itemBox__cellInner">
            <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--removeAll JS_itemBox__action--remove">—</div>
          </div>
        </li>
      </ul>

      <div class="itemBox itemBox--children">
        <ul class="itemBox__row itemBox__row--item JS_filterableCell">
          <li class="itemBox__cell ">
            <div class="itemBox__cellInner ">

              {% include blocks/popup/include-exclude-selector.html selected="exclude"%}
              <div class="pmx-selector">
                <div class="pmx-selector__item pmx-selector__item--selected">
                  <div class="pmx-selector__block ">
                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">today</div>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
            <div class="itemBox__cellInner">
              <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
            </div>
          </li>
        </ul>
        {% include blocks/popup/ms-create-new.html %}
      </div>
      <!-- smart dates -->

      <ul class="itemBox__row">
        <li class="itemBox__cell itemBox__cell--action JS_toggle">
          <div class="itemBox__cellInner">
            <div class="itemBox__action">अ Simple Dates</div>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
          <div class="itemBox__cellInner">
            <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--removeAll JS_itemBox__action--remove">—</div>
          </div>
        </li>
      </ul>

      <div class="itemBox itemBox--children">
        <ul class="itemBox__row itemBox__row--item JS_filterableCell">
          <li class="itemBox__cell ">
            <div class="itemBox__cellInner ">

              {% include blocks/popup/include-exclude-selector.html selected="exclude"%}
              <div class="pmx-selector  JS_toggle--calendar">
                <div class="pmx-selector__item pmx-selector__item--selected">
                  <div class="pmx-selector__block ">
                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">18/04/18</div>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
            <div class="itemBox__cellInner">
              <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
            </div>
          </li>
        </ul>
        {% include blocks/popup/calendar/ms-calendar-sublist.html %}
        {% include blocks/popup/ms-create-new.html %}
      </div>
      <!-- simple dates -->

      <ul class="itemBox__row">
        <li class="itemBox__cell itemBox__cell--action JS_toggle">
          <div class="itemBox__cellInner">
            <div class="itemBox__action">अ Ranges</div>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
          <div class="itemBox__cellInner">
            <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--removeAll JS_itemBox__action--remove">—</div>
          </div>
        </li>
      </ul>

      <div class="itemBox itemBox--children">
        <ul class="itemBox__row itemBox__row--item JS_filterableCell">
          <li class="itemBox__cell">
            <div class="itemBox__cellInner">

              {% include blocks/popup/include-exclude-selector.html selected="include"%}
              <div class="pmx-selector">
                <div class="pmx-selector__item pmx-selector__item--selected">
                  <div class="pmx-selector__block ">
                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">19/03/18-20/03/18</div>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
            <div class="itemBox__cellInner">
              <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
            </div>
          </li>
        </ul>
        {% include blocks/popup/ms-create-new.html %}
      </div>
      <!-- ranges -->

      <ul class="itemBox__row">
        <li class="itemBox__cell itemBox__cell--action JS_toggle">
          <div class="itemBox__cellInner">
            <div class="itemBox__action">अ Next/Last</div>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
          <div class="itemBox__cellInner">
            <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--removeAll JS_itemBox__action--remove">—</div>
          </div>
        </li>
      </ul>

      <div class="itemBox itemBox--children">
        <ul class="itemBox__row itemBox__row--item JS_filterableCell">
          <li class="itemBox__cell ">
            <div class="itemBox__cellInner ">

              {% include blocks/popup/include-exclude-selector.html selected="include"%}
              <div class="pmx-selector">
                <div class="pmx-selector__item pmx-selector__item--selected">
                  <div class="pmx-selector__block ">
                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_text">next 2 weeks (12/03/18-25/03/18)</div>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll">
            <div class="itemBox__cellInner">
              <div class="itemBox__action itemBox__action--secondary JS_itemBox__action--remove">—</div>
            </div>
          </li>
        </ul>

        {% include blocks/popup/ms-create-new.html %}
      </div>
      <!-- next last dates -->
    </div>
    <!-- /.itemBox -->
  </div>
  <!-- /.itemBox -->

</div>
<!-- /.multiSelector -->
