<div class="toolbox-modal JS_toolbox-modal--withFilter" id="filter-datepicker">

  <div class="toolbox-table">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner">
            <input type="search" class="toolbox-table__input toolbox-table__input--fluid JS_toolbox-modal__filterInput" placeholder="search through dates">
          </div>
        </li>
      </ul>
      {% comment %} /.toolbox-table__rowInner {% endcomment %}
    </div>
  </div>

  <div class="toolbox-table JS_toolbox-table">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_selectionTitle">
        <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action JS_selectedText"> Selected</div>
          </div>
        </li>
        <li class="toolbox-table__cell text-right">
          <div class="toolbox-table__cellInner">
            {% include javascript/and-or-toolbox-selector.html %}
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove JS_toolbox-table__action--removeAll JS_toolbox-table__action--removeAllSelected"></div>
          </div>
        </li>
      </ul>

      <div class="toolbox-table JS_toolbox-table--children JS_selectionChildren">
        <div class="toolbox-tableBody--sortable ui-sortable">
          <div class="toolbox-table__row">
            <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_selectionTitleInclude">
              <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
                <div class="toolbox-table__cellInner">
                  <button class="toolbox-table__action"> Include</button>
                </div>
              </li>
              <li class="toolbox-table__cell text-right">
                <div class="toolbox-table__cellInner">
                  {% include javascript/and-or-toolbox-selector.html %}
                </div>
              </li>
              <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                <div class="toolbox-table__cellInner">
                  <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove JS_toolbox-table__action--removeAll JS_toolbox-table__action--removeAllSelected"></div>
                </div>
              </li>
            </ul>

            <div class="toolbox-table JS_toolbox-table--children JS_selectionChildrenInclude">
              <div class="toolbox-tableBody--sortableConnected toolbox-tableBody--sortableInclude ui-sortable">
                <div class="toolbox-table__row">
                  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell JS_sortable">
                    <li class="toolbox-table__cell">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__value">
                          {% include components/toolbox-selector.html toolboxSelectorData=",,,next 2 weeks (12/03/18-25/03/18)" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}

                        </div>
                      </div>
                    </li>
                    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="toolbox-table__row">
                  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                    <li class="toolbox-table__cell">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__value">
                          {% include components/toolbox-selector.html toolboxSelectorData=",,,19/03/18-20/03/18" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}
                        </div>
                      </div>
                    </li>
                    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="toolbox-table__row">
            <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_selectionTitleExclude">
              <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
                <div class="toolbox-table__cellInner">
                  <button class="toolbox-table__action"> Exclude</button>
                </div>
              </li>
              <li class="toolbox-table__cell text-right">
                <div class="toolbox-table__cellInner">
                  {% include javascript/and-or-toolbox-selector.html %}
                </div>
              </li>
              <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                <div class="toolbox-table__cellInner">
                  <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove JS_toolbox-table__action--removeAll JS_toolbox-table__action--removeAllSelected"></div>
                </div>
              </li>
            </ul>

            <div class="toolbox-table JS_toolbox-table--children JS_selectionChildrenExclude">
              <div class="toolbox-tableBody--sortableConnected toolbox-tableBody--sortableExclude ui-sortable">
                <div class="toolbox-table__row">
                  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                    <li class="toolbox-table__cell">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__value">
                          {% include components/toolbox-selector.html toolboxSelectorData=",,,today" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}

                        </div>
                      </div>
                    </li>
                    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="toolbox-table__row">
                  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                    <li class="toolbox-table__cell">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__value">
                          {% include components/toolbox-selector.html toolboxSelectorData=",,,18/04/18" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}

                        </div>
                      </div>
                    </li>
                    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} /.toolbox-table {% endcomment %}
    </div>
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_optionsTitle">
        <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
          <div class="toolbox-table__cellInner">
            <button class="toolbox-table__action"> All</button>
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
          </div>
        </li>
      </ul>

      <div class="toolbox-table JS_toolbox-table--children JS_optionsChildren">
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
            <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
              <div class="toolbox-table__cellInner">
                <button class="toolbox-table__action"> Smart Dates</button>
              </div>
            </li>
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
              </div>
            </li>
          </ul>

          <div class="toolbox-table JS_toolbox-table--children">
            <div class="toolbox-table__row">
              <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                <li class="toolbox-table__cell ">
                  <div class="toolbox-table__cellInner ">
                    <div class="toolbox-table__value">

                      {% include blocks/popup/toolbox-selector-include-exclude.html selected="exclude"%}
                      {% include components/toolbox-selector.html toolboxSelectorData=",,,today" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}
                    </div>
                  </div>
                </li>
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                  </div>
                </li>
              </ul>
            </div>{% include blocks/popup/ms-row-create-new.html %}
          </div>
          {% comment %} smart dates {% endcomment %}
        </div>
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
            <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
              <div class="toolbox-table__cellInner">
                <button class="toolbox-table__action"> Simple Dates</button>
              </div>
            </li>
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
              </div>
            </li>
          </ul>

          <div class="toolbox-table JS_toolbox-table--children">
            <div class="toolbox-table__row">
              <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                <li class="toolbox-table__cell ">
                  <div class="toolbox-table__cellInner ">
                    <div class="toolbox-table__value">

                      {% include blocks/popup/toolbox-selector-include-exclude.html selected="exclude"%}
                      <div class="toolbox-selector toolbox-selector--expanded JS_toggle--calendar">
                        <div class="toolbox-selector__item JS_toolbox-selectorItem--active toolbox-selector__item--selected">
                          <div class="toolbox-selector__block">
                            <div class="toolbox-selector__blockPart toolbox-selector__blockPart--field JS_text">18/04/18</div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </li>
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                  </div>
                </li>
              </ul>
              {% include blocks/popup/calendar/ms-sublist-calendar.html %} {% include blocks/popup/ms-row-create-new.html %}
            </div>
          </div>
          {% comment %} simple dates {% endcomment %}
        </div>
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
            <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
              <div class="toolbox-table__cellInner">
                <button class="toolbox-table__action"> Ranges</button>
              </div>
            </li>
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
              </div>
            </li>
          </ul>

          <div class="toolbox-table JS_toolbox-table--children">
            <div class="toolbox-table__row">
              <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                <li class="toolbox-table__cell">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__value">

                      {% include blocks/popup/toolbox-selector-include-exclude.html selected="include"%} {% include components/toolbox-selector.html toolboxSelectorData=",,,19/03/18-20/03/18" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}

                    </div>
                  </div>
                </li>
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                  </div>
                </li>
              </ul>
            </div>
            {% include blocks/popup/ms-row-create-new.html %}
          </div>
          {% comment %} ranges {% endcomment %}
        </div>
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
            <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
              <div class="toolbox-table__cellInner">
                <button class="toolbox-table__action"> Next/Last</button>
              </div>
            </li>
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
              </div>
            </li>
          </ul>

          <div class="toolbox-table JS_toolbox-table--children">
            <div class="toolbox-table__row">
              <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
                <li class="toolbox-table__cell ">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__value">

                      {% include blocks/popup/toolbox-selector-include-exclude.html selected="include"%}
                      {% include components/toolbox-selector.html toolboxSelectorData=",,,next 2 weeks (12/03/18-25/03/18)" expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}

                    </div>
                  </div>
                </li>
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                  </div>
                </li>
              </ul>
            </div>
            {% include blocks/popup/ms-row-create-new.html %}
          </div>
          {% comment %} next last dates {% endcomment %}
        </div>
      </div>
      {% comment %} /.toolbox-table {% endcomment %}
    </div>
  </div>
  {% comment %} /.toolbox-table {% endcomment %}

</div>
{% comment %} /.toolbox-modal {% endcomment %}
