<div class="multiSelector multiSelector--popup JS_multiSelector--withFilter" id="filter-tagpicker">

  <div class="itemBox">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow">
          <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">

              <input type="search" class="JS_multiSelector__filterInput" placeholder="search through items">

            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--action" style="flex-grow: 0;" data-flex="0">
            <div class="itemBoxTable__bodyCellInner">

              <i class="itemBoxTable__action">ञ</i>

            </div>
          </li>
        </ul>
        <!-- /.itemBoxTable__bodyRow -->
      </div>
    </div>
  </div>

  <div class="itemBox JS_multiSelector__box">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow JS_multiSelector__box--selectionTitle">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action--toggle">ऄ Selected</i>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--align-right" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              {% include javascript/and-or-selector.html %}
            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">—</i>
            </div>
          </li>
        </ul>

        <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildren">
          <div class="itemBoxTable">
            <div class="itemBoxBody itemBoxBody--sortable ui-sortable">
              <ul class="itemBoxTable__bodyRow JS_multiSelector__box--selectionTitleInclude">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action--toggle">ऄ Include</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--align-right" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    {% include javascript/and-or-selector.html %}
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">—</i>
                  </div>
                </li>
              </ul>

              <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenInclude">
                <div class="itemBoxTable">
                  <div class="itemBoxBody itemBoxBody--sortableConnected itemBoxBody--sortableInclude ui-sortable">
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell " style="flex-grow: 6;" data-flex="6">
                        <div class="itemBoxTable__bodyCellInner ">


                              <div class="pmx-selector pmx-selector--readonly">
                                <div class="pmx-selector__item">
                                  <div class="pmx-selector__block">
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #00bfff;" data-color="#00bfff">ग़</div>
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Design</div>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell " style="flex-grow: 6;" data-flex="6">
                        <div class="itemBoxTable__bodyCellInner ">


                              <div class="pmx-selector pmx-selector--readonly">
                                <div class="pmx-selector__item">
                                  <div class="pmx-selector__block">
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #0bda51;" data-color="#0bda51">ग़</div>
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Marketing</div>
                                  </div>
                                </div>
                              </div>


                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <ul class="itemBoxTable__bodyRow JS_multiSelector__box--selectionTitleExclude">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action--toggle">ऄ Exclude</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--align-right" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    {% include javascript/and-or-selector.html %}
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">—</i>
                  </div>
                </li>
              </ul>

              <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildrenExclude">
                <div class="itemBoxTable">
                  <div class="itemBoxBody itemBoxBody--sortableConnected itemBoxBody--sortableExclude ui-sortable">
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell " style="flex-grow: 6;" data-flex="6">
                        <div class="itemBoxTable__bodyCellInner ">


                              <div class="pmx-selector pmx-selector--readonly">
                                <div class="pmx-selector__item">
                                  <div class="pmx-selector__block">
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #f4ca16;" data-color="#f4ca16">ग़</div>
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Front-end</div>
                                  </div>
                                </div>
                              </div>


                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                        </div>
                      </li>
                    </ul>


                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell " style="flex-grow: 6;" data-flex="6">
                        <div class="itemBoxTable__bodyCellInner ">

                              <div class="pmx-selector pmx-selector--readonly">
                                <div class="pmx-selector__item">
                                  <div class="pmx-selector__block">
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #e30022;" data-color="#e30022">ग़</div>
                                    <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Back-end</div>
                                  </div>
                                </div>
                              </div>

                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.itemBox -->

        <ul class="itemBoxTable__bodyRow JS_multiSelector__box--optionsTitle">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action--toggle">अ All</i>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action JS_itemBoxTable__action--removeAll itemBoxTable__action--remove">—</i>
            </div>
          </li>
        </ul>

        <div class="itemBox itemBox--children JS_multiSelector__box--optionsChildren">
          <div class="itemBoxTable">
            <div class="itemBoxBody">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell JS_incl-excl-trigger" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--inclexcltoggle">
                        {% include blocks/popup/ms-included-toggle.html %}
                        <div class="pmx-selector pmx-selector--readonly">
                          <div class="pmx-selector__item">
                            <div class="pmx-selector__block">
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #00bfff;" data-color="#00bfff">ग़</div>
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Design</div>
                            </div>
                          </div>
                        </div>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                  </div>
                </li>
              </ul>
              {% include blocks/popup/ms-tags-filter-sublist.html %}

              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell JS_incl-excl-trigger" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--inclexcltoggle">
                        {% include blocks/popup/ms-included-toggle.html %}
                        <div class="pmx-selector pmx-selector--readonly">
                          <div class="pmx-selector__item">
                            <div class="pmx-selector__block">
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #0bda51;" data-color="#0bda51">ग़</div>
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Marketing</div>
                            </div>
                          </div>
                        </div>


                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                  </div>
                </li>
              </ul>

              {% include blocks/popup/ms-tags-filter-sublist.html %}

              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell JS_incl-excl-trigger" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--inclexcltoggle">
                        {% include blocks/popup/ms-excluded-toggle.html %}
                        <div class="pmx-selector pmx-selector--readonly">
                          <div class="pmx-selector__item">
                            <div class="pmx-selector__block">
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #f4ca16;" data-color="#f4ca16">ग़</div>
                              <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Front-end</div>
                            </div>
                          </div>
                        </div>


                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                  </div>
                </li>
              </ul>

              {% include blocks/popup/ms-tags-filter-sublist.html %}

              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell JS_incl-excl-trigger" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--inclexcltoggle">
                    {% include blocks/popup/ms-excluded-toggle.html %}
                    <div class="pmx-selector pmx-selector--readonly">
                      <div class="pmx-selector__item">
                        <div class="pmx-selector__block">
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--prefix JS_Color JS_Color--prefix" style="background-color: #E30022;" data-color="#E30022">ग़</div>
                          <div class="pmx-selector__blockPart pmx-selector__blockPart--field JS_itemBoxTable__bodyCellInner--text">Back-end</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">—</i>
                  </div>
                </li>
              </ul>
              {% include blocks/popup/ms-tags-filter-sublist.html %}

            </div>
          </div>
        </div>
        <!-- /.itemBox -->
      </div>
    </div>
  </div>
  <!-- /.itemBox -->

</div>
<!-- /.multiSelector -->
