

<div class="multiSelector" id="multiSelector-privacy">
  <div class="itemBox">
    <ul class="itemBox__row itemBox__row--custom">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">

          <div class="note note--tooltip">
            <p>By selecting 'Agree' you have read and accepted TenForce's <a href="#" class="link link--primary">Privacy Policy</a>, concerning your personal data and how it is used.</p>
          </div>

        </div>
      </li>
    </ul>
  </div>
  <!-- /.itemBox -->
</div>
<!-- /.multiSelector -->
