<div class="multiSelector" id="multiSelector-tooltip">
  <div class="itemBox">
    <ul class="itemBox__row itemBox__row--custom">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">

          <div class="note note--info">
            <p>For fixed price projects and service requests (no timesheets): when you change the status to 'to be invoiced', please insert the exact amount that needs to be invoiced.</p>
          </div>

        </div>
      </li>
    </ul>
  </div>
  <!-- /.itemBox -->
</div>
<!-- /.multiSelector -->
