<div class="multiSelector multiSelector--popup" id="multiSelector-1">

    <div class="itemBox JS_multiSelector__boxx">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">

                    <input type="search" class="JS_multiSelector__filterInput" placeholder="filter through items">

                  </div>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="itemBox JS_multiSelector__box--optionsChildren">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow JS_filterableCell">
            <li class="itemBoxTable__bodyCell JS_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Not started</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow JS_filterableCell">
            <li class="itemBoxTable__bodyCell  JS_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Ongoing</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">✓</i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow JS_filterableCell">
            <li class="itemBoxTable__bodyCell  JS_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Done</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->

</div>
<!-- /.multiSelector -->
