<div class="multiSelector" id="multiSelector-1">

  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput" placeholder="filter through statuses">
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner">Not started</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell  itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner">Ongoing</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell  itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner">Done</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->
  </div>
</div>
</div>
<!-- /.itemBox -->

</div>
<!-- /.multiSelector__box -->

</div>
<!-- /.multiSelector -->
