<div class="multiSelector multiSelector--popup" id="multiSelector-columnpicker">

  <div class="itemBox JS_multiSelector__box">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                <div class="itemBoxTable__bodyCellInner">

                  <input type="search" class="JS_multiSelector__filterInput" placeholder="filter through items">

                </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--action" style="flex-grow: 0;" data-flex="0">
                <div class="itemBoxTable__bodyCellInner">

                  <i class="itemBoxTable__action">ञ</i>

                </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="itemBox JS_multiSelector__box">
    <div class="itemBoxTable">
      <div class="itemBoxBody">
        <ul class="itemBoxTable__bodyRow JS_multiSelector__box--selectionTitle">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action--toggle">ऄ Selected</i>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action itemBoxTable__action--remove JS_itemBoxTable__action--removeAll JS_itemBoxTable__action--removeAllSelected">ޅ</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children JS_multiSelector__box--selectionChildren">
          <div class="itemBoxTable">
            <div class="itemBoxBody itemBoxBody--sortable">
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Title
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Performed For
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                  </div>
                </li>
              </ul>
              <ul class="itemBoxTable__bodyRow JS_filterableCell">
                <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Assigned to
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.itemBox selection-->

        <ul class="itemBoxTable__bodyRow JS_multiSelector__box--optionsTitle">
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action--toggle">ऄ All</i>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action JS_itemBoxTable__action--removeAll itemBoxTable__action--remove">ޅ</i>
            </div>
          </li>
          <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add JS_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
            <div class="itemBoxTable__bodyCellInner">
              <i class="itemBoxTable__action itemBoxTable__action--add JS_itemBoxTable__action--addAll">ބ</i>
            </div>
          </li>
        </ul>
        <div class="itemBox itemBox--children JS_multiSelector__box--optionsChildren">
          <div class="itemBoxTable">
            <div class="itemBoxBody">
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action--toggle">अ Main attributes</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action JS_itemBoxTable__action--removeAll itemBoxTable__action--remove">ޅ</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add JS_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--add JS_itemBoxTable__action--addAll">ބ</i>
                  </div>
                </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody">
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Assigned to</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Attachments</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Child items</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Comments</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Description</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Due date</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Due text</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">List</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Nr</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Priority</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Solution</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Status</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Title</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.itemBox -->

              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action--toggle">अ Who is involved</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove JS_itemBoxTable__bodyCell--removeAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action JS_itemBoxTable__action--removeAll itemBoxTable__action--remove">ޅ</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add JS_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--add JS_itemBoxTable__action--addAll">ބ</i>
                  </div>
                </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody">
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Creator</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Last updated by</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Originator</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Performed by</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Performed for</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.itemBox -->
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class=" itemBoxTable__action--toggle">अ Tracking and tracing</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add JS_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--add JS_itemBoxTable__action--addAll">ބ</i>
                  </div>
                </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody">
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Created on</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Last updated</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Planned start</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Source date</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Source event</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Tag</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.itemBox -->
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class=" itemBoxTable__action--toggle">अ Time and effort</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add JS_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--add JS_itemBoxTable__action--addAll">ބ</i>
                  </div>
                </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody">
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Actual effort (hours)</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Effort</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">ETC</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                    <ul class="itemBoxTable__bodyRow JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Planned effort (hours)</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.itemBox -->
              <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action--toggle">अ Other</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add JS_itemBoxTable__bodyCell--addAll" style="flex-grow: 0;" data-flex="0">
                  <div class="itemBoxTable__bodyCellInner">
                    <i class="itemBoxTable__action itemBoxTable__action--add JS_itemBoxTable__action--addAll">ބ</i>
                  </div>
                </li>
              </ul>
              <div class="itemBox itemBox--children">
                <div class="itemBoxTable">
                  <div class="itemBoxBody">
                    <ul class="itemBoxTable__bodyRow  JS_filterableCell">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Design status</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.itemBox -->
            </div>
          </div>
        </div>
        <!-- /.itemBox options -->
      </div>
    </div>
  </div>
  <!-- /.itemBox -->

</div>
<!-- /.multiSelector -->
