<div class="multiSelector multiSelector--popup multiSelector--visible">
  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput" placeholder="filter through columns">
      <a href="#" class="multiSelector__searchIconAdv">ऍ</a>
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box ">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody itemBoxBody--sortable ui-sortable">
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">

                <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                  <div class="pmx-selector__value">
                    <div class="pmx-selector__block ">
                      <span class="pmx-selector__blockPrefix">ބ</span>
                      <span class="pmx-selector__blockLabel">Contain</span>
                      <span class="pmx-selector__blockField">Field</span>
                    </div>
                  </div>
                </div>
                <!-- /.pmx-selector -->

              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
              </div>
            </li>
          </ul>

          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">

                <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                  <div class="pmx-selector__value">
                    <div class="pmx-selector__block ">
                      <span class="pmx-selector__blockPrefix">−</span>
                      <span class="pmx-selector__blockLabel">Contain</span>
                      <span class="pmx-selector__blockField">Field</span>
                    </div>
                  </div>
                </div>
                <!-- /.pmx-selector -->

              </div>
            </li>

            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>

          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">

                <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                  <div class="pmx-selector__value">
                    <div class="pmx-selector__block ">
                      <span class="pmx-selector__blockPrefix">−</span>
                      <span class="pmx-selector__blockLabel">Contain</span>
                      <span class="pmx-selector__blockField">Field</span>
                    </div>
                  </div>
                </div>
                <!-- /.pmx-selector -->

              </div>
            </li>

            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->

  </div>
  <!-- /.multiSelector__box -->
</div>
<!-- /.multiSelector -->




<div class="multiSelector multiSelector--popup multiSelector--visible">
  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput" placeholder="filter through columns">
      <a href="#" class="multiSelector__searchIconAdv">ऍ</a>
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box ">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">

          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action">ބ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                Lorem ipsum
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                Dolor sit amet
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
              </div>
            </li>
          </ul>

          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action">−</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                Lorem ipsum
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                Dolor sit amet
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>

          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action">−</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                Lorem ipsum
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner">
                Dolor sit amet
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- /.itemBox -->

  </div>
  <!-- /.multiSelector__box -->
</div>
<!-- /.multiSelector -->




<div class="multiSelector multiSelector--popup multiSelector--visible">

  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput" placeholder="filter through columns">
      <a href="#" class="multiSelector__searchIconAdv multiSelector__searchIconAdv--active">ऍ</a>
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box ">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--selectedText">
                <i>Selected</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--removeSelected">ޅ</i>
              </div>
            </li>
          </ul>

          <div class="itemBox itemBox--children">
            <div class="itemBoxTable">
              <div class="itemBoxBody itemBoxBody--sortable ui-sortable">
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__block ">
                            <span class="pmx-selector__blockPrefix">+</span>
                            <span class="pmx-selector__blockLabel">Contain</span>
                            <span class="pmx-selector__blockField">Field</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.pmx-selector -->

                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                    </div>
                  </li>
                </ul>

                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__block ">
                            <span class="pmx-selector__blockPrefix">−</span>
                            <span class="pmx-selector__blockLabel">Contain</span>
                            <span class="pmx-selector__blockField">Field</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.pmx-selector -->

                    </div>
                  </li>

                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.itemBox -->

          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--toggle">ऄ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner itemBoxTable__bodyCellInner--selectedText">
                <i>All</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--removeSelected">ޅ</i>
              </div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>

          <div class="itemBox itemBox--children">
            <div class="itemBoxTable">
              <div class="itemBoxBody">
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__block ">
                            <span class="pmx-selector__blockPrefix">ބ</span>
                            <span class="pmx-selector__blockLabel">Contain</span>
                            <span class="pmx-selector__blockField">Field</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.pmx-selector -->

                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                    </div>
                  </li>
                </ul>
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__block ">
                            <span class="pmx-selector__blockPrefix">ބ</span>
                            <span class="pmx-selector__blockLabel">Contain</span>
                            <span class="pmx-selector__blockField">Field</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.pmx-selector -->

                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                    </div>
                  </li>
                </ul>
                <ul class="itemBoxTable__bodyRow">
                  <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__block ">
                            <span class="pmx-selector__blockPrefix">ބ</span>
                            <span class="pmx-selector__blockLabel">Contain</span>
                            <span class="pmx-selector__blockField">Field</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.pmx-selector -->

                    </div>
                  </li>
                  <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner">
                      <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.itemBox -->

        </div>
      </div>
    </div>
    <!-- /.itemBox -->

  </div>
  <!-- /.multiSelector__box -->

</div>
<!-- /.multiSelector -->
