<div class="multiSelector multiSelector--popup" id="multiSelector-1">

    <div class="pmx-field-handlers">
      <div class="pmx-field-handlers__errors">
      </div>
      <div class="pmx-field-handlers__actions">
      </div>
      <div class="pmx-field-handlers__tooltip">
        <p>Actual invoice amount</p>
        <p>For fixed price projects and service requests (no timesheets): when you change the status to 'to be invoiced', please insert the exact amount that needs to be invoiced.</p>
      </div>
    </div>

    <div class="itemBox JS_multiSelector__box">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell" style="flex-grow: 1;" data-flex="1">
                  <div class="itemBoxTable__bodyCellInner">

                    <input type="search" class="JS_multiSelector__filterInput" placeholder="filter through items">

                  </div>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="itemBox JS_multiSelector__box--optionsChildren">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow JS_filterableCell">
            <li class="itemBoxTable__bodyCell JS_itemBoxTable__bodyCell--text" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Not started</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow JS_filterableCell">
            <li class="itemBoxTable__bodyCell  JS_itemBoxTable__bodyCell--text" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Ongoing</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">✓</i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow JS_filterableCell">
            <li class="itemBoxTable__bodyCell  JS_itemBoxTable__bodyCell--text" style="flex-grow: 1;" data-flex="1">
              <div class="itemBoxTable__bodyCellInner JS_itemBoxTable__bodyCellInner--text">Done</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add">ބ</i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->

</div>
<!-- /.multiSelector -->
