<div class="multiSelector multiSelector--popup" id="multiSelector-1">

  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput js_multiSelector__filterInput" placeholder="filter through items">
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box">

    <div class="itemBox js_multiSelector__box--optionsChildren">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow js_filterableCell">
            <li class="itemBoxTable__bodyCell js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">Not started</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow js_filterableCell">
            <li class="itemBoxTable__bodyCell  js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">Ongoing</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow js_filterableCell">
            <li class="itemBoxTable__bodyCell  js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner js_itemBoxTable__bodyCellInner--text">Done</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->
  </div>
</div>
</div>
<!-- /.itemBox -->

</div>
<!-- /.multiSelector__box -->

</div>
<!-- /.multiSelector -->
