<div class="multiSelector multiSelector--popup" id="multiSelector-3">

  <div class="multiSelector__box">

    <div class="multiSelector__search">
      <input type="search" class="multiSelector__searchInput js_multiSelector__filterInput" placeholder="filter through items">
    </div>

  </div>
  <!-- /.multiSelector__box -->

  <div class="multiSelector__box">

      <div class="itemBox">
        <div class="itemBoxTable">
          <div class="itemBoxBody">
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--toggle" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner ">
                    <i>ऄ Selected</i>
                  </div>
                </li>
                <li class="itemBoxTable__bodyCell" style="flex-grow: 0;" data-flex="0">
                    <div class="itemBoxTable__bodyCellInner"></div>
                </li>
            </ul>
            <div class="itemBox itemBox--children">
              <div class="itemBoxTable">
                <div class="itemBoxBody itemBoxBody--sortable ui-sortable">
                  <ul class="itemBoxTable__bodyRow">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner">Squad X</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                        </div>
                      </li>
                  </ul>
                  <ul class="itemBoxTable__bodyRow">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner">Squad Y</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                        </div>
                      </li>
                  </ul>
                  <ul class="itemBoxTable__bodyRow">
                      <li class="itemBoxTable__bodyCell" style="flex-grow: 1;">
                        <div class="itemBoxTable__bodyCellInner">Squad Z</div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--draggable ui-sortable-handle" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--drag">އ</i>
                        </div>
                      </li>
                      <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--remove" style="flex-grow: 0;" data-flex="0">
                        <div class="itemBoxTable__bodyCellInner">
                          <i class="itemBoxTable__action itemBoxTable__action--remove">ޅ</i>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div><!-- /.itemBox -->
          </div>
        </div>
      </div><!-- /.itemBox -->

  </div>

  <div class="multiSelector__box">

    <div class="itemBox">
      <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner">Squad A</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell  js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner">Squad B</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
          <ul class="itemBoxTable__bodyRow">
            <li class="itemBoxTable__bodyCell  js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
              <div class="itemBoxTable__bodyCellInner">Squad C</div>
            </li>
            <li class="itemBoxTable__bodyCell itemBoxTable__bodyCell--add" style="flex-grow: 0;" data-flex="0">
              <div class="itemBoxTable__bodyCellInner">
                <i class="itemBoxTable__action itemBoxTable__action--add"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->
  </div>
</div>
</div>
<!-- /.itemBox -->

</div>
<!-- /.multiSelector__box -->

</div>
<!-- /.multiSelector -->
