<div class="multiSelector JS_multiSelector--withFilter" id="new-multiselect" style="width: 50%;">

  <div class="itemBox">
    <ul class="itemBox__row">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input type="search" class="itemBox__input itemBox__input--fluid JS_multiSelector__filterInput" placeholder="search through items">
        </div>
      </li>
    </ul><!-- /.itemBox__row -->
  </div>

  <div class="itemBox JS_itemBox">
    <ul class="itemBox__row itemBox__row--item JS_selectionTitle">
      <li class="itemBox__cell itemBox__cell--action JS_toggle">
        <div class="itemBox__cellInner">
          <div class="itemBox__action">ऄ Selected</div>
        </div>
      </li>
      <li class="itemBox__cell align-right">
        <div class="itemBox__cellInner">
          {% include javascript/and-or-selector.html %}
        </div>
      </li>
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll JS_itemBox__action">
        <div class="itemBox__cellInner">
          <div class="itemBox__action JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</div>
        </div>
      </li>
    </ul>
    <div class="itemBox JS_itemBox--children JS_selectionChildren">
      <div class="itemBoxBody--sortable ui-sortable">
        <ul class="itemBox__row itemBox__row--item JS_selectionTitleInclude">
          <li class="itemBox__cell itemBox__cell--action JS_toggle">
            <div class="itemBox__cellInner">
              <div class="itemBox__action">ऄ Include</div>
            </div>
          </li>
          <li class="itemBox__cell align-right">
            <div class="itemBox__cellInner">
              {% include javascript/and-or-selector.html %}
            </div>
          </li>
          <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll JS_itemBox__action">
            <div class="itemBox__cellInner">
              <div class="itemBox__action JS_itemBox__action--remove JS_itemBox__action--removeAll JS_itemBox__action--removeAllSelected">—</div>
            </div>
          </li>
        </ul>
        <div class="itemBox JS_itemBox--children JS_selectionChildrenInclude">
          <div class="itemBoxBody--sortableConnected itemBoxBody--sortableInclude ui-sortable">
            {% for item in site.data.newmultiselect.selected.included %}
              <ul class="itemBox__row JS_filterableCell">
              <li class="itemBox__cell flex-grow-6">
                <div class="itemBox__cellInner ">
                  <div class="itemBox__value">

                    <div class="selector selector--readonly">
                      <div class="selector__item">
                        <div class="selector__block">
                          <div class="selector__blockPart selector__blockPart--field JS_text">{{item}}</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--draggable ui-sortable-handle JS_itemBox__cell--draggable">
                <div class="itemBox__cellInner">
                  <div class="itemBox__action itemBox__action--drag">އ</div>
                </div>
              </li>
              <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__action">
                <div class="itemBox__cellInner">
                  <div class="itemBox__action JS_itemBox__action--remove">—</div>
                </div>
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /.itemBox -->
    <ul class="itemBox__row itemBox__row--item JS_optionsTitle">
      <li class="itemBox__cell itemBox__cell--action JS_toggle">
        <div class="itemBox__cellInner">
          <div class="itemBox__action">ऄ All</div>
        </div>
      </li>
      <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__cell--removeAll JS_itemBox__action">
        <div class="itemBox__cellInner">
          <div class="itemBox__action JS_itemBox__action--removeAll JS_itemBox__action--remove">—</div>
        </div>
      </li>
    </ul>
    <div class="itemBox JS_itemBox--children JS_optionsChildren" style="display: block;">
      {% for item in site.data.newmultiselect.options %}
      <ul class="itemBox__row itemBox__row--item JS_filterableCell JS_children-closed">
        <li class="itemBox__cell ">
          <div class="itemBox__cellInner ">
            <div class="itemBox__value">

              {% include blocks/popup/include-exclude-selector.html selected="include"%}
              <div class="selector selector--readonly">
                <div class="selector__item">
                  <div class="selector__block">
                    <div class="selector__blockPart selector__blockPart--field JS_text">{{item.name}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </li>
        {% if item.selected == "true" %}
          <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--remove JS_itemBox__action">
            <div class="itemBox__cellInner">
              <div class="itemBox__action JS_itemBox__action--remove">—</div>
            </div>
          </li>
        {% else %}
          <li class="itemBox__cell flex-grow-0 itemBox__cell--action JS_itemBox__cell--add JS_itemBox__action">
            <div class="itemBox__cellInner">
              <div class="itemBox__action JS_itemBox__action--add">ބ</div>
            </div>
          </li>
        {% endif %}
      </ul>
      {% endfor %}
    </div><!-- /.itemBox -->
  </div><!-- /.itemBox -->
</div>
