<div class="newpickercontent-wrapper old-multiselect-popup old-multiselect-popup--hidden" style="right: -10px;">
  <div class="newpickercontent-container">
    <div class="newpickercontent">
      <div id="tabs" class="old-multiselect-tabs">

        <div class="pmx-selector  JS_selector pmx-selector--expanded pmx-selector--toggleSelect pmx-selector--required JS_pmx-selector--incl-excl JS_pmx-selector--old">
          <div class="pmx-selector__item JS_selectorItem JS_pmx-selector__item--include pmx-selector__item--selected">
            <div class="pmx-selector__block ">
              <span class="" style="">Include</span>
            </div>
          </div>
          <div class="pmx-selector__item JS_selectorItem JS_pmx-selector__item--exclude">
            <div class="pmx-selector__block">
              <span class="">Exclude</span>
            </div>
          </div>
        </div>

      </div>
      <div class="old-multiselect-tab">
        <p class="inlinesearch"><input type="text" placeholder="Search..." class="text empty"></p>
        <!-- inlinesearch -->
        <ul class="monsterlist" id="itemlist" style="height: 207px;">
          <li id="itemid237696" class=""><label class="selectable"><span class="inner"><div class="checker"><span><input type="checkbox" style="opacity: 0;"></span></div>Unassigned</span></label></li>
          <li id="groupid237668" class="open "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">My unit</span></label>
            <ul>
              <li id="itemid237669" class="selected"><label class="selectable"><span class="inner"><div class="checker"><span class="checked"><input type="checkbox" style="opacity: 0;"></span></div>Arnaud S'Jongers</span></label></li>
              <li id="itemid237670" class="selected"><label class="selectable"><span class="inner"><div class="checker"><span class="checked"><input type="checkbox" style="opacity: 0;"></span></div>Esteban Sastre</span></label></li>
              <li id="itemid237671" class="selected"><label class="selectable active"><span class="inner"><div class="checker"><span class="checked"><input type="checkbox" style="opacity: 0;"></span></div>Jonathan Langens</span></label></li>
              <li id="itemid237672" class=""><label class="selectable"><span class="inner"><div class="checker"><span><input type="checkbox" style="opacity: 0;"></span></div>Martin Toshev</span></label></li>
              <li id="itemid237673" class=""><label class="selectable"><span class="inner"><div class="checker"><span><input type="checkbox" style="opacity: 0;"></span></div>Nathaniel Rudavsky-Brody</span></label></li>
              <li id="itemid237674" class=""><label class="selectable"><span class="inner"><div class="checker"><span><input type="checkbox" style="opacity: 0;"></span></div>Nóra Szepes</span></label></li>
              <li id="itemid237675" class=""><label class="selectable"><span class="inner"><div class="checker"><span><input type="checkbox" style="opacity: 0;"></span></div>Vincent Goossens</span></label></li>
              <li id="itemid237676" class=""><label class="selectable"><span class="inner"><div class="checker"><span><input type="checkbox" style="opacity: 0;"></span></div>Ward Delabastita</span></label></li>
            </ul>
          </li>
          <li id="groupid237677" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Commercial</span></label></li>
          <li id="groupid237678" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Finance &amp;Administration</span></label></li>
          <li id="groupid237679" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: .Net back-end</span></label></li>
          <li id="groupid237680" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: Customer Support</span></label></li>
          <li id="groupid237681" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: Customization</span></label></li>
          <li id="groupid237682" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: Design</span></label></li>
          <li id="groupid237683" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: DevOps</span></label></li>
          <li id="groupid237684" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: Infrastructure</span></label></li>
          <li id="groupid237685" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: PM's &amp; Architects</span></label></li>
          <li id="groupid237686" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: QA &amp; Data</span></label></li>
          <li id="groupid237687" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: Tactical</span></label></li>
          <li id="groupid237688" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Operations: Web &amp; Mobile</span></label></li>
          <li id="groupid237690" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">pmX Projects</span></label></li>
          <li id="groupid237692" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">Prof services &amp; development</span></label></li>
          <li id="groupid237694" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">TenForce</span></label></li>
          <li id="groupid237695" class="closed "><label class="nonselectable"><div class="selector"><a class="all">Select All</a> | <a class="none">None</a></div><span class="inner">(Other)</span></label></li>
        </ul>
        <!-- monsterlist -->
      </div>
    </div>
  </div>
</div>
