<div class="modal" id="ms-copy-success">
  <div class="itemBox">
    <div class="itemBox__row">
      <ul class="itemBox__rowInner itemBox__rowInner--custom">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">
            <div class="note">
              <p>Item details copied to the clipboard.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="modal" id="ms-copy-error">
  <div class="itemBox">
    <div class="itemBox__row">
      <ul class="itemBox__rowInner itemBox__rowInner--custom">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner">
            <div class="note note--error">
              <p>Error while copying to clipboard.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
