<div class="toolbox-modal" id="ms-copy-success">
  <div class="toolbox-table">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--custom">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner">
            <div class="note">
              <p>Item details copied to the clipboard.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="toolbox-modal" id="ms-copy-error">
  <div class="toolbox-table">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--custom">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner">
            <div class="note note--error">
              <p>Error while copying to clipboard.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
