<div class="multiSelector" id="ms-copy-success">
  <div class="itemBox">
    <ul class="itemBox__row itemBox__row--custom">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <div class="note">
            <p>Item details copied to the clipboard.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="multiSelector" id="ms-copy-error">
  <div class="itemBox">
    <ul class="itemBox__row itemBox__row--custom">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <div class="note note--error">
            <p>Error while copying to clipboard.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
