<div class="multiSelector multiSelector--popup multiSelector--popup-semsearch JS_semsearch-1">

  <div class="itemBox">
    <ul class="itemBox__row">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">

          <input type="search" class="itemBox__input itemBox__input--fluid JS_multiSelector__filterInput" placeholder="search through items">

        </div>
      </li>
      <li class="itemBox__cell itemBox__cell--flex0 itemBox__cell--action">
        <div class="itemBox__cellInner">
          <div class="itemBox__action">ञ</div>
        </div>
      </li>
    </ul>
  </div><!-- /.itemBox -->

  <div class="itemBox">
    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <div class="itemBox__value">

            <div class="selector selector--readonly">
              <div class="selector__item">
                <div class="selector__block">
                  <span class="selector__blockPart selector__blockPart--label">Any</span>
                  <span class="selector__blockSeperator"></span>
                  <span class="selector__blockPart selector__blockPart--field">Typed keyword</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </li>
    </ul>

    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <div class="itemBox__value">

            <div class="selector selector--readonly">
              <div class="selector__item">
                <div class="selector__block">
                  <span class="selector__blockPart selector__blockPart--label">title</span>
                  <span class="selector__blockSeperator"></span>
                  <span class="selector__blockPart selector__blockPart--field">Enhance logon formula for listly</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </li>
    </ul>

    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <div class="itemBox__value">

            <div class="selector selector--readonly">
              <div class="selector__item">
                <div class="selector__block">
                  <span class="selector__blockPart selector__blockPart--label">Assigned to</span>
                  <span class="selector__blockSeperator"></span>
                  <span class="selector__blockPart selector__blockPart--field">Nick De Jaeger</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </li>
    </ul>

    <ul class="itemBox__row itemBox__row--item">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <div class="itemBox__value">

            <div class="selector selector--readonly">
              <div class="selector__item">
                <div class="selector__block">
                  <span class="selector__blockPart selector__blockPart--label">Priority</span>
                  <span class="selector__blockSeperator"></span>
                  <span class="selector__blockPart selector__blockPart--field">Critical</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </li>
    </ul>
  </div><!-- /.itemBox -->

</div><!-- /.multiSelector -->
