<div class="multiSelector multiSelector--semsearch" data-popup="semsearch">
  <div class="itemBox">
    <div class="itemBoxFilter">
      <div class="itemBoxFilter__input">
        <input type="text" placeholder="filter through items">
      </div>
    </div>

    <div class="itemBoxTable">
        <div class="itemBoxBody">
          <ul class="itemBoxTable__bodyRow">
              <li class="itemBoxTable__bodyCell js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                  <div class="itemBoxTable__bodyCellInner">

                    <div class="pmx-selector">
                      <div class="pmx-selector__value">
                        <div class="pmx-selector__label ">
                          <span class="pmx-selector__labelType">Any •</span>
                          <span class="pmx-selector__labelField">Typed keyword</span>
                        </div>
                      </div>
                    </div>

                  </div>
              </li>
          </ul>
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__label ">
                            <span class="pmx-selector__labelType">Title •</span>
                            <span class="pmx-selector__labelField">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                          </div>
                        </div>
                      </div>

                    </div>
                </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell  js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__label ">
                            <span class="pmx-selector__labelType">Assigned to •</span>
                            <span class="pmx-selector__labelField">Nick De Jaeger</span>
                          </div>
                        </div>
                      </div>

                    </div>
                </li>
            </ul>
            <ul class="itemBoxTable__bodyRow">
                <li class="itemBoxTable__bodyCell  js_itemBoxTable__bodyCell--text" style="flex-grow: 1;">
                    <div class="itemBoxTable__bodyCellInner">

                      <div class="pmx-selector">
                        <div class="pmx-selector__value">
                          <div class="pmx-selector__label ">
                            <span class="pmx-selector__labelType">Priority •</span>
                            <span class="pmx-selector__labelField">dialog-wrapper</span>
                          </div>
                        </div>
                      </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /.itemBox -->
</div>
