<div class="multiSelector multiSelector--popup multiSelector--popup-breadcrumb " id="multiSelector-breadcrumb">

  <div class="itemBox JS_multiSelector__box">
    <ul class="itemBox__row">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">

          <input type="search" class="itemBox__input itemBox__input--fluid JS_multiSelector__filterInput" placeholder="filter through items">

        </div>
      </li>
    </ul>
  </div>

  <div class="itemBox JS_multiSelector__box--optionsChildren">
    {% for item in site.data.breadcrumb-popup.items %}
      <ul class="itemBox__row itemBox__row--item JS_filterableCell">
        <li class="itemBox__cell">
          <div class="itemBox__cellInner JS_text">{{item}}</div>
        </li>
      </ul>
    {% endfor %}
    {% include blocks/popup/ms-load-more.html %}
  </div>
  <!-- /.itemBox -->

</div>
<!-- /.multiSelector -->
