<div class="toolbox-modal JS_toolbox-modal--simpleText JS_toolbox-modal--textAction JS_toolbox-modal--resetFunctionality JS_toolbox-modal--columnpickerOptions" id="toolbox-modal-columnpicker">

  <div class="toolbox-table JS_toolbox-table">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner">
            <input type="search" class="toolbox-table__input toolbox-table__input--fluid JS_toolbox-modal__filterInput" placeholder="filter through columns">
          </div>
        </li>
      </ul>
      {% include blocks/popup/ms-row-reset-to-default.html%}
    </div>


    <div class="toolbox-table JS_toolbox-table">
      <div class="toolbox-table__row">
        <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_selectionTitle">
          <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
            <div class="toolbox-table__cellInner">
              <div class="toolbox-table__action JS_selectedText"> Selected</div>
            </div>
          </li>
          <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
            <div class="toolbox-table__cellInner">
              <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--removeAllSelected"></div>
            </div>
          </li>
        </ul>

        <div class="toolbox-table JS_toolbox-table--children JS_selectionChildren">
          <div class="JS_sortable">
            {% for selected in site.data.columnpicker.selected %}
            <div class="toolbox-table__row">
              <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell ">
                <li class="toolbox-table__cell JS_textAction">
                  <div class="toolbox-table__cellInner JS_text">
                    <div class="toolbox-table__value">{{selected}}</div>
                  </div>
                </li>
                {% include javascript/ms-toggle-columnpicker-option.html %}
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--draggable">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action">އ</div>
                  </div>
                </li>
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                  </div>
                </li>
              </ul>
              {% include blocks/popup/ms-sublist-options.html %}
            </div>
            {% endfor%}
          </div>
        </div>
        {% comment %} /.toolbox-table {% endcomment %}
      </div>
      <div class="toolbox-table__row">
        <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_optionsTitle">
          <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
            <div class="toolbox-table__cellInner">
              <button class="toolbox-table__action"> All</button>
            </div>
          </li>
          <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
            <div class="toolbox-table__cellInner">
              <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
            </div>
          </li>
          <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--add JS_toolbox-table__cell--addAll JS_toolbox-table__action">
            <div class="toolbox-table__cellInner">
              <div class="toolbox-table__action JS_toolbox-table__action--add JS_toolbox-table__action--addAll"></div>
            </div>
          </li>
        </ul>

        <div class="toolbox-table JS_toolbox-table--children JS_optionsChildren">
          {% for group in site.data.columnpicker.options.groups %}
            <div class="toolbox-table__row">
              <ul class="toolbox-table__rowInner toolbox-table__rowInner--item">
                <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
                  <div class="toolbox-table__cellInner">
                    <button class="toolbox-table__action">{{group.name}}</button>
                  </div>
                </li>
                {% if group.noneSelected == "false" %}
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
                  </div>
                </li>
                {% endif %} {% if group.allSelected == "false" %}
                <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--add JS_toolbox-table__cell--addAll JS_toolbox-table__action">
                  <div class="toolbox-table__cellInner">
                    <div class="toolbox-table__action JS_toolbox-table__action--add JS_toolbox-table__action--addAll"></div>
                  </div>
                </li>
                {% endif %}
              </ul>

              <div class="toolbox-table JS_toolbox-table--children JS_children-closed" style="display: none;">
                {% for item in group.items %}
                <div class="toolbox-table__row">
                  <ul class="toolbox-table__rowInner toolbox-table__rowInner--item toolbox-table__rowInner--action JS_filterableCell">
                    <li class="toolbox-table__cell JS_textAction">
                      <div class="toolbox-table__cellInner JS_text">
                        <div class="toolbox-table__value">{{item.name}}</div>
                      </div>
                    </li>
                    {% if item.selected == "true" %}
                    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__action">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                      </div>
                    </li>
                    {% else %}
                    <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--add JS_toolbox-table__action">
                      <div class="toolbox-table__cellInner">
                        <div class="toolbox-table__action JS_toolbox-table__action--add"></div>
                      </div>
                    </li>
                    {% endif %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          {% comment %} /.toolbox-table {% endcomment %}
          {% endfor %}
        </div>
        {% comment %} /.toolbox-table {% endcomment %}
      </div>
    </div>
    {% comment %} /.toolbox-table {% endcomment %}
  </div>
</div>
{% comment %} /.toolbox-modal {% endcomment %}
