<div class="toolbox-modal JS_toolbox-modal--withColors" id="toolbox-modal-tagpicker">

  <div class="toolbox-table JS_toolbox-table ">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner">

            <input type="search" class="toolbox-table__input toolbox-table__input--fluid JS_toolbox-modal__filterInput" placeholder="filter through tags">

          </div>
        </li>
      </ul>
      {% include blocks/popup/ms-suggestions-tags-colors.html %}
    </div>
  </div>

  <div class="toolbox-table JS_toolbox-table">
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_selectionTitle">
        <li class="toolbox-table__cell toolbox-table__cell--action JS_toggle">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action JS_selectedText"> Selected</div>
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove JS_toolbox-table__action--removeAll JS_toolbox-table__action--removeAllSelected"></div>
          </div>
        </li>
      </ul>

      <div class="toolbox-table JS_toolbox-table--children JS_selectionChildren">
        <div class="JS_sortable ui-sortable">
          {% for item in site.data.tag-picker-color.selected %}
          <div class="toolbox-table__row">
            <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
              <li class="toolbox-table__cell">
                <div class="toolbox-table__cellInner JS_toggle--color">
                  <div class="toolbox-table__value">

                    {% include javascript/colorToggle.html color=item.color %} {% assign toolboxSelectorData = ",,," | append: item.name %} {% include components/toolbox-selector.html toolboxSelectorData=toolboxSelectorData expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}

                  </div>
                </div>
              </li>
              <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action ui-sortable-handle JS_toolbox-table__cell--draggable">
                <div class="toolbox-table__cellInner">
                  <div class="toolbox-table__action toolbox-table__action--hidden">އ</div>
                </div>
              </li>
              <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__action">
                <div class="toolbox-table__cellInner">
                  <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
                </div>
              </li>
            </ul>
            {% include blocks/popup/ms-sublist-tags-colors-color.html %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% comment %} /.toolbox-table {% endcomment %}
    </div>
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_optionsTitle">
        <li class="toolbox-table__cell toolbox-table__cell--toggle JS_toggle">
          <div class="toolbox-table__cellInner">
            <button class="toolbox-table__action"> All</button>
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__cell--removeAll JS_toolbox-table__action">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--removeAll JS_toolbox-table__action--remove"></div>
          </div>
        </li>
        <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--add JS_toolbox-table__cell--addAll JS_toolbox-table__action">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__action JS_toolbox-table__action--add JS_toolbox-table__action--addAll"></div>
          </div>
        </li>
      </ul>

      <div class="toolbox-table JS_toolbox-table--children JS_optionsChildren">
        {% for item in site.data.tag-picker-color.options %}
        <div class="toolbox-table__row">
          <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
            <li class="toolbox-table__cell ">
              <div class="toolbox-table__cellInner JS_toggle--color">
                <div class="toolbox-table__value">
                  {% include javascript/colorToggle.html color=item.color %}
                  {% assign toolboxSelectorData = ",,," | append: item.name %}
                  {% include components/toolbox-selector.html toolboxSelectorData=toolboxSelectorData expanded="true" readonly="true" singleselect="true" selectedIndexes="1" %}
                </div>
              </div>
            </li>
            {% if item.selected == "true" %}
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--remove JS_toolbox-table__action">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__action toolbox-table__action--secondary JS_toolbox-table__action--remove"></div>
              </div>
            </li>
            {% else %}
            <li class="toolbox-table__cell flex-grow-0 toolbox-table__cell--action JS_toolbox-table__cell--add JS_toolbox-table__action">
              <div class="toolbox-table__cellInner">
                <div class="toolbox-table__action JS_toolbox-table__action--add"></div>
              </div>
            </li>
            {% endif %}
          </ul>
          {% include blocks/popup/ms-sublist-tags-colors-color.html %}
         </div>
      {% endfor %}
      </div>
      {% comment %} /.toolbox-table {% endcomment %}
    </div>
  </div>
  {% comment %} /.toolbox-table {% endcomment %}

</div>
{% comment %} /.toolbox-modal {% endcomment %}
