<div class="itemBox">
  <div class="itemBox__row">
    <ul class="itemBox__rowInner">
      <li class="itemBox__cell">
        <div class="itemBox__cellInner">
          <input type="search" class="itemBox__input itemBox__input--fluid JS_appNav__filterInput" placeholder="filter through structure items">
        </div>
      </li>
    </ul>
  </div>
  {% include blocks/popup/ms-row-use-global-search.html%}
</div>
{% comment %} /.itemBox {% endcomment %}

<div class="itemBox JS_appNavBox">
  {% for group in site.data.app-nav-tab1.groups %}
    <div class="itemBox__row">
      <ul class="itemBox__rowInner itemBox__rowInner--item JS_children-closed">
        <li class="itemBox__cell itemBox__cell--action JS_toggle">
          <div class="itemBox__cellInner">
            <button class="itemBox__action">{{group.icon}} {{group.name}}</button>
          </div>
        </li>
        <li class="itemBox__cell itemBox__cell--action flex-grow-0">
          <div class="itemBox__cellInner">
            <button class="itemBox__action">→</button>
          </div>
        </li>
      </ul>
      <div class="itemBox JS_itemBox--children JS_children-closed" style="display:none;">
        {% for item in group.items %}
          <div class="itemBox__row">
            <ul class="itemBox__rowInner itemBox__rowInner--item JS_filterableCell">
              <li class="itemBox__cell itemBox__cell--permalink" tabindex="0">
                <div class="itemBox__cellInner ">
                  {% assign selectorData = ",,," | append: item %}
                  {% include components/selector.html selectorData=selectorData expanded="true" singleselect="true" readonly="true" selectedIndexes="1" %}
                </div>
              </li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% comment %} /.itemBox {% endcomment %}
