<div class="app-navigator cf">
  <div class="app-navigator__left">
    <div class="app-navigator__item app-navigator__item--white">
      <h1>
        <a href="#">←</a>
      </h1>
    </div>
  </div>
  <div class="app-navigator__center">
    <div class="app-navigator__item app-navigator__item--blue">
      <a href="#">ܓ</a>
    </div>
  </div>
  <div class="app-navigator__right">
    <div class="app-navigator__item app-navigator__item--white">
      <a href="#">ज</a>
    </div>
  </div>
</div>
