<aside class="document__comments">
    <div class="add-comment sticky__mobile__comment__header">
      <input class="add-comment__input" placeholder="use @username to notify">
      <div class="add-comment__actions">
        <i class="icon__paper-clip"></i>
        <i class="icon__arrow-right"></i>
      </div>
    </div>

    <div class="tabs tabs--gold hide-scrollbar">

      <div class="hide-scrollbar-inner">

      <div class="tabs__nav">
        <ul>
          <span class="tab__active-link-bar" style="left: 10px; width: 100.868px;"></span>
          <li><a href="#" class="tab__link active" tabindex="1"><i class="icon__speech-bubble"></i></a></li>
          <li><a href="#" class="tab__link" tabindex="2"><i class="icon__paper-clip"></i></a></li>
          <li><a href="#" class="tab__link" tabindex="3"><i class="icon__history"></i></a></li>
        </ul>
      </div>

      <div class="tabs__panels">
        <div class="tabs__panel" tabindex="1" style="">
          <div class="items">
            <div class="item item--comment">
              <div class="item__user">Nick De Jaeger</div>
              <div class="item__inner">
                <p><span class="tag__user">@KonstantinKharlov</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="item__postdate">posted at <span class="postdate__time">10:21</span> on <span class="postdate__date">12/06/2017</span></div>
            </div>
            <div class="item item--attachment item--self">
              <div class="item__user">Jetro Wils</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/files.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">7:11</span> on <span class="postdate__date">11/06/2017</span></div>
            </div>
            <div class="item item--attachment">
              <div class="item__user">Konstantin Kharlov</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/roadwork.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">9:01</span> on <span class="postdate__date">10/06/2017</span></div>
            </div>
            <div class="item item--comment">
              <div class="item__user">Nick De Jaeger</div>
              <div class="item__inner">
                <p><span class="tag__user">@KonstantinKharlov</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="item__postdate">posted at <span class="postdate__time">10:21</span> on <span class="postdate__date">12/06/2017</span></div>
            </div>
            <div class="item item--attachment item--self">
              <div class="item__user">Jetro Wils</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/files.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">7:11</span> on <span class="postdate__date">11/06/2017</span></div>
            </div>
            <div class="item item--attachment">
              <div class="item__user">Konstantin Kharlov</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/roadwork.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">9:01</span> on <span class="postdate__date">10/06/2017</span></div>
            </div>
            <div class="item item--comment">
              <div class="item__user">Nick De Jaeger</div>
              <div class="item__inner">
                <p><span class="tag__user">@KonstantinKharlov</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="item__postdate">posted at <span class="postdate__time">10:21</span> on <span class="postdate__date">12/06/2017</span></div>
            </div>
            <div class="item item--attachment item--self">
              <div class="item__user">Jetro Wils</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/files.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">7:11</span> on <span class="postdate__date">11/06/2017</span></div>
            </div>
            <div class="item item--attachment">
              <div class="item__user">Konstantin Kharlov</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/roadwork.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">9:01</span> on <span class="postdate__date">10/06/2017</span></div>
            </div>
            <div class="item item--comment">
              <div class="item__user">Nick De Jaeger</div>
              <div class="item__inner">
                <p><span class="tag__user">@KonstantinKharlov</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="item__postdate">posted at <span class="postdate__time">10:21</span> on <span class="postdate__date">12/06/2017</span></div>
            </div>
            <div class="item item--attachment item--self">
              <div class="item__user">Jetro Wils</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/files.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">7:11</span> on <span class="postdate__date">11/06/2017</span></div>
            </div>
            <div class="item item--attachment">
              <div class="item__user">Konstantin Kharlov</div>
              <div class="item__inner">
                <div class="cover" style="background-image:url(assets/images/roadwork.jpg);"></div>
                <div class="caption">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
              </div>
              <div class="item__postdate">uploaded at <span class="postdate__time">9:01</span> on <span class="postdate__date">10/06/2017</span></div>
            </div>
            <div class="item item--comment item--self">
              <div class="item__user">Jetro Wils</div>
              <div class="item__inner">
                <p><span class="tag__user">@System Administer</span> Sum of effort (B 5517,3 5520,8) 👍👍👍</p>
              </div>
              <div class="item__postdate">posted at <span class="postdate__time">13:53</span> on <span class="postdate__date">07/06/2017</span></div>
            </div>
          </div>
        </div>
      </div>

      </div><!-- /.hide-scrollbar-ff-inner -->

    </div><!-- /.tabs -->
</aside><!-- /.document__comments -->
