<div class="listtools-container">

  <div class="listtools" id="listtools">
    <ul id="ctl00_HeaderContentPlaceHolder_ListTools_tools">

      <li class="configure" id="listtools_configure"><a href="/dashboard/55754f/settings" tabindex="-1">Settings</a></li>
      <li class="new" id="listtools_new" title="Create a smartlist with your own search criteria"><a href="../UserControls/#create" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl03" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Create new smart list</a></li>
      <li class="copy" id="listtools_copy" title="Create a new smartlist based on the one currently displayed."><a href="../UserControls/#copy" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl05" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Copy smartlist</a></li>
      <li class="move" id="listtools_bulkupdate" title="Update, Link or Delete (a selection of) items in this list"><a href="../UserControls/#bulk" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl07" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Bulk update</a></li>
      <li class="configure" id="listtools_fullscreen" title="Remove the headers to see more items"><a href="../UserControls/#fullscreen" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl09" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Full Screen</a></li>
      <li class="report" id="listtools_report" title="Export all items of this smart list"><a href="../UserControls/#report" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl11" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Report</a></li>
      <li class="copy" id="listtools_save" title="Save all outstanding edits"><a href="../UserControls/#save" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl13" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Save changes</a></li>
      <li class="print" id="listtools_print" title="Create a printable view of all items in this (Smart) List"><a href="/PrintableViews/datalistprint.aspx?filterid=55754f&amp;__ncforminfo=C2u-k1BMRUlL7I-5wAnmgMCm7wBx0pmNql_qa3ws-FWUd9xvhzTiaRagVMAKBCgLIejAO2xFa6pThqsmZno-qXnkaIAuRqqWW9rcieVBPvo=" target="new" tabindex="-1">Print</a></li>
    </ul>
    <ul id="ctl00_HeaderContentPlaceHolder_ListTools_alttools" class="alt">

      <li class="actionmenu view" id="datalist_changeview"><a href="../UserControls/#view" id="ctl00_HeaderContentPlaceHolder_ListTools_ctl15" class="button color-blue" onclick="javascript:return false;" onmouseup="javascript:return false;" tabindex="-1">Change view</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
